@font-face{
    font-family:"Futura-LT-W01-Light";
    src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/2b40e918-d269-4fd9-a572-19f5fec7cd7f.eot?#iefix");
    src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/2b40e918-d269-4fd9-a572-19f5fec7cd7f.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/26091050-06ef-4fd5-b199-21b27c0ed85e.woff2") format("woff2"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/cca525a8-ad89-43ae-aced-bcb49fb271dc.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/88cc7a39-1834-4468-936a-f3c25b5d81a1.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/14d6bf5d-15f1-4794-b18e-c03fb9a5187e.svg#14d6bf5d-15f1-4794-b18e-c03fb9a5187e") format("svg");
}
@font-face{
    font-family:"Futura-LT-W01-Book";
    src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/cf053eae-ba1f-44f3-940c-a34b68ccbbdf.eot?#iefix");
    src:url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/cf053eae-ba1f-44f3-940c-a34b68ccbbdf.eot?#iefix") format("eot"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/8bf38806-3423-4080-b38f-d08542f7e4ac.woff2") format("woff2"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/e2b9cbeb-fa8e-41cd-8a6a-46044b29ba52.woff") format("woff"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/c2a69697-4f06-4764-abd4-625031a84e31.ttf") format("truetype"),url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/dc423cc1-bf86-415c-bc7d-ad7dde416a34.svg#dc423cc1-bf86-415c-bc7d-ad7dde416a34") format("svg");
}


.p{
    margin-bottom: 0px!important;
}
.image_decoration{
    width: 95%;
    height: 100%;
    z-index: 100;
    bottom: 0px;
    text-align: center;
    margin-top: -24%;
}


.contenu{
    box-shadow:0px 9px 9px 6px #212529;
}
.menu-milieu{
    text-align:center;
    width:100%;

}

.footer{
    text-align:center;
    width:100%;

}
.footer p{
    color: #FFFFFF;
    font-size: 20px !important;
    font-family: Futura-LT-W01-Book, sans-serif;

}
.header{
    overflow: hidden;
    width:100%;
}
header {
    position: relative;
    height: auto;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

/*  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  } */
#video_home{
    width: 100% !important;
    height: auto;
}
.image_logo{
    width: 100%;
    margin-top: 25px;
    text-align: center;
}
#videoDiv_home {
    height: 500px;
    overflow: hidden;
    position: relative;


}
#videoBlock_home {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}.videoClick {
     position: absolute;
     top: 20%;
     width: 100%;
     margin: 0;
     padding: 0;
     left:0;
     text-align:center
 }#videoMessage {
      width: 100%;
      height:100%;
      position: absolute;
      top: 0;
      left: 0;
  }
#videoMessage{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 0.4em;
    margin: 0;
}
#videoMessage {
    text-shadow: 2px 2px 2px #000000;
    color:white;
    z-index:99
}
.button a{
    color: white;
    text-decoration: none;
}

.button {
    border-style: solid;
    border-radius: 30px;
    padding: 8px;
    width: auto;
    border-color: white;
}
.button:hover {
    background-color: rgba(43, 124, 116, 1);
    border-color: rgba(50, 50, 50, 1);
    transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}
.titre h1 {
    font-family: Futura-LT-W01-Light, sans-serif;
    color: #FFFFFF ;
    font-size: 22px ;
    font-weight: bold ;
}
.contenus p span {
    color: #FFFFFF ;
    font-size: 17px !important;
    font-family: Futura-LT-W01-Light, sans-serif;
}
.contenus a{
    color: #FFFFFF ;
    font-size: 17px ;
    font-family: Futura-LT-W01-Light, sans-serif;
}
.contenus{
    padding-left: 15px;
    padding-right: 15px;
    color: #FFFFFF ;
    font-size: 17px ;
    font-family: Futura-LT-W01-Light, sans-serif;
}
.footer{
    padding-bottom: 15px;
}
.titre_societe{
    padding-top: 15px;
    padding-bottom: 15px;
}
.telephone{
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin: 0;
    font-family: Futura-LT-Book,sans-serif;
}
.localisation{
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin: 0;
    font-family: Futura-LT-Book,sans-serif;
}