﻿
@media screen and (min-width: 992px) {
    .container {
        max-width: 1250px !important;
        width: 1250px;
       background-color:white!important;
       width: 100%;
       height: 100vh;
    }
    
        .fest{
            background-color:rgba(0,0,0,.6)!important;
        }
    }
    .menus a:hover{
        text-decoration: none!important;
    }
    .menus a:hover{
        text-decoration: none!important;
    }.main_body_list_row
    @media screen and (min-width: 800px) {
        .dropdown, .dropup {
            text-align: right!important;
        }
    }
    .dropdown-menu{
        float: none;!important;
        margin-left: 38%;
    }
    .dropdown-menu.main_communes_select {
        margin-left: 38%;
        margin-right: 0!important;
    }
    .dropdown-menu.main_commercant_select {
        margin-right: 38% !important;
        margin-left: 0!important;
        margin-top: -20px;
    }
    @media screen and (min-width: 992px) {
        .dropdown-menu{
            float: none;!important;
            margin-left: 38%;
        }
    }
    @media screen and (max-width: 1080px) {
        .slog
        {
            font-size: 15px;
        }
    }
    body{
        /*background-image: url("bg.jpg")!important*/
    }
    {
        border-top:double;
        border-color: #da188e;
    }
    /*********bootstrap customizer************/
    
    /*.padding0 {
        padding: 0 !important; bouton link evenement
    }*/
    .padding15 {
        padding: 15px !important;
    }
    .paddingleft0 {
        padding-left: 0 !important;
    }
    .paddingleft15 {
        padding-left: 15px !important;
    }
    .paddingright0 {
        padding-right: 0 !important;
    }
    .paddingright15 {
        padding-right: 15px !important;
    }
    .paddingbottom0 {
        padding-bottom: 0 !important;
    }
    .paddingbottom15 {
        padding-bottom: 15px !important;
    }
    .paddingbottom30 {
        padding-bottom: 30px !important;
    }
    .paddingtop0 {
        padding-top: 0 !important;
    }
    .paddingtop5 {
        padding-top: 5px !important;
    }
    .paddingtop10 {
        padding-top: 10px !important;
    }
    .paddingbottom10 {
        padding-bottom: 10px !important;
    }
    .paddingtop15 {
        padding-top: 15px !important;
    }
    
    .paddingtop30 {
        padding-top: 30px !important;
    }
    .paddingtopbottom15 {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .margin0 {
        margin: 0 !important;
    }
    .marginleft0 {
        margin-left: 0 !important;
    }
    .marginleft15 {
        margin-left: 15px !important;
    }
    .marginright0 {
        margin-right: 0 !important;
    }
    .marginright15 {
        margin-right: 15px !important;
    }
    .marginbottom0 {
        margin-bottom: 0 !important;
    }
    .marginbottom5 {
        margin-bottom: 5px !important;
    }
    .container.main_rubrique_menu {
        height: 50px;
    }
    .marginbottom15 {
        margin-bottom: 15px !important;
    }
    .margintop0 {
        margin-top: 0 !important;
    }
    .margintop5 {
        margin-top: 5px !important;
    }
    .margintop10 {
        margin-top: 10px !important;
    }
    .margintop15 {
        margin-top: 15px !important;
    }
    .margintop30 {
        margin-top: 30px !important;
    }
    .justify {
        text-align: justify;
    }
    .textalignright {
        text-align: right;
    }
    .textalignleft {
        text-align: left;
    }
    .textaligncenter {
        text-align: center;
    }
    /*******************bootstrap customize end************************/
    
    body {
        font-family:Futura_regular;
    }
    .slog{
        padding-top: 20px;
        text-align: center;
        line-height: 21.3px;
        font-family: "Futura Md", sans-serif;
        font-style: normal;
        font-weight: normal;
        color: #000000;
        background-color: transparent;
        font-variant: normal;
        font-size: 20.0px;
        vertical-align: 0;
    }
    .main_rubrique_banner_title {
        font-family: "Futura_medium";
        font-size: 24px;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 40px;
        text-decoration: none;
        vertical-align: 0;
        text-align: center;
        text-transform: uppercase;
        padding: 15px;
        color: #ffffff;
    }
    .width100p {
        width: 100% !important;
    }
    .vs_main_menu .vs_ul_main_menu {
        font-family: Arial, sans-serif;
        font-weight: normal;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        font-style: normal;
        line-height: 65px;
        font-size: 12px;
        background-color: #000000;
        height: 65px;
        margin: 0;
        padding: 0;
        color: #FFFFFF;
    }
    .vs_main_menu .vs_ul_main_menu a {
        color: #FFFFFF;
    }
    .vs_main_menu .vs_ul_main_menu a:hover, .vs_main_menu .vs_ul_main_menu a:focus, .vs_main_menu .vs_ul_main_menu a:active {
        color: #da1893;
        text-decoration: none;
    }
    .vs_ul_main_menu div:first-child, .vs_ul_main_menu div:last-child {
        background: none;
    }
    .mm_1 {
        width: 4%
    }
    .mm_2 {
        width: 22%
    }
    .mm_3 {
        width: 15%
    }
    .mm_4 {
        width: 15%
    }
    .mm_5 {
        width: 15%
    }
    .mm_6 {
        width: 10%
    }
    .mm_7 {
        width: 20%
    }
    .mm_8 {
        width: 18%
    }
    .vs_ul_main_menu div {
        float: left;
    }
    .vs_ul_main_menu img {
        padding-left: 10px;
    }
    .main_banner_container {
        background-color:rgba(0,0,0,.6)!important;
        min-height: 183px;
    }
    .main_banner_container table {
        width: 100%;
        height: 100%;
    }
    .container.main_rubrique_menu .row.text-center.h-100 .col {
        line-height: 50px;
        color: #000000;
        font-family: Arial, sans-serif;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        font-style: normal;
        font-size: 14px;
    }
    .container.main_rubrique_menu {
        background-color: #E6E6E6;
    }
    .main_rubrique_banner {
        background-color :rgba(0,0,0,.6);
    }
    .main_menu_active {
        /*background-color: #DA1181!important;*/
        color: #000000 !important;
        background-image: none;
    }
    .container.main_rubrique_menu .row.text-center.h-100 .col.main_menu_active {
        margin: 0 -10px;
    }
    .container.main_rubrique_menu .row.text-center.h-100 .col:last-child {
        background-image: none;
        margin-right: 0 !important;
    }
    .container.main_rubrique_menu .row.text-center.h-100 .col:first-child {
        margin-left: 0 !important;
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
        color: #FFFFFF;
        background-color: #DA1181;
    }
    .subcateg_column {
        width: 20%;
    }
    .subcateg_column input {
        margin-right: 10px;
    }
    .nav-tabs .nav-link {
        background-color: #FFFFFF;
        color: #333333;
        border: none;
    }
    .nav-tabs {
        border: none;
    }
    .tab-content {
        background-color: #DA1181;
        color: #ffffff;
        margin-bottom: 15px;
        border-radius: 5px;
        padding: 15px;
    }
    .subcateg_filter_table {
        width: 100%;
    }
    .subcateb_filter_banner {
        border: 1px solid #ffffff;
        font-size: 12px
    }
    .form-check-label.btn {
        cursor: pointer;
    }
    .main_body_list {
        /*background-color: #FFFFFF;*/
    }
    .main_body_title {
        background-color: white!important;
        text-align: center;
    }
    .main_body_list_row {
        margin: 15px 0 0 0;
        display: table;
        /*background-color: #E5E5E5;*/
        background-color: #fff;
    }
    .main_body_card_title {
        color: #da1893;
        font-size: 16px;
        font-weight: bold;
    }
    .main_body_card_txt_container .main_body_card_btn_links {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .row.main_body_title h1 {
        line-height: 53.00px;
        font-family: futura_regular;
        font-style: normal;
        font-weight: normal;
        color: #000000;
        background-color: transparent;
        text-decoration: none;
        font-variant: normal;
        font-size: 40.0px;
        vertical-align: 0;
    }
    .main_body_card_title_container {
    }
    .main_body_card_txt_container {
        height: 300px;
        overflow: hidden;
    }
    .main_body_loading_list {
        /*background-color: #ffffff;*/
        padding: 15px;
    }
    .row.main_body_title h2 {
        line-height: 35.00px;
        font-family: futura_regular;
        font-style: normal;
        font-weight: normal;
        color: #000000;
        background-color: transparent;
        text-decoration: none;
        font-variant: normal;
        font-size: 26.7px;
        vertical-align: 0;
    }
    #tab_reinit .subcateb_filter_banner {
        cursor: pointer;
    }
    .main_banner_container .vsv_main_ville_name_txt {
        padding: 105px 25px 0 25px;
        font-family: "Futura Md", sans-serif;
        font-style: normal;
        font-weight: normal;
        color: #FFFFFF;
        font-variant: normal;
        font-size: 20px;
        vertical-align: 0;
        text-transform: uppercase;
        min-height: 190px;
    }
    /*google translate customize*/
    #google_translate_element, #google_translate_element_2, .goog-te-gadget-simple {
        width: 100%;
    }
    #google_translate_element .skiptranslate .goog-te-gadget-simple,
    #google_translate_element_2 .skiptranslate .goog-te-gadget-simple {
        height: 30px;
        border: none !important;
    }
    #google_translate_element .skiptranslate .goog-te-gadget-simple a.goog-te-menu-value img,
    #google_translate_element .skiptranslate .goog-te-gadget-simple a.goog-te-menu-value span:last-child,
    #google_translate_element .skiptranslate .goog-te-gadget-simple a.goog-te-menu-value span:nth-child(3),
    #google_translate_element .skiptranslate .goog-te-gadget-simple .goog-te-gadget-icon,
    
    #google_translate_element_2 .skiptranslate .goog-te-gadget-simple a.goog-te-menu-value img,
    #google_translate_element_2 .skiptranslate .goog-te-gadget-simple a.goog-te-menu-value span:last-child,
    #google_translate_element_2 .skiptranslate .goog-te-gadget-simple a.goog-te-menu-value span:nth-child(3),
    #google_translate_element_2 .skiptranslate .goog-te-gadget-simple .goog-te-gadget-icon
    {
        display: none !important;
    }
    .leftcontener2013title_vs .form-check-label {
        padding: 10px 0 !important;
        margin: 0 !important;
        border: none !important;
    }
    /*article pages*/
    .oAgenda_subcateg {
        background-color: transparent;
        color: #000000;
        font-family: "Arial", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-variant: normal;
        font-weight: 700;
        line-height: 16px;
        margin: 0 0 5px 0 !important;
        padding: 0 !important;
        text-decoration: none;
        vertical-align: 0;
    }
    .oAgenda_nom_manifestation {
        background-color: transparent;
        color: #da1893;
        font-family: "Arial", sans-serif;
        font-size: 15px;
        font-style: normal;
        font-variant: normal;
        font-weight: 700;
        line-height: 20px;
        margin: 0 0 5px 0 !important;
        padding: 0 !important;
        text-decoration: none;
        vertical-align: 0;
    }
    .oAgenda_date_debut {
        background-color: transparent;
        color: #000000;
        font-family: "Arial", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-variant: normal;
        font-weight: 700;
        line-height: 20px;
        margin: 0 0 5px 0 !important;
        padding: 0 !important;
        text-decoration: none;
        vertical-align: 0;
    }
    .oAgenda_nom_localisation {
        background-color: transparent;
        color: #000000;
        font-family: "Arial", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 20px;
        margin: 0 0 5px 0 !important;
        padding: 0 !important;
        text-decoration: none;
        vertical-align: 0;
    }
    .oAgenda_ville {
        background-color: transparent;
        color: #000000;
        font-family: "Arial", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 20px;
        margin: 0 0 5px 0 !important;
        padding: 0 !important;
        text-decoration: none;
        vertical-align: 0;
    }
    /*article details page*/
    .btn_link_rose, .btn_link_rose:hover, .btn_link_rose:focus {
        color: #FFFFFF;
        text-decoration: none;
        background-color: #e553b0;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
        border-radius: 25px;
    }
    .title_categ_black {
        height: 40px;
        width: 100%;
        background-color: #000000;
        text-align: center;
        color: #ffffff;
        font-family: arial;
        font-size: 18.7px;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 23px;
        text-decoration: none;
        padding-top: 9px;
        margin-bottom: 15px;
        margin-top: 15px;
        text-transform: uppercase;
    }
    .container_slide_article > img {
        max-width: 100% !important;
    }
    .contact_info_article_list, .share_btn_article_list {
        list-style-type: none;
        padding: 0;
    }
    .contact_info_article_list li, .share_btn_article_list li {
        display: inline;
        padding: 0 5px;
    }
    .detail_agenda_title_container {
        text-align: center;
        padding-bottom: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
        color: #000;
        height: 100px;
        display: table;
        width: 100%;
    }
    .oDetailAgenda_subcateg {
        background-color: transparent;
        color: #000000;
        font-family: "Arial", sans-serif;
        font-size: 19px;
        font-style: normal;
        font-variant: normal;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
        vertical-align: 0;
    }
    .oDetailAgenda_nom_manifestation {
        background-color: transparent;
        color: #e553b0;
        font-family: "Arial", sans-serif;
        font-size: 22px;
        font-style: normal;
        font-variant: normal;
        font-weight: 700;
        line-height: 30.7px;
        margin-bottom: 6.7px;
        text-align: center;
        vertical-align: 0;
    }
    .oDetailAgenda_date_debut {
        background-color: transparent;
        color: #000000;
        font-family: "Arial", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 24px;
        text-align: center;
        vertical-align: 0;
    }
    .oDetailAgenda_nom_localisation {
        background-color: transparent;
        color: #000000;
        font-family: "Arial", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 24px;
        text-align: center;
        vertical-align: 0;
    }
    .oDetailAgenda_telephone {
        background-color: transparent;
        color: #000000;
        font-family: "Arial", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 30px;
        text-align: center;
        vertical-align: 0;
    }
    .leftcontener2013title_vs {
        color: #000000;
        cursor: pointer;
        float: left;
        font-family: "Arial", sans-serif;
        font-size: 12px;
        height: auto;
        position: relative;
        width: 100%;
        background-color: #ffffff;
        padding: 0;
    }
    .leftcontener2013title_vs:hover, .leftcontener2013title_vs:focus, .leftcontener2013title_vs:active, .leftcontener2013title_vs_active {
        background-color: #DA1181 !important;
        color: #ffffff !important;
    }
    #div_subcateg_annuaire_contents {
        background-color: #DA1181;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        /*display: table;*/
        width: 100%;
        color: #ffffff;
    }
    .bonplan_item_line {
        display: table;
        position: relative;
        margin-bottom: 15px;
        /*background-color: #E5E5E5;*/
        background-color: #fff;
        height: 500px;
        min-height: 500px;
        overflow: hidden;
    }
    .bonplan_list_img {
        min-height: 238px;
        float: left;
        height: 238px;
        position: relative;
        background-color: #FFFFFF;
        overflow: hidden;
    }
    .bonplan_list_details {
        background-color: #FFFFFF;
        position: relative;
        display: table;
        height: 200px;
        overflow: hidden;
    }
    .p_init_link {
        background-color: transparent;
        color: #000000;
        font-family: "Arial", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 19px;
        text-decoration: underline;
        vertical-align: 0;
    }
    .fidelity_title {
        background-color: transparent;
        color: #000000;
        font-family: "Arial", sans-serif;
        font-size: 14.7px;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 17px;
        text-decoration: none;
        vertical-align: 0;
    }
    .fidelity_subcategory {
        background-color: transparent;
        color: #000000;
        font-family: "Arial", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-variant: normal;
        font-weight: 700;
        line-height: 20px;
        text-decoration: none;
        vertical-align: 0;
        text-align: center;
    }
    .fidelity_NomSociete {
        background-color: transparent;
        color: #000000;
        font-family: "Arial", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-variant: normal;
        font-weight: 700;
        line-height: 20px;
        margin-bottom: 0;
        vertical-align: 0;
        text-align: center;
    }
    .fidelity_description {
        background-color: transparent;
        color: #000000;
        font-family: "Arial", sans-serif;
        font-size: 14.7px;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        line-height: 17px;
        text-decoration: none;
        vertical-align: 0;
    }
    .fidelity_img_content {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% 100%;
        height: 238px;
        background-color: #E5E5E5;
        overflow: hidden;
    }
    .fidelity_txt_content {
        height: 370px;
        background-color: white;
        padding-top: 15px !important;
        overflow: hidden;
    }
    .fidelity_ico_sign_content {
        background-position: center top;
        background-repeat: no-repeat;
        color: #ffffff;
        font-size: 40px;
        font-weight: bold;
        min-height: 150px;
        padding: 40px 0 0;
        text-align: center;
        margin: 15px 0 0;
    }
    .fidelity_percent_exposant {
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
        vertical-align: super;
    }
    .fidelity_item_container {
        /*box-shadow: 1px 1px 12px #555;*/
        margin-top: 15px;
    }
    .fidelity_item_div {
        padding-right: 15px;
    }
    .annonce_list_img img {
        height: auto !important;
    }
    .annonce_nv_list_livraison_content {
        padding: 0px !important;
    }
    .annonce_list_img {
        float: left;
        position: relative;
        background-color: #FFFFFF;
        min-height: 246px;
        height: 246px;
        overflow: hidden !important;
    }
    .annonce_item_line {
        display: table;
        float: left;
        position: relative;
        margin-bottom: 15px;
        width: 100%;
        /*background-color: #E1E1E1;*/
        background-color: #fff;
    
    }
    .annonce_list_details {
        background-color: #FFFFFF;
        float: left;
        position: relative;
    }
    .tab_filter_date_input {
        font-size: 12px;
        height: 40px;
        text-align: center;
        line-height: 22px;
    }
    .vsv_accueil_btn {
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 20px 35px;
        background-color: #DA1181;
        line-height: 22px;
        font-size: 17px;
        display: block;
    }
    .vsv_accueil_btn:active, .vsv_accueil_btn:hover, .vsv_accueil_btn:focus {
        background-color: #000000;
        text-decoration: none;
        color: #FFFFFF;
        padding: 20px 50px;
    }
    .vsv_accueil_btn_black {
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 20px 35px;
        background-color: #000000;
        line-height: 20px;
        font-size: 14px;
        display: block;
        width: 270px;
        font-weight: bold;
    }
    .vsv_accueil_btn_black:active, .vsv_accueil_btn_black:hover, .vsv_accueil_btn_black:focus {
        text-decoration: none;
        background-color: #DA1181;
        color: #FFFFFF;
        padding: 20px 50px;
        border: 1px solid #ffffff;
    }
    .vsv_accueil_rubrique_title {
        line-height: 31.00px;
        font-family: Futura_regular;
        font-style: normal;
        font-weight: normal;
        color: #000000;
        background-color: transparent;
        text-decoration: none;
        font-variant: normal;
        font-size: 22.0px;
        vertical-align: 0;
        min-height: 100px;
    }
    .accueil_content_middle .vsv_accueil_rubrique_title {
        color: #ffffff;
        height: 180px;
    }
    .vsv_accueil_title h1, .vsv_accueil_title h2 {
        font-family: Futura_regular;
    }
    .vsv_accueil_rubrique_image {
        height: 290px;
        overflow: hidden;
    }
    .accueil_content_middle {
        color: #FFFFFF;
    }
    .accueil_content_middle h1, .accueil_content_middle h2, .accueil_content_middle ul {
        color: #FFFFFF;
        font-family: Futura_regular;
    }
    .accueil_content_middle ul {
        font-size: 18px;
    }
    .vsv_accueil_text_bottom {
        font-size: 16px;
        font-family: Futura_regular;
    }
    #div_subcateg_annuaire_contents .subcateg_column {
        width: auto;
    }
    .accueil_content_img_btn {
        background-color: #ffffff;
    }
    .accueil_content_img_btn .content_img_btn_img_top .content_img_btn_img_pright {
        /*padding-left: 180px;*/
    }
    .accueil_select_content_1 {
        background: rgba(252, 244, 244, 0.8);
        /*background-color: #ffffff;*/
        font-family: Futura_regular;
        color: #000000;
    }
    .title_1 {
        text-align: center;
        line-height: 48px;
        font-style: normal;
        font-weight: normal;
        color: #000000;
        background-color: transparent;
        font-variant: normal;
        font-size: 37px;
        vertical-align: 0;
        font-family: Futura_medium;
    }
    .accueil_select_content_1 .title_2 {
        line-height: 38.00px;
        font-style: normal;
        font-weight: normal;
        color: #000000;
        background-color: transparent;
        text-decoration: none;
        font-variant: normal;
        font-size: 29.3px;
        vertical-align: 0;
        font-family: Futura_medium;
    }
    .accueil_select_content_1 .title_3 {
        text-align: center;
        margin-bottom: 20.0px;
        line-height: 32.0px;
        font-family: Futura_regular;
        font-weight: normal;
        color: #000000;
        background-color: transparent;
        font-variant: normal;
        font-size: 19.0px;
        vertical-align: 0;
    }
    .vsv_accueil_btn.vsv_select_link.plus_infos_link {
        width: 50%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .title_rose_select {
        font-size:30px;
        font-family: "Futura Hv";
    }
    .accueil_select_content_1 .select_list_ville_select {
        margin: 10px;
        padding: 10px;
        border: 2px solid purple;
        height: 70px;
        font-style: normal;
        font-family: Futura_regular;
        color: #DA1893;
        font-size: 30px;
        cursor: pointer;
    }
    .txt_rose_color {
        color: #DA1893 !important;
    }
    .sa_txt_size {
        font-size:18px;
    }
    .txt_rose_color.title_1 {
        font-size: 33px;
    }
    .txt_rose_color.strong_txt {
        font-size: 33px;
        font-weight:bold;
        line-height: 40px;
    }
    .accueil_select_content_2 {
        background: rgba(252, 244, 244, 0.8);
        text-align: justify;
        line-height: 34.7px;
        font-family: Futura_regular;
        font-style: normal;
        font-weight: normal;
        color: #000000;
        font-variant: normal;
        font-size: 24.0px;
        vertical-align: 0;
    }
    .title_1 {
        line-height: 46px;
        font-family: Futura_medium;
        font-style: normal;
        font-weight: normal;
        color: #000000;
        background-color: transparent;
        text-decoration: none;
        font-variant: normal;
        vertical-align: 0;
        font-size: 37px;
    }
    .home_select_vsv {
        line-height: 40.00px;
        font-family: Futura_regular;
        font-style: normal;
        font-weight: normal;
        color: #000000;
        background-color: transparent;
        text-decoration: none;
        font-variant: normal;
        font-size: 24.0px;
        vertical-align: 0;
        list-style: none;
    }
    .accueil_select_content_2 .title_2 {
        line-height: 49.00px;
        font-family: Futura_regular;
        font-style: normal;
        font-weight: normal;
        color: #000000;
        background-color: transparent;
        text-decoration: none;
        font-variant: normal;
        font-size: 37.3px;
        vertical-align: 0;
    }
    .accueil_select_content_2 .footer {
        background-color: #DA1893;
        color: #FFFFFF;
        line-height: 31.00px;
        font-family:Futura_regular;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        font-variant: normal;
        font-size: 24.0px;
        vertical-align: 0;
    }
    .accueil_select_content_2 .footer .text_1 {
        font-size: 34.0px;
        line-height: 40.00px;
    }
    .accueil_select_content_2 .footer .text_2 {
        font-size: 22.0px;
        line-height: 35.00px;
    }
    .accueil_select_content_2 .img_content {
        min-height: 250px;
        line-height: 38.00px;
        font-family: Futura_medium;
        font-style: normal;
        font-weight: normal;
        color: #ffffff;
        background-color: transparent;
        text-decoration: none;
        font-variant: normal;
        font-size: 29.3px;
        vertical-align: 0;
        text-align: left;
    }
    .otherville_nav_bar_menu .navbar {
        background-color: #666666;
        color: #ffffff;
    }
    .otherville_nav_bar_menu .navbar a,
    .otherville_nav_bar_menu .navbar a:hover,
    .otherville_nav_bar_menu .navbar a:focus,
    .otherville_nav_bar_menu .navbar a:active
    {
        color: #ffffff;
    }
    .main_nav_bar_menu .navbar {
        background-color: #000000 !important;
        color: #ffffff;
    }
    .main_nav_bar_menu .navbar,
    .main_subcateg_tab_filter .navbar,
    .main_nav_bar_rubrique_menu .navbar {
        min-height:40px;
        line-height: 40px;
    }
    .main_nav_bar_menu .navbar a,
    .main_nav_bar_menu .navbar a:hover,
    .main_nav_bar_menu .navbar a:focus,
    .main_nav_bar_menu .navbar a:active
    {
        color: #ffffff;
    }
    .navbar .navbar-toggler {
        left: 0 !important;
        line-height: 35px;
        border: none;
    }
    .navbar .navbar-toggler .navbar-toggler-icon {
        background: none !important;
    }
    .main_nav_bar_menu .navbar .navbar-brand {
        text-transform: none !important;
    }
    .main_nav_bar_rubrique_menu .navbar {
        background-color: #da1893 !important;
    }
    .main_nav_bar_rubrique_menu .navbar li.nav-item{
        height: 40px;
    }
    .main_nav_bar_rubrique_menu .navbar .navbar-brand,
    .main_nav_bar_rubrique_menu .navbar li.nav-item a,
    .main_nav_bar_rubrique_menu .navbar li.nav-item a:hover,
    .main_nav_bar_rubrique_menu .navbar li.nav-item a:focus,
    .main_nav_bar_rubrique_menu .navbar li.nav-item a:active
    {
        color: #ffffff !important;
    }
    .main_nav_bar_rubrique_menu .navbar li.nav-item:hover,
    .main_nav_bar_rubrique_menu .navbar li.nav-item:focus,
    .main_nav_bar_rubrique_menu .navbar li.nav-item.main_menu_active
    {
        background-color: #da1893;
    }
    /*-------------------*/
    .main_nav_bar_filter_menu .navbar {
        background-color: #da1893 !important;
    }
    .main_nav_bar_filter_menu .navbar li.nav-item{
        background-color: #ff57b6;
    }
    .main_nav_bar_filter_menu .navbar .navbar-brand,
    .main_nav_bar_filter_menu .navbar li.nav-item label
    {
        color: #ffffff !important;
    }
    .main_nav_bar_filter_menu .navbar li.nav-item:hover,
    .main_nav_bar_filter_menu .navbar li.nav-item:focus,
    .main_nav_bar_filter_menu .navbar li.nav-item.main_menu_active
    {
        background-color: #da1893;
    }
    .main_nav_bar_filter_menu .navbar li.nav-item label
    {
        border: none;
        text-align: left;
        padding-left: 40px !important;
        width: 100% !important;
    }
    /*-------------------*/
    .annuaire_banner_pub_link {
        background-color: #E5E5E5;
    }
    .navbutton_category_list_filter {
        line-height: 30px;
        background-color: #000000;
        color: #ffffff;
        font-size: 16px !important;
    }
    .navbutton_category_list_filter a,
    .navbutton_category_list_filter a:hover,
    .navbutton_category_list_filter a:focus,
    .navbutton_category_list_filter a:active
    {
        color: #ffffff;
        text-decoration: none;
    }
    #google_translate_element_2 .goog-te-gadget-simple {
        margin-top: 10px !important;
    }
    
    /* back to top button */
    #return-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.7);
        width: 50px;
        height: 50px;
        display: block;
        text-decoration: none;
        -webkit-border-radius: 35px;
        -moz-border-radius: 35px;
        border-radius: 35px;
        display: none;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    #return-to-top i {
        color: #fff;
        margin: 0;
        position: relative;
        left: 16px;
        top: 13px;
        font-size: 19px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    #return-to-top:hover {
        background: rgba(0, 0, 0, 0.9);
    }
    #return-to-top:hover i {
        color: #fff;
        top: 5px;
    }
    /* back to top button */
    .vsv_top_page_container_main {
        color: #ffffff;
    }
    .vsv_top_page_btn_main {
        position: fixed;
        bottom: 0;
    }
    .vsv_top_page_btn_main .container {
        background-color: rgba(0, 0, 0, 0.5);
        color: #ffffff;
        height: 35px;
        line-height: 35px;
    }
    .vsv_top_page_btn_main .container .top_link_btn {
        text-align: left;
        width: 50%;
    }
    .vsv_top_page_btn_main .container .top_link_txt {
        text-align: right;
        font-size: 16px !important;
        width: 50%;
    }
    .vsv_top_page_container_main .vsv_top_page_btn_main a,
    .vsv_top_page_container_main .vsv_top_page_btn_main a:hover,
    .vsv_top_page_container_main .vsv_top_page_btn_main a:focus,
    .vsv_top_page_container_main .vsv_top_page_btn_main a:active {
        color: #ffffff;
        text-decoration: none;
    }
    .content_img_btn_img_top .row.pl-5.pb-5.pt-5.content_img_btn_btn_pright,
    .accueil_content_img_btn {
        background-color: #DA1181;
    }
    .accueil_content_img_btn {
        color: #FFFFFF;
        font-family: Futura_regular;
        padding-bottom: 40px;
    }
    .accueil_content_img_btn .content_img_btn_link_pright {
        font-size: 22px;
        text-align: left;
    }
    .title_partenaire {
        font-size: 33px !important;
    }
    ul.accueil_list_ul {
        text-align: left;
        list-style: none;
        position: relative;
        padding: 0;
        margin: 0;
    }
    ul.accueil_list_ul  li{
        padding-left: 2.5em;
    }
    ul.accueil_list_ul li:before {
        position: absolute;
        content: "• ";
        color: #DA1893;
        left: 0;
        font-size: 48px;
    }
    .accueil_visu_presentation {
        line-height: 36.00px;
        font-family: "Futura Hv", sans-serif;
        font-style: normal;
        font-weight: normal;
        color: #ffffff;
        background-color: transparent;
        text-decoration: none;
        font-variant: normal;
        font-size: 26.7px;
        vertical-align: 0;
    }
    .accueil_select_content_1 a,.accueil_select_content_1 a:hover,.accueil_select_content_1 a:focus,.accueil_select_content_1 a:active,
    .accueil_select_content_2 a,.accueil_select_content_2 a:hover,.accueil_select_content_2 a:focus,.accueil_select_content_2 a:active,
    .accueil_select_content_3 a,.accueil_select_content_3 a:hover,.accueil_select_content_3 a:focus,.accueil_select_content_3 a:active
    {
        font-size: 18px;
        line-height: 30px;
    }
    .accueil_select_content_1,
    .accueil_select_content_2,
    .accueil_select_content_3 {
        font-size: 24px;
        line-height: 30px;
    }
    .select_dept_other a,
    .main_link_other_ville,.main_link_other_ville:hover,.main_link_other_ville:focus,.main_link_other_ville:active {
        text-decoration: underline;
        color: #393939;
    }
    .select_dept_other a {
        font-size: 23px;
    }
    .main_link_other_ville {
        font-size: 16px;
    }
    .vsv_other_ville_select {
        margin-left: auto;
        margin-right: auto;
        max-width: 250px;
    }
    .vsv_referencez_site_ville label {
        color: #DA1181;
        text-decoration: underline;
        line-height: 20px;
    }
    .vsv_referencez_site_ville span {
        width: 25px;
        height: 25px;
        background-color: #1A6AAD;
        color: #fff;
        display: inline-flex;
        line-height: 25px;
        border-radius: 15px;
    }
    .vsv_referencez_site_ville span a {
        color: #ffffff;
        width: 25px;
        font-weight: bold;
        height: 25px;
        line-height: 25px;
    }
    .popover .popover-body {
        font-size:11px;
    }
    .txt_info_bold {
        text-align: center;
        margin-bottom: 0.0px;
        line-height: 32.0px;
        font-family: "Futura Hv", sans-serif;
        font-style: normal;
        font-weight: normal;
        color: #ffffff;
        background-color: transparent;
        font-variant: normal;
        font-size: 32.0px;
        vertical-align: 0;
    }
    .func_discov_case {
        background-repeat: no-repeat;
        background-size: 100% auto;
        min-height: 300px;
    }
    .txt_infos_pro_offers .info_pro_title {
        text-transform: uppercase;
        color: #da188e;
        padding: 15px;
    }
    .txt_infos_pro_offers ul {
        list-style: none;
        padding-left: 50px;
    }
    .txt_infos_pro_offers ul li::before {
        position: absolute;
        content: "• ";
        color: rgb(218, 24, 147);
        font-size: 48px;
        margin-left: -45px;
    }
    .txt_infos_pro_offers ul li {
        background-color: rgba(218, 24, 147, 0.3);
        padding-left: 70px;
        min-height: 40px;
        line-height: 40px;
        margin-bottom: 3px;
        background-repeat: no-repeat;
        background-position: center right;
        padding-right: 60px;
    }
    [type="checkbox"], [type="radio"] {
        margin-right: 10px !important;
        float: left;
    }
    [type="radio"] {
        margin-left: 0 !important;
        margin-top: 1px;
    }
    [type="checkbox"] {
        margin-top: 1px;
    }
    #span_subcateg_main_rubrique_banner_title {
        font-family: Arial, Helvetica, sans-serif !important;
    }
    .article_all_details_description_container,
    .article_all_details_content_container {
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
    }
    .article_all_details_description_container p,
    .article_all_details_content_container p {
        padding-bottom: 0;
        margin-bottom: 0;
        text-align: justify;
    }
    .btn {
        cursor: pointer !important;
    }
    #id_init_tab_title{
        color: black;!important;
    }
    #img_res{
        margin-top: -20px;
        width: 50%;
        height: 50%;
        padding-bottom: 100px;
        margin-right: 20px;
    }