
@media screen and (max-width: 575px) {
    .main_banner_container .vsv_main_ville_name_txt {
        font-size: 16px !important;
    }
    #return-to-top {
        display: none !important;
    }
    /*body {
        background-image: none !important;
    }*/
    .accueil_content_middle h1, .accueil_content_middle h2, .accueil_content_middle ul {
        font-size:18px !important;
    }
    .container.accueil_content_top .row.justify-content-center.mt-5.mb-5 {
        margin-top: 15px !important;
        margin-bottom: 15px !important;
    }
    .container.accueil_content_top .row.justify-content-center.mt-5.mb-5 .col-md-4.vsv_accueil_div.text-center.pt-5 {
        padding-top: 0 !important;
    }
    .accueil_select_content_2 .col.p-5 {
        padding: 15px !important;
    }
    .vsv_accueil_btn.vsv_select_link.plus_infos_link {
        width: 100% !important;
    }
    .txt_rose_color.strong_txt.pt-5.pl-5.pr-5 {
        padding: 0 !important;
    }
    .txt_rose_color.strong_txt {
        font-size: 18px;
        line-height: 24px;
    }
    .visu_presentation_left,
    .visu_presentation_right,
    .visu_communalite_1,
    .visu_communalite_2,
    .visu_communalite_3,
    .visu_communalite_4
    {
        font-size: 20px !important;
    }
    .accueil_visu_presentation .m-3.p-5.visu_presentation_left,
    .accueil_visu_presentation .m-3.p-5.visu_presentation_right,
    .accueil_visu_presentation .m-3.p-5.visu_communalite_1,
    .accueil_visu_presentation .m-3.p-5.visu_communalite_2,
    .accueil_visu_presentation .m-3.p-5.visu_communalite_3,
    .accueil_visu_presentation .m-3.p-5.visu_communalite_4,
    .accueil_visu_presentation .text-center.mt-5,
    .accueil_visu_presentation .text-center.mt-5,
    .accueil_visu_presentation .text-center.mt-5,
    .accueil_visu_presentation .text-center.mt-5
    {
        margin: 0 !important;
    }
    .row .col-sm-6.p-5 {
        padding: 15px !important;
    }
    .vsv_accueil_btn.vsv_select_link {
        width: 100% !important;
        display: block !important;
    }
    .row.accueil_visu_presentation.pb-5 {
        padding-bottom: 15px !important;
    }
    .accueil_select_content_2 .row .col-12.pt-5 {
        padding: 15px !important;
    }
    .accueil_select_content_2 .row .col-12.pt-5 .pt-5.pb-5.text-center {
        padding: 0 !important;
        margin: 0 !important;
    }
    .accueil_select_content_2 .row .col-sm-6.pt-5 {
        padding-top: 0 !important;
    }
    .accueil_select_content_2 .row .col-sm-6.pt-5 .pt-5.pb-5.text-center {
        padding: 0 !important;
    }

}
@media screen and (min-width: 481px) and (max-width: 575px) {
   .main_banner_container .vsv_main_ville_name_txt {
        padding: 100px 25px 0 25px !important;
    }
    .main_banner_container .vsv_main_ville_name_txt {
        min-height: 200px !important;
    }
}
@media screen and (min-width: 481px) and (max-width: 500px) {
    .main_banner_container .vsv_main_ville_name_txt {
        padding: 90px 25px 0 25px !important;
    }
}
@media screen and (max-width: 515px) {
    .vsv_accueil_rubrique_btn {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

