@media screen and (max-width: 768px) {
    #card_list{
        height: auto!important;
    }
	.accueil_select_content_1 .title_2 {
		font-size: 18px;
	}
	.accueil_select_content_2 .title_1 {
		font-size: 18px;
	}
	.home_select_vsv {
		font-size: 16px;
		line-height: 22px;
	}
	.accueil_select_content_2 .title_2 {
		font-size: 18px;
		line-height: 32px;
	}
	.accueil_select_content_2 .footer .text_1 {
		font-size: 18px;
		line-height: 32px;
	}
	.accueil_select_content_2 .footer .text_2 {
		font-size: 16px;
	}
	.accueil_select_content_2 .plus_infos_tab {
		padding-bottom: 50px;
	}
	.accueil_select_content_2 .plus_infos_tab .col-12 {
		margin-bottom: 0 !important;
	}

	.main_banner_container .logo_carte {
        display: none;
    }


    .vsv_accueil_btn_black{
        width: 100%;
    }
    .vsv_accueil_btn, .vsv_accueil_btn:active, .vsv_accueil_btn:hover, .vsv_accueil_btn:focus {
        padding: 15px !important;
        font-size: 14px !important;
    }
    .vsv_accueil_title div:nth-child(2) {
        padding-top: 15px !important;
    }
    .vsv_accueil_rubrique_title {
        min-height: 1px !important;
    }
    .accueil_content_middle .vsv_accueil_title_content{
        padding: 15px !important;
    }
    .accueil_content_middle .rubriques_content {
        padding-top: 15px !important;
    }
    .accueil_content_middle .vsv_accueil_rubrique_title {
        height: auto !important;
    }
    .vsv_accueil_rubrique_btn {
        padding-bottom: 15px !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .content_img_btn_btn_pright {
        padding: 15px !important;
    }
    .navbar .navbar-brand {
        font-size: 16px !important;
    }
	#span_leftcontener2013_form_bonplans .vsv_subcateg_filter,
    #span_leftcontener2013_form_annonces .vsv_subcateg_filter,
    #span_leftcontener2013_form_partenaires .vsv_subcateg_filter {
        width: 100% !important;
        max-width: 100% !important;
        flex: auto !important;
		padding: 0 !important;
    }
	#span_leftcontener2013_form_bonplans .vsv_subcateg_filter .leftcontener2013title_vs,
    #span_leftcontener2013_form_annonces .vsv_subcateg_filter .leftcontener2013title_vs,
    #span_leftcontener2013_form_partenaires .vsv_subcateg_filter .leftcontener2013title_vs
	{
        background-color: #303030;
		border-top: 1px solid #ffffff !important;
		border-radius: 0 !important;
		text-align: left !important;
		color: #FFFFFF !important;
    }
	#span_leftcontener2013_form_bonplans .vsv_subcateg_filter .leftcontener2013title_vs label, 
	#span_leftcontener2013_form_annonces .vsv_subcateg_filter .leftcontener2013title_vs label, 
	#span_leftcontener2013_form_partenaires .vsv_subcateg_filter .leftcontener2013title_vs label 
	{
		text-align: left !important;
	}
	#span_leftcontener2013_form_bonplans,
    #span_leftcontener2013_form_annonces,
    #span_leftcontener2013_form_partenaires {
        padding: 0 !important;
    }
	
	#span_leftcontener2013_form_partenaires .leftcontener2013content .col,
	#span_leftcontener2013_form_partenaires .leftcontener2013content .col-2,
	#span_leftcontener2013_form_bonplans .leftcontener2013content .col,
	#span_leftcontener2013_form_bonplans .leftcontener2013content .col-2,
	#span_leftcontener2013_form_annonces .leftcontener2013content .col,
	#span_leftcontener2013_form_annonces .leftcontener2013content .col-2
	{
		padding: 0 !important;
		width: 100% !important;
		max-width: 100% !important;
	}
	#span_leftcontener2013_form_partenaires .leftcontener2013content div label.subcateb_filter_banner,
	#span_leftcontener2013_form_bonplans .leftcontener2013content div label.subcateb_filter_banner,
	#span_leftcontener2013_form_annonces .leftcontener2013content div label.subcateb_filter_banner
	{
		background-color: #c7c7c7;
		border-top-width: medium;
		border-top-style: none;
		border-top-color: currentcolor;
		width: 100% !important;
		max-width: 100% !important;
		border-radius: 0 !important;
		text-align: left;
		border-top: 1px solid #ffffff;
		padding-left: 40px !important;
	}
	#span_leftcontener2013_form_partenaires .leftcontener2013content div label.subcateb_filter_banner span,
	#span_leftcontener2013_form_bonplans .leftcontener2013content div label.subcateb_filter_banner span,
	#span_leftcontener2013_form_annonces .leftcontener2013content div label.subcateb_filter_banner span
	{
		margin-left: 7px;
	}
	#span_leftcontener2013_form_partenaires .leftcontener2013content,
	#span_leftcontener2013_form_bonplans .leftcontener2013content,
	#span_leftcontener2013_form_annonces .leftcontener2013content
	{
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
	.main_subcateg_tab_init {
		padding: 0;
	}
	.main_subcateg_tab_init .subcateb_filter_banner {
		background-color: #da1893;
		color: #fff;
		border: none;
		border-radius: 0;
		text-align: right;
		font-size: 16px;
		cursor: pointer;
	}
	.main_subcateg_tab_search {
		padding: 5px 0;
		background-color: #cccccc;
	}
	.main_subcateg_tab_search .row.justify-content-center .col-10 {
		width: 100% !important;
		max-width: 100% !important;
		flex: 0 0 98%;
	}
	.main_subcateg_tab_search .row.justify-content-center .col-10 #inputString_zMotCle,
	.main_subcateg_tab_search .row.justify-content-center .col-10 #inputString_zMotCle_submit
	{
		font-size: 14px;
	}
	#wowslider-container1,
	.article_all_details_content_container .article_all_details_description_container img,
	.article_case_contact_infos 
	{
		width: 100% !important;
		max-width: 100% !important;
		height: auto !important;
	}
	.accueil_content_top .col-md-4.vsv_accueil_div {
        width: 100% !important;
        flex: auto !important;
        max-width: 100%;
	}
	.content_img_btn_img_pright {
        background-color: #DA1181;
        padding-bottom: 40px;
        margin-top: -30px;
    }
    .content_img_btn_img_pright img {
        text-align: center;
    }
    .accueil_select_content_1 #mySelect.select_list_ville_select {
        min-width: 100%;
        width: 100%;
        min-height: 20px;
        height: auto;
        font-size: 20px;
        margin: 0;
        padding: 5px !important;
    }
    .vsv_select_form_container .col.mt-4{
        margin:1.5rem 0 !important;
    }
    .vsv_select_form_container span.span_vsv_select {
        padding: 5px 0 !important;
    }
    .main_banner_container {
        min-height: 1px;
    }
    .title_categ_black {
        font-size: 16px;
    }

	
}
@media screen and (width: 768px) {
    .main_banner_container .vsv_main_ville_name_txt {
        padding: 65px 25px 0 25px !important;
    }
    .main_banner_container .row .logo_ville img,
    .main_banner_container .row .logo_carte img
    {
        width: 100%;
    }
    .main_banner_container .row .logo_ville,
    .main_banner_container .row .logo_carte
    {
        margin-top: auto;
        margin-bottom: auto;
        display: block;
    }
    .main_banner_container .vsv_main_ville_name_txt {
        min-height: 100px;
    }
}
@media screen and (max-width: 767px) {
    .main_banner_container .logo_ville {
        display: none !important;
    }
}
@media screen and (min-width: 721px) and (max-width: 767px) {
    .main_banner_container .vsv_main_ville_name_txt {
        padding: 100px 25px 0 25px !important;
    }
}
@media screen and (min-width: 641px) and (max-width: 720px) {
	.main_banner_container .vsv_main_ville_name_txt {
        padding: 100px 25px 0 25px !important;
    }
}
@media screen and (min-width: 575px) and (max-width: 640px) {
	.main_banner_container .vsv_main_ville_name_txt {
		padding: 107px 25px 0 25px !important;
	}
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    h1 {
        font-size: 28px !important;
    }
    h2 {
        font-size: 26px !important;
    }
    /*#span_leftcontener2013_form_bonplans .vsv_subcateg_filter,
    #span_leftcontener2013_form_annonces .vsv_subcateg_filter,
    #span_leftcontener2013_form_partenaires .vsv_subcateg_filter {
        width: 50% !important;
        max-width: 50% !important;
        flex: auto !important;
    }*/
    .accueil_select_content_1 .title_1,
    .accueil_select_content_1 .title_2,
    .accueil_select_content_2 .title_1,
    .accueil_select_content_2 .text_1{
        font-size: 20px !important;
        line-height: 26px !important;
        padding: 10px 0 !important;
        margin-bottom: 0 !important;
    }
    .accueil_select_content_1 .title_3 {
        font-size: 20px !important;
        line-height: 26px !important;
        margin-bottom: 0 !important;
        padding-bottom: 15px !important;
    }
    .accueil_select_content_2 {
        font-size: 20px !important;
        line-height: 26px !important;
    }
    .home_select_vsv {
        font-size: 18px !important;
        line-height: 24px !important;
    }
    .accueil_select_content_2 .title_2 {
        font-size: 20px !important;
        line-height: 26px !important;
        padding: 15px !important;
    }
    .plus_infos_tab .img_content td {
        font-size: 20px !important;
        line-height: 26px !important;
    }
}
@media screen and (min-width: 321px) and (max-width: 768px) {
    .main_banner_container .vsv_main_ville_name_txt {
        margin-top: 30px;
    }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
    .main_banner_container .vsv_main_ville_name_txt {
        min-height: 200px !important;
    }
}


