/*responsive mobile version*********************************************************************/
@media (max-width: 768px) {
    .bp_red_value {
        width: 100% !important;
        height: auto !important;
        display: table !important;
        margin: 0 0 15px !important;
    }

    .addtopspace {
        margin-top: 15px !important;
    }
}

@media (max-width: 479px) {
    .content_mobile_title_premium h1 {
        font-size: 28px;
        font-weight: bold;
    }

    .content_mobile_title_premium h2 {
        font-size: 18px;
        font-style: italic;
    }

    .content_mobile_menu_ico_top img {
        width: 75%;
    }

    .content_mobile_title_slide_top {
        font-size: 18px;
    }

    .content_mobile_adress {
        font-size: 18px;
    }

    .content_detailsannonce_image_liraison img, #retrait_etablissement_img {
        width: 100%;
    }

    .content_mobile_link_icon_footer img {
        width: 75%;
    }

    .content_mobile_copyright {
        height: 50px;
        font-size: 12px;
    }

    .content_mobile_copyright {
        padding-top: 13px !important;
        background-color: #000000 !important;
        text-align: center !important;
        width: 100% !important;
    }

    .mobile_footer_menu ul > li {
        font-size: 18px;
    }

    .agenda_details_ico_menu img {
        width: 75%;
    }

    .horaires_normal {
        font-size: 16px;
        line-height: 20px;
    }

    .horaires_bold {
        line-height: 20px;
    }

    #bp_case_desc, #bp_case_link {
        width: 100% !important;
    }

    #bp_case_desc .bp_case_desc_title {
        font-size: 18px !important;
        line-height: 20px !important;
    }

    .case_bonplan_mobile_home_commercant div {
        background-position: center center !important;
        padding-left: 0px !important;
        text-align: center !important;
    }

    .bp_case_link_chrono {
        text-align: left !important;
    }

    .bonplan_details_img_link {
        width: 100% !important;
    }

    #btn_reserver_unique, #btn_reserver_multiple {
        width: 100% !important;
    }
}

@media (min-width: 480px) {
    .content_mobile_title_premium h1 {
        font-size: 34px;
        font-weight: bold;
    }

    .content_mobile_title_premium h2 {
        font-size: 22px;
        font-style: italic;
    }

    .content_mobile_title_slide_top {
        font-size: 20px;
    }

    .content_mobile_adress {
        font-size: 24px;
    }

    .content_mobile_copyright {
        height: 50px;
        font-size: 18px;
    }

    .content_mobile_copyright {
        padding-top: 13px !important;
        background-color: #000000 !important;
        text-align: center !important;
        width: 100% !important;
    }

    .mobile_footer_menu ul > li {
        font-size: 22px;
    }

    .horaires_normal {
        font-size: 20px;
        line-height: 24px;
    }

    .horaires_bold {
        line-height: 24px;
    }
}

@media (max-width: 400px) {
    .case_bonplan_mobile_home_commercant {
        background-size: 101% 210px !important;
    }
}

@media (max-width: 400px) {
    .content_mobile_btn_reservation img, .content_mobile_btn_agenda img, .content_mobile_btn_annonce img {
        width: 200px;
    }

    #partner_caracteristics_details p {
        font-size: 14px !important;
        line-height: 18px !important;
    }

    .btn_plus_infos_annonce_mobile_right {
        width: 100% !important;
        padding-bottom: 20px !important;
        padding-top: 0 !important;
    }

    .div_content_txt_annonce_mobile_left {
        width: 100% !important;
    }

    .detail_annonce_btn_back img {
        width: 100%;
    }

    .detail_annonce_text_back {
        margin-top: 10px !important;
    }

    .detail_annonce_livraison_img {
    }

    .detail_annonce_livraison_retrait {
        padding-top: 0 !important;
    }

    .detail_annonce_livraison_retrait p {
        font-size: 20px !important;
    }

    .details_agenda_contener_head_title .details_agenda_date {
        font-size: 14px !important;
    }

    .details_agenda_contener_head_title .details_agenda_title {
        font-size: 16px !important;
    }

    .details_agenda_contener_head_title .details_agenda_localisation {
        font-size: 16px !important;
    }

    .details_agenda_contener_head_title .details_agenda_organiser {
        font-size: 14px !important;
    }

    .details_agenda_contener_head_title .details_agenda_organiser_span {
    }

    .details_agenda_contener_content_description {
        font-size: 14px !important;
    }

    #plus_mobile_agenda_list {
        width: 45px !important;
    }
}

@media (max-width: 360px) {
    .divinputIdCommercant, .divinputStringQuandHidden {
        width: 100% !important;
        text-align: center !important;
        margin: 10px;
    }
}

@media (min-width: 361px) {
    .divinputIdCommercant {
        text-align: left;
    }

    .divinputStringQuandHidden {
        text-align: right;
    }
}

@media (max-width: 330px) {
    .content_mobile_translation .goog-te-gadget-simple {
        font-size: 12pt !important;
    }
}

@media (min-width: 331px) {
    .content_mobile_translation .goog-te-gadget-simple {
        font-size: 16pt !important;
    }
}

.content_mobile_logo_partner {
    text-align: center;
    padding: 15px;
}

.content_mobile_title_premium {
    background-color: #E1E1E1;
    text-align: center;
    color: #000000;
}

.content_mobile_menu_ico_top {
    text-align: center;
    padding: 15px 0 !important;
    display: table;
    width: 100%;
}

.content_mobile_title_slide_top {
    height: auto;
    padding: 13px 15px;
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    line-height: 22px;
}

.content_mobile_adress {
    text-align: center;
    line-height: 28.00px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
    background-color: transparent;
    display: table;
    padding-top: 30px;
    width: 100%;
    text-decoration: none;
    font-variant: normal;
    vertical-align: 0;
}

@media screen and (max-width: 767px) {
    .content_mobile_adress {
        color: #000;
    }
}

.content_mobile_translation {
    text-align: center;
}

.content_mobile_btn_reservation, .content_mobile_btn_agenda, .content_mobile_btn_annonce {
    text-align: center;
    padding: 15px;
}

.content_mobile_link_icon_footer {
    padding-top: 20px;
    text-align: center;
    padding-bottom: 15px;
}

.mobile_footer_menu {
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    padding: 15px;
}

.mobile_footer_menu ul > li {
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    border-bottom: 1px solid #fff !important;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin-bottom: 0;
}

.mobile_footer_menu ul li > a {
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none !important;
    font-weight: bold;
}

/*responsive mobile version*******************************************************************/

.content_mobile_detailsannonce {
    background-color: #FFF;
    padding: 20px 15px;
    color: #000000;
}

.font_bold {
    font-weight: bold;
}

.bonplan_mobile_title {
    background-color: transparent;
    color: #da1893;
    font-family: "Arial", sans-serif;
    font-size: 27px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 0;
    text-align: center;
    vertical-align: 0;
    padding: 15px;
}

.bonplan_mobile_text {
    background-color: transparent;
    color: #000000;
    font-family: "Arial", sans-serif;
    font-size: 19px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 0;
    text-align: center;
    vertical-align: 0;
    padding: 15px;
}

.bonplan_mobile_nb_dispo {
    background-position: center center;
    text-align: center;
    height: 282px;
    background-repeat: no-repeat;
    color: #000;
    padding-top: 110px;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px;
}

.bonplan_mobile_comptearebour {
    background-color: transparent;
    color: #da1893;
    font-family: "Arial", sans-serif;
    font-size: 44px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 0;
    text-align: center;
    vertical-align: 0;
    padding: 15px;
}

.noirblanc {
    background-color: #000000;
    color: #FFFFFF;
    padding: 0 5px;
}

.paddingtop {
    padding-top: 10px;
}

.bonplan_mobile_note1 {
    padding: 15px;
    background-color: transparent;
    color: #cf1590;
    font-family: "Arial", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.7px;
    margin-bottom: 0;
    text-align: center;
    vertical-align: 0;
}

.bonplan_mobile_note2 {
    padding: 15px;
    background-color: transparent;
    color: #000000;
    font-family: "Arial", sans-serif;
    font-size: 17.3px;
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    line-height: 21px;
    text-decoration: none;
    vertical-align: 0;
    text-align: center;
}

.details_event_main_btn_back {
    background-color: #000000;

    text-align: center;;
    height: auto;
}

.details_event_main_btn_back {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    line-height: 14px;
    padding: 17px 15px;
    text-decoration: none;
    font-size: 16px;
    display: table;
    width: 100%;
}

.details_event_main_btn_back a {
    color: #ffffff !important;
}

.agenda_details_ico_menu div {
    padding: 5px 0 !important;
    text-align: center;
}

@media screen and (max-device-width: 480px) {
    .resp_img_mobile {
        width: 100% !important;
    }
}