@font-face {
    font-family: 'Futura-LT-Book';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/futura-lt-cufonfonts-webfont/FuturaLT-Book.woff') format('woff'),
    url("fonts/futura-lt-cufonfonts-webfont/FuturaLT-Book.woff") format("woff");
}
@font-face {
    font-family: "Libre-Baskerville";
    src: url("fonts/baskerville/LibreBaskerville-Italic.otf") format("truetype"),
    url("fonts/baskerville/LibreBaskerville-Italic.otf") format("truetype");
}
@font-face {
    font-family: "Libre_italic";
    src: url("fonts/libre/LibreBaskerville-Italic.ttf") format("ttf"),
    url("fonts/libre/LibreBaskerville-Italic.ttf") format("ttf");
}
@font-face {
    font-family: "Libre_regular";
    src: url("fonts/libre/LibreBaskerville-Regular.ttf") format("ttf"),
    url("fonts/libre/LibreBaskerville-Regular.ttf") format("ttf");
}
@font-face {
    font-family: "Libre_bold";
    src: url("fonts/libre/LibreBaskerville-Bold.ttf") format("ttf"),
    url("fonts/libre/LibreBaskerville-Bold.ttf") format("ttf");
}
.btn_retour{
    font-family: Libre_regular,Sans-serif!important;
    font-size:20px;
    color: #000000;
    border-radius: 20px!important;
    border: solid rgba(50, 50, 50, 1) 2px!important;
    background: #ffffff;
}
.btn_retour:hover{
    color: #ffffff;
    background: rgba(50, 50, 50, 1);
}
.titre_type{
    font-family: Libre-Baskerville,Sans-serif!important;
    font-size:40px;
    color: #000000;
    font-style:italic;
}
.titre{
    font-size:20px;
    font-family: Futura-LT-Book,Sans-serif!important;
    font-weight: normal!important;
    padding-top: 15px;
    padding-bottom: 15px;
    height: auto!important;
}
.text_content{
    font-family: Futura-LT-Book,Sans-serif!important;
    font-size: 15px;
}
.btn_insert{
    color: #ffffff;
    font-family: Futura-LT-Book,Sans-serif!important;
    border-radius: unset!important;
    background: rgba(61, 155, 233, 1);
    text-align: center;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
.btn_suppr{
    color: #ffffff;
    font-family: Futura-LT-Book,Sans-serif!important;
    border-radius: unset!important;
    background: rgba(219, 20, 20, 1);
    text-align: center;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}
.btn_insert:hover btn_suppr:hover{
    background: rgba(32, 206, 136, 1);
}
.videodetector {
    position      : relative;
    width         : 100%;
    height        : 320px;
    padding: 0;
    margin: 10px;
}

.videodetector iframe {
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
}
.label {
    font-size: 12px;
}
#pager {
    position: relative !important;
}
.left_category_list_bonplan, .left_category_list_annonce, .left_category_list_annuaire, .left_category_list_agenda {
    color: #000000;
    background-image: linear-gradient(to bottom, #E1E1E1 0%, #E5E5E5 100%);
    background-repeat: repeat-x;
    border-color: #E1E1E1;
    font-weight: normal;
}

.left_category_list_bonplan:hover, .left_category_list_bonplan:focus,
.left_category_list_annonce:hover, .left_category_list_annonce:focus,
.left_category_list_annuaire:hover, .left_category_list_annuaire:focus,
.left_category_list_agenda:hover, .left_category_list_agenda:focus {
    background-color: #B7B7B7;
    background-position: 0 -30px;
    border-color: #E1E1E1;
}

#main_com_select ul.dropdown-menu, #main_dep_select ul.dropdown-menu {
    padding: 5px 10px 0;
    max-height: 300px;
    overflow-y: scroll;
}

.leftcontener2013content {
    padding-left: 20px;
}

.container_padding_pro {
    padding: 15px 10px 15px 12px;
}

.bp_nb_offre_text_list ul li {
    padding: 2px 0;
}

#view_pagination_ci {
    text-align: right;
    font-size: 20px;
    height: 60px;
    padding-top: 25px;
    display: table;
    text-align: center;
    width: 100%;
}

#view_pagination_ci strong, #view_pagination_ci a {
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 15px;
}

#view_pagination_ci strong {
    background-color: #687D8E;
}

#view_pagination_ci a {
    background-color: #000000;
}

#view_pagination_ci a:hover, #view_pagination_ci a:focus {
    text-decoration: none;
}

.annonce_list_livraison_content {
    padding: 0px !important;
}

/*@media (min-width: 1250px) {
.bonplan_list_img img { height:256px !important;}
.annonce_list_livraison_content { padding:0px !important;}
}
@media (min-width: 992px) and (max-width: 1249px) {
#dropdownMenu_dep { width:210px !important;}
#dropdownMenu_com { width:210px !important;}
.main_menu_navigation li a { font-size:14px !important; font-weight:600 !important;}
.main_menu_navigation li { padding:19.5px 0px !important;}
.main_menu_navigation_contents li { padding:19px 0 !important;}
.main_menu_navigation_contents li a { font-size:14px !important;}
#ifrm_2 { height:250px !important;}
#inputString_zMotCle_submit img { width: 40px !important;}
.main_menu_navigation_contents li > a { padding:20px 0 !important;}
#inputStringOrderByHidden_partenaires, #inputStringWhereMultiple_partenaires, #inputString_zMotCle, #inputString_zMotCle_submit { height:50px !important;}
#main_dep_select ul.dropdown-menu { margin-left:5px !important;}
.bonplan_list_img img { height:200px !important; width:100%;}
.bonplan_list_img { height:200px !important;}
.bonplan_list_details { height:200px !important;}
.bonplan_list_desc { height:200px !important; font-size:14px !important;}
.bonplan_minuteur { font-size:16px !important; height:40px !important;}
.bonplan_minuteur img { width:25px !important;}
.bp_nb_offre { height:50px !important; padding-top: 0px !important;}
.bp_nb_offre img { padding-left:0px !important;}
.bp_nb_offre table { font-size:12px;}
#p_btn_boutiqueenligne {left:20% !important;}
.bp_nb_offre { background-position: right top !important;}
.bp_nb_offre_text_list { width:175px !important;}
.bp_nb_offre_value { padding-left:10px !important;}
.bp_nb_offre { background-size: 260px auto !important;}
.annonce_list_desc { height:200px !important;}
.p_annonce_list_tarif { font-size:16px !important; line-height:16px !important;}
.p_annonce_list_ancienprix { font-size:20px !important; line-height:16px !important;}
.p_annonce_list_prixvente { font-size:18px !important; line-height:20px !important;}
.img_annonce_enlevement { width:70px;}
.img_annonce_module_paypal { width:70px;}
.annonce_list_module_paypal { width:32% !important;}
.annonce_list_enlevement, .annonce_list_paypal_annonce_page { width:68% !important;}
.annonce_list_livraison_content { padding:5px 0px !important;}
.p_annonce_rubrique_txt { font-size:14px !important; line-height:14px !important;}
.p_annonce_texte_courte_text { font-size:16px !important; line-height:14px !important;}
.p_annonce_state_text { font-size:14px !important; line-height:14px !important;}
.p_annonce_NomSociete_text { font-size:14px !important; line-height:14px !important;}
.p_annonce_ville_text { font-size:14px !important; line-height:14px !important;}
#zMotCle_to_check_btn img { width:35px !important;}
}
@media (min-width: 768px) and (max-width: 991px) {

}*/

body {
    /*background-color: #B0B0B0;
    background-image: url("/application/resources/privicarte/images/bg_all.jpg");*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: 100% 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    color: #000000;
}

.back_nav_pvc {
    padding-top: 5px;
    padding-left: 10px;
}

.img_nav_pvc {
    padding: 0px !important;
}

.navbar-right {
    margin-right: 10px !important;
}

.container_left_rigth {
    padding-right: 15px;
    padding-left: 15px;
}

.grey_bg {
    background-color: #E5E5E5;
}

.top_bottom_15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

/*********william bootstrap customizer************/
.padding0 {
    padding: 0 !important;
}

.padding15 {
    padding: 15px !important;
}

.paddingleft0 {
    padding-left: 0 !important;
}

.paddingleft15 {
    padding-left: 15px !important;
}

.paddingright0 {
    padding-right: 0 !important;
}

.paddingright15 {
    padding-right: 15px !important;
}

.paddingbottom0 {
    padding-bottom: 0 !important;
}

.paddingbottom15 {
    padding-bottom: 15px !important;
}

.paddingbottom30 {
    padding-bottom: 30px !important;
}

.paddingtop0 {
    padding-top: 0 !important;
}

.paddingtop5 {
    padding-top: 5px !important;
}

.paddingtop10 {
    padding-top: 10px !important;
}

.paddingbottom10 {
    padding-bottom: 10px !important;
}

.paddingtop15 {
    padding-top: 15px !important;
}

.paddingtop30 {
    padding-top: 30px !important;
}

.paddingtopbottom15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.margin0 {
    margin: 0 !important;
}

.marginleft0 {
    margin-left: 0 !important;
}

.marginleft15 {
    margin-left: 15px !important;
}

.marginright0 {
    margin-right: 0 !important;
}

.marginright15 {
    margin-right: 15px !important;
}

.marginbottom0 {
    margin-bottom: 0 !important;
}

.marginbottom5 {
    margin-bottom: 5px !important;
}

.marginbottom15 {
    margin-bottom: 15px !important;
}

.margintop0 {
    margin-top: 0 !important;
}

.margintop5 {
    margin-top: 5px !important;
}

.margintop10 {
    margin-top: 10px !important;
}

.margintop15 {
    margin-top: 15px !important;
}

.margintop30 {
    margin-top: 30px !important;
}

.justify {
    text-align: justify;
}

.textalignright {
    text-align: right;
}

.textalignleft {
    text-align: left;
}

.textaligncenter {
    text-align: center;
}

.width100p {
    width: 100% !important;
}

.annonce_list_desc {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    font-variant: normal;
    color: #FFFFFF;
    background-color: #8BC41E;
    text-align: center;
    vertical-align: 0%;
    display: block;
    min-height: 200px;
    float: left;
    position: relative;
    height: 256px;
}

.bonplan_list_desc {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    font-variant: normal;
    color: #FFFFFF;
    background-color: #DA1893;
    text-align: center;
    vertical-align: 0%;
    display: block;
    min-height: 256px;
    float: left;
    position: relative;
    height: 256px;
}

.paddingright0 {
    padding-right: 0px !important;
}

.bonplan_left_filter {
    float: left;
    width: 20% !important;
    position: relative;
}

.bonplan_btn_condition {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    background-color: #000000;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
}

.bp_nb_offre {
    height: 65px;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 15px;
    color: #FFFFFF;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    padding-left: 15px;
    line-height: 1;
}

.bp_nb_offre_value {
    float: left;
    font-size: 28px;
    position: relative;
    color: #DA1893;
    text-align: center;
    width: 50px;
}

.p_bp_details {
    line-height: 1;
    margin-bottom: 5px !important;
}

.bp_nb_offre > div {
    display: inline;
}

.p_btn_condition {
    position: absolute;
    bottom: 0px;
    left: 30%;
}

.bonplan_rigth_content {
    float: left;
    width: 80%;
    position: relative;
}

.input_filter_agenda {
    height: 60px !important;
    width: 100%;
    -moz-appearance: none;
    background-color: #000000;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    font-family: arial;
    font-size: 16px;
}

.button_filter_agenda_ok {
    width: 20%;
    display: inline;
    height: 60px;
    border: none;
    background-color: #000000;
    color: #ffffff;
    vertical-align: top;
}

.displaytable {
    display: table;
}

.floatright {
    text-align: right;
    float: right;
}

table#annuaire_ico_table td {
    /*width: 60px;*/
    height: 60px;
    padding-bottom: 5px;
}

.main_menu_navigation_contents li > a {
    padding: 18px 15px !important;
}

.input_filter_agenda2 {
    height: 40px !important;
    width: 100%;
    -moz-appearance: none;
    background-color: #000000;
    color: #ffffff;
    text-transform: uppercase;
    /*font-weight: bold;*/
    border: none;
    font-family: arial;
    font-size: 12px;
}

.noirblanc {
    background-color: #000000;
    color: #FFFFFF;
    padding: 0 5px;
}

.bonplan_mobile_comptearebour {
    background-color: transparent;
    color: #da1893;
    font-family: "Arial", sans-serif;
    font-size: 44px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 0;
    text-align: center;
    vertical-align: 0;
    padding: 15px;
}

.container_pro .col-sm-9 img {
    max-width: 700px !important;
}
.titre_glissiere1{
    font-size: 14px;
    color: white;
    font-weight: bold;
    background-color: #3B579D;
    height: 40px;
    padding-top: 15px;
    text-transform: uppercase;
    line-height: 30px;
}
#g1content img{
    max-width: 100%!important;
    height: auto!important;
}
#g1content2 img{
    max-width: 100%!important;
    height: auto!important;
}
#g2content img{
    max-width: 100%!important;
    height: auto!important;
}
#g2content2 img{
    max-width: 100%!important;
    height: auto!important;
}
#g3content img{
    max-width: 100%!important;
    height: auto!important;
}
#g3content2 img{
    max-width: 100%!important;
    height: auto!important;
}
#g4content img{
    max-width: 100%!important;
    height: auto!important;
}
#g4content2 img{
    max-width: 100%!important;
    height: auto!important;
}
.imgage img{
    max-width: 100%!important;
    height: auto!important;
}

.titre_glissiere1 {
    padding-bottom: 15px;
    cursor: pointer;
    line-height: 12px !important;
}
.titre_glissiere1 img {
    height: 15px !important;
    padding: 0 !important;
}