@media screen and (max-width: 991px) {
    .slider_t_container .slider_t_contets {
        background-color: transparent;
        margin-top: -50px !important;
        margin-bottom: 100px !important;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .navbar .navbared a.lnk, .navmenk, .navmen, .navmenkl, .navmens a, .navmens, body, .titre_glissiere1{
        font-size: 12px!important;
    }
    .navmenk, .navmen, .navmenkl, .navmens a, .navmens{
        height: 33px!important;
    }
    .linkleft_image img{
        height: auto!important;
    }
    .linkleft_img{
        height: auto!important;
    }
    .linkleft{
        font-size: 12px!important;
        background-image: none!important;
        text-align: center!important;
        padding-left: 0!important;
    }
    .tel_call{
        font-size: 20px!important;
    }
    .adresseshoraires_partner_big{
        font-size: 12px!important;
        padding-left: 0px!important;
        padding-right: 0px!important;
        padding-top: 20px!important;
    }
    .container, .container_pro{
        width: 100%!important;
        max-width: 100%!important;
    }
    .footer_content{
        font-size: 12px!important;
    }
    .slide_tab{
        margin-top:20px!important;
    }
    .caract_tab{
        padding-top: 20px!important;
    }
}
@media screen and (min-width: 576px) and (max-width: 991px)  {
    .slider_t_container .slider_circle_10 .next_button {
        margin-left: -25px !important;
    }
    .slider_t_container .slider_circle_10 .prev_button {
        margin-left: -25px !important;
    }
}


