@media screen and (max-width: 768px) {
    .navbar .navbared a.lnk, .navmenk, .navmen, .navmenkl, .navmens a, .navmens, body, .titre_glissiere1{
        font-size: 12px!important;
    }
    .navmenk, .navmen, .navmenkl, .navmens a, .navmens{
        height: 33px!important;
    }
    .linkleft_image img{
        height: auto!important;
    }
    .linkleft_img{
        height: auto!important;
    }
    .linkleft{
        font-size: 12px!important;
        background-image: none!important;
        text-align: center!important;
        padding-left: 0!important;
    }
    .tel_call{
        font-size: 22px!important;
    }
    .adresseshoraires_partner_big{
        font-size: 12px!important;
        padding-left: 0px!important;
        padding-right: 0px!important;
        padding-top: 20px!important;
    }
    .container, .container_pro{
        width: 100%!important;
        max-width: 100%!important;
    }
    .footer_content{
        font-size: 12px!important;
    }
    .slide_tab{
        margin-top:20px!important;
    }
    .caract_tab{
        padding-top: 20px!important;
    }
    #google_translate_element .skiptranslate .goog-te-gadget-simple .goog-te-menu-value span{
        font-size: 12px!important;
        line-height: 12px;
    }

    .bouton{
        margin-left: 100px!important;
    }
    #main_banner_image_platinium_container{
        height: 200px!important;
    }

    .all_content_descripton img {
        width: 100% !important;
        height: auto !important;
    }
}


