@media screen and (max-width: 575px) {
    .adresseshoraires_partner_big {
        background-size: auto !important;
    }

    .slider_t_container .slider_circle_10 .next_button {
        margin-left: -50px !important;
    }
    .slider_t_container .slider_circle_10 .prev_button {
        margin-left: 0px !important;
    }

}

@media screen and (max-width: 575px){
    .tel_call{
        font-size: 25px!important;
    }
    .adresseshoraires_partner_big{
        padding-top: 15px!important;
        margin-bottom:0px!important ;
    }
    .banner_platinium{
        display: none!important;
    }

}