body {
	background-image: url(../images/wp007ff600_06.png);
	background-repeat: repeat;
	font-family: "Arial",sans-serif;
    font-size: 12px;
    line-height: 1.25em;
}
img 
{
	border:none;
}
a {
	font-weight: bold;
	color: #FFF;
	text-decoration:none;
}
.p_contact a {
	color: #003; 
	text-decoration: none;
	font-weight:normal;
}

.p_contact a:hover {
	color: #003; 
	text-decoration: underline;
	font-weight:bold;
}
#conteneur {
	width: 900px;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}
#header_menu {
	height: 34px;
	width: 870px;
	position: relative;
	margin-top: 31px;
	text-align:center;
	margin-right: 10px;
	margin-left: 20px;
}

.header_menu_link {
	float: left;
	height: 25px;
	width: 105px;
	position: relative;
	text-align: center;
	vertical-align: middle;
	background-image: url(../images/wp2bc299b2_06.png);
	background-repeat: no-repeat;
	font-family:"Arial", sans-serif;
	font-weight:700;
	color:#ffffff;
	font-size:12px;
	line-height:1.25em;
	text-decoration: none;
	padding-top: 9px;
}

.header_menu_link_active {
	float: left;
	height: 25px;
	width: 105px;
	position: relative;
	text-align: center;
	vertical-align: middle;
	background-image: url(../images/wpf831406d_06.png);
	background-repeat: no-repeat;
	font-family:"Arial", sans-serif;
	font-weight:700;
	color:#3653A2;
	font-size:12px;
	line-height:1.25em;
	text-decoration: none;
	padding-top: 9px;
}

.menu_separator {
	width: 3px;
	height: 34px;
	float: left;
	position: relative;
}#head_main {
	float: left;
	height: 20px;
	width: 900px;
	position: relative;
	background-image: url(../images/bg_head_main.png);
	background-repeat: no-repeat;
}
#main_body {
	float: left;
	width: 860px;
	position: relative;
	padding-right: 20px;
	padding-left: 20px;
}
#footer_main {
	float: left;
	height: 20px;
	width: 900px;
	position: relative;
	background-image: url(../images/bg_footer_main.png);
	background-repeat: no-repeat;
	padding-bottom: 30px;
}
#main_left {
	float: left;
	width: 275px;
	position: relative;
}
#main_right {
	float: left;
	width: 570px;
	position: relative;
	padding-left: 15px;
}
#info_partenaire {
	float: left;
	width: 273px;
	position: relative;
	height: auto;
}
#info_partenaire_name {
	float: left;
	width: 550px;
	position: relative;
	height: auto;
}

.Corps-artistique-C-C1
{
    font-family:"Arial", sans-serif; font-weight:700; color:#3653c1; font-size:32.0px; line-height:1.19em;
}
.Corps-artistique-C-C2
{
    font-family:"Arial", sans-serif; font-weight:700; font-size:19.0px; line-height:1.21em;
}
.Corps-artistique-C-C3
{
    font-family:"Arial", sans-serif; font-weight:700; font-size:15.0px; line-height:1.20em;
}
#info_partenaire_head {
	float: left;
	height: 32px;
	width: 258px;
	position: relative;
	background-image: url(../images/info_partenaire_head.png);
	background-repeat: no-repeat;
	padding-left: 15px;
	padding-top: 10px;
	color: #FFFFFF;
    font-family: "Arial",sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.2em;
}
#info_partenaire_main {
	background-image: url(../images/info_partenaire_main.png);
	background-repeat: repeat-y;
	float: left;
	width: 253px;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}
#info_partenaire_footer {
	background-image: url(../images/info_partenaire_footer.png);
	background-repeat: no-repeat;
	float: left;
	height: 25px;
	width: 273px;
	position: relative;
}
#head_info {
	float: left;
	width: 860px;
	position: relative;
	padding-right: 20px;
	padding-left: 20px;
}
#main_main {
	background-color: #CCC;
	float: left;
	width: 900px;
	position: relative;
}
#social_link {
	float: right;
	width: 300px;
	position: relative;
	text-align:right;
	/*padding-top: 30px;*/
}
#slide_main {
	float: left;
	width: 570px;
	position: relative;
	padding-top: 10px;
	padding-bottom: 20px;
	background-image: url(../images/loading37_color.gif);
	background-repeat: no-repeat;
	background-position:center;
}
#main_data {
	float: left;
	width: 570px;
	position: relative;
}
#main_data_head {
	float: left;
	height: 28px;
	width: 555px;
	position: relative;
	background-image: url(../images/main_data_head.png);
	background-repeat: no-repeat;
	padding-top: 10px;
	padding-left: 15px;
	color: #FFFFFF;
    font-family: "Arial",sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.2em;
}
#main_data_body {
	background-image: url(../images/main_data_body.png);
	background-repeat: repeat-y;
	float: left;
	width: 550px;
	position: relative;
	height: auto;
	padding-right: 10px;
	padding-left: 10px;
}
#main_data_footer {
	background-image: url(../images/main_data_footer.png);
	background-repeat: no-repeat;
	float: left;
	height: 17px;
	width: 570px;
	position: relative;
}
#link_picture_gallery {
	background-image: url(../images/fond_gallerie.png);
	background-repeat: no-repeat;
	float: left;
	height: 37px;
	width: 155px;
	position: relative;
	padding-left: 70px;
	padding-top: 20px;
}
#link_video {
	background-image: url(../images/fond_video.png);
	background-repeat: no-repeat;
	float: left;
	height: 37px;
	width: 155px;
	position: relative;
	padding-left: 70px;
	padding-top: 20px;
}

#link_video_none {
	background-image: url(../images/fond_video_none.png);
	background-repeat: no-repeat;
	float: left;
	height: 37px;
	width: 155px;
	position: relative;
	padding-left: 70px;
	padding-top: 20px;
}

#link_ami {
	background-image: url(../images/fond_ami.png);
	background-repeat: no-repeat;
	float: left;
	height: 37px;
	width: 155px;
	position: relative;
	padding-left: 70px;
	padding-top: 20px;
}
#link_alert {
	background-image: url(../images/fond_alert.png);
	background-repeat: no-repeat;
	float: left;
	height: 37px;
	width: 155px;
	position: relative;
	padding-left: 70px;
	padding-top: 20px;
}

#info_partenaire_annonce {
	float: left;
	width: 275px;
	position: relative;
	height: 165px;
	background-image: url(../images/fond_acces_annonces.png);
	background-repeat: no-repeat;
}
#info_partenaire_annonce_title {
	float: left;
	height: 25px;
	width: 255px;
	position: relative;
	padding-top: 10px;
	padding-left: 20px;
}
#info_partenaire_annonce_acces {
	float: left;
	height: 50px;
	width: 275px;
	position: relative;
	text-align:center;
	padding-top: 80px;
}

#info_partenaire_club {
	float: left;
	width: 275px;
	position: relative;
	height: 290px;
	background-image: url(../images/wp7d023ae0_06_1.png);
	background-repeat: no-repeat;
}
#info_partenaire_club_title {
	float: left;
	height: 25px;
	width: 255px;
	position: relative;
	padding-top: 10px;
	padding-left: 20px;
}
#info_partenaire_club_acces {
	float: left;
	height: 55px;
	width: 275px;
	position: relative;
	text-align:center;
	padding-top: 200px;
}

#info_partenaire_bonplan_acces {
	float: left;
	
	width: 275px;
	position: relative;
	text-align:center;
	
}
/*#info_partenaire_bonplan {
	background-image: url(../images/fond_bonplan.png);
	background-repeat: no-repeat;
	background-position: center top;
	float: none;
	height: 90px;
	width: 213px;
	position: relative;
	padding-top: 105px;
	padding-left: 40px;
	font-size: 14px;
}*/

#info_partenaire_bonplan {
    background-image: url("../images/fond_bonplan.png");
    background-position: center top;
    background-repeat: no-repeat;
    float: none;
    font-size: 14px;
    height: 80px;
    padding: 105px 15px 10px 40px;
    position: relative;
    text-align: center;
    width: 200px;
}
#info_partenaire_bonplan_btn {
	float: left;
	height: 35px;
	width: 253px;
	position: relative;
	text-align:center;
}
#separator_left {
	float: left;
	height: 10px;
	width: 275px;
	position: relative;
}
