body {margin: 0px; padding: 0px;}
a:link {color: #3e550e;}
a:visited {color: #8e9165;}
a:hover {color: #3e550e;}
a:active {color: #3e550e;}
.Corps-P
        {
        margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400; 
        }
.Normal-P
        {
        margin:0.0px 0.0px 0.0px 0.0px; text-align:center; font-weight:400; 
        }
.Corps-P0
        {
        margin:0.0px 0.0px 12.0px 0.0px; text-align:left; font-weight:400; 
        }
.Corps-P1
        {
        margin:0.0px 0.0px 12.0px 0.0px; text-align:justify; 
        font-weight:400; 
        }
.Normal-P0
        {
        margin:0.0px 0.0px 0.0px 0.0px; text-align:justify; font-weight:400; 
        }
.Corps-C
        {
        font-family:"Arial", sans-serif; font-weight:700; font-size:13.0px; 
        line-height:1.23em; 
        }
.Corps-C0
        {
        font-family:"Arial", sans-serif; font-weight:700; font-size:5.0px; 
        line-height:1.20em; 
        }
.Corps-C1
        {
        font-family:"Arial", sans-serif; font-size:12.0px; line-height:1.25em; 
        }
.Corps-C2
        {
        font-family:"Arial", sans-serif; font-size:13.0px; line-height:1.23em; 
        }
.Normal-C
        {
        font-family:"Arial", sans-serif; font-weight:700; font-size:12.0px; 
        line-height:1.25em; 
        }
.Normal-C0
        {
        font-family:"Arial", sans-serif; font-weight:700; font-size:13.0px; 
        line-height:1.23em; color:#ffffff; 
        }
.Corps-C3
        {
        font-family:"Verdana", sans-serif; font-size:16.0px; 
        line-height:1.13em; 
        }
.Corps-C4
        {
        font-family:"Arial", sans-serif; font-style:italic; font-weight:700; 
        font-size:16.0px; line-height:1.19em; 
        }
.Corps-C5
        {
        font-family:"Arial", sans-serif; font-style:italic; font-weight:700; 
        font-size:15.0px; line-height:1.13em; 
        }
.Normal-C1
        {
        font-family:"Verdana", sans-serif; font-size:12.0px; 
        line-height:1.17em; 
        }
.H1-C {
    font: bold italic 1.25em/1em "Arial", sans-serif;
    margin: auto;
    padding: 0;
    border-top: solid #FF5523 medium;
    border-bottom: dotted #FF5523 thin;
    width: 100%;
    color: #000;
    background-color: #ffef12;
    text-align: center;
    align: center;
}
/**
* Ajoute par liva pour la page d'authentification
*/
.content{
    position: absolute;
    top: 275px;
    width: 100%;
}

#divConnect p {
    display: block;
}
#divConnect p span {
    display: inline-block;
    text-align: right;
    width: 50%;
}
#divConnect p input {
    display: inline-block;
    text-align: left;
}
#ErrorMessage {
    text-align: center;
    font-style: italic;
    color: red;
}
/**
* Ajoute par liva pour la page menu professionnel
*/
#divMenuProfessionnel {
    height: auto;
	position: absolute;
    top: 275px;
    width: 810px;
}
#divMenuProfessionnelLeft, #divMenuProfessionnelRight {
    height: auto;
    padding-left: 50px;
    width: 350px;
}
#divMenuProfessionnelLeft { float: left; }
#divMenuProfessionnelRight { float: left; }
#divMenuProfessionnelLeft h1, #divMenuProfessionnelRight h1 {
    font-family:"Capture it",serif;
    font-size:27px;
    padding-left:80px;
    width:185px;
}
#divMenuProfessionnelLeft h1 { background: url(../images/wpcae2a345.png) no-repeat top left; }
#divMenuProfessionnelRight h1 { background: url(../images/wp446618e3.png) no-repeat top left; }
#divMenuProfessionnelLeft h3, #divMenuProfessionnelRight h3 {
    font-family:"Arial",sans-serif;
    font-size:15px;
    font-weight:700;
    line-height:1.2em;
    width:77%;
}
#divMenuProfessionnel ul, #divMenuProfessionnel ul li {
    list-style-image: url(../images/wp491339c1.png);
}
#divMenuProfessionnel ul li {
    font-family:"Arial",sans-serif;
    font-size:16px;
    font-weight:700;
    line-height:1.25em;
    width:77%;
}
#divMenuProfessionnel ul li a{
    color: #000;
}
/* for autocomplete produit */
.suggestionsBox {
  position: relative;
  /*left: 30px;*/
  margin:0;
  width: 155px;
  z-index: 1;
  top:0;
 }
 #autoSuggestionsList{ display:block; margin:0; padding:0;}
 #autoSuggestionsList ul{
	 border-top:1px solid #181C54;
	 margin: 0px;
  	padding: 0px;
 	list-style-type:none;
    margin: 0;
    padding: 0;
    position: relative;
    top:2px;
	width:155px;}
 

 #autoSuggestionsList li {
	 background-image:url(../images/lichoix.png);
	 background-repeat:repeat;
	 border-left:1px solid #181C54;
	 border-right:1px solid #181C54;
	 border-bottom:1px solid #181C54;
	 border-top:none;
	 margin:0;
	padding: 2px 5px 2px 5px;
	display:block;
	color:#181C54;
	float:left;
  cursor: pointer;
  font-size:11px;
  line-height:13px;
  font-weight:normal;
  width:143px;
 }
 
 .suggestionList li:hover {  background-color: #659CD8; }

 
 /* for autocomplete produit */
.suggestionsBoxCommercant {
  position: relative;
  /*left: 30px;*/
  margin:0;
  width: 155px;
  z-index: 1;
  top:0;
 }
 #autoSuggestionsListCommercant{ display:block; margin:0; padding:0;}
 #autoSuggestionsListCommercant ul{
	 border-top:1px solid #181C54;
	 margin: 0px;
  	padding: 0px;
 	list-style-type:none;
    margin: 0;
    padding: 0;
    position: relative;
    top:2px;
	width:155px;}
 

 #autoSuggestionsListCommercant li {
	 background-image:url(../images/lichoix.png);
	 background-repeat:repeat;
	 border-left:1px solid #181C54;
	 border-right:1px solid #181C54;
	 border-bottom:1px solid #181C54;
	 border-top:none;
	 margin:0;
	padding: 2px 5px 2px 5px;
	display:block;
	color:#181C54;
	float:left;
  cursor: pointer;
  font-size:11px;
  line-height:13px;
  font-weight:normal;
  width:143px;
 }
 
 .suggestionListCommercant li:hover {  background-color: #659CD8; }
 
  /* for autocomplete produit */
.suggestionsBoxVille {
  position: relative;
  /*left: 30px;*/
  margin:0;
  width: 155px;
  z-index: 1;
  top:0;
 }
 #autoSuggestionsListVille{ display:block; margin:0; padding:0;}
 #autoSuggestionsListVille ul{
	 border-top:1px solid #181C54;
	 margin: 0px;
  	padding: 0px;
 	list-style-type:none;
    margin: 0;
    padding: 0;
    position: relative;
    top:2px;
	width:155px;}
 

 #autoSuggestionsListVille li {
	 background-image:url(../images/lichoix.png);
	 background-repeat:repeat;
	 border-left:1px solid #181C54;
	 border-right:1px solid #181C54;
	 border-bottom:1px solid #181C54;
	 border-top:none;
	 margin:0;
	padding: 2px 5px 2px 5px;
	display:block;
	color:#181C54;
	float:left;
  cursor: pointer;
  font-size:11px;
  line-height:13px;
  font-weight:normal;
  width:143px;
 }
 
 .suggestionListVille li:hover {  background-color: #659CD8; }
 
 
 /* onja css*/
.Normal-C4
        {
        font-family:"Arial", sans-serif; font-weight:700; font-size:13.0px; 
        line-height:1.23em; 
    }
	.Normal-P
        {
        margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400; 
        }
		
.Corps-P
        {
        margin:0.0px 0.0px 12.0px 0.0px; text-align:justify; 
        font-weight:400; 
        }
.Normal-C
        {
        font-family:"Arial", sans-serif; font-weight:700; font-size:15.0px; 
        line-height:1.20em; 
        }
.Normal-C0
        {
        font-family:"Arial", sans-serif; font-weight:700; font-size:12.0px; 
        line-height:1.25em; 
        }
.Normal-C1
        {
        font-family:"Arial", sans-serif; font-weight:700; font-size:16.0px; 
        line-height:1.25em; 
        }
.Normal-C2
        {
        font-family:"Arial", sans-serif; font-weight:700; font-size:19.0px; 
        line-height:1.21em; 
        }
.Normal-C3
        {
        font-family:"Arial", sans-serif; font-weight:700; font-size:24.0px; 
        line-height:1.25em; color:#008000; 
        }
.Normal-C4
        {
        font-family:"Arial", sans-serif; font-weight:700; font-size:13.0px; 
        line-height:1.23em; 
        }
.Corps-C
        {
        font-family:"Arial", sans-serif; font-size:12.0px; line-height:1.25em; 
        }
.Corps-C0
        {
        font-family:"Arial", sans-serif; font-weight:700; font-size:27.0px; 
        line-height:1.22em; 
        }
.Normal-C5
        {
        font-family:"Arial Black", sans-serif; font-size:47.0px; 
        line-height:1.43em; 
        }
		/*new*/
.Normal-P1
        {
        margin:0.0px 0.0px 0.0px 0.0px; text-align:left; font-weight:400; 
		left:500px;
 }
 #divCadeau {
    margin-bottom :10px;
	padding-bottom :10px;
	
 }
 
 .catalogue-c1{
	position: absolute;
	left: 130px;
	top: 651px;
	width: 167px;
	height: 31px;
 }
 
 .validation-c1{
	
 }
 .divBonplan{
	 background-image:url(../images/wpee15d749.png);
	 background-repeat:repeat;
 }
.FieldError {
    display: none;
    color: red;
    font-style: italic;
}
.divConnexion {
    float: right;
    height: 155px;
    margin-left: 824px;
    margin-top: 50px;
    position: absolute;
    width: 200px;
    z-index: 10;
}
.divConnexion span{
    left: 55px;
    position: relative;
    top: 55px;
}
.divConnexion span a{
    color: red!important;
}