    /**
    * style sweet alert
    */
    
    .swal2-close {
        color: #777777;
    }
    
    .swal2-close:focus {
        outline: none;
    }
    
    .az-input-flash-alert:focus {
        outline: none;
        box-shadow: none;
        border: 1px solid #888888;
        border-radius: 0em;
    }
    
    .az-check-label {
        color: #5492b8;
    }