﻿/* @font-face kit by Fonts2u (https://fonts2u.com) */ @font-face {font-family:"Libre Baskerville Italic";src:url("LibreBaskerville-Italic.eot?") format("eot"),url("LibreBaskerville-Italic.woff") format("woff"),url("LibreBaskerville-Italic.ttf") format("truetype"),url("LibreBaskerville-Italic.svg#LibreBaskerville-Italic") format("svg");font-weight:normal;font-style:normal;}
