@font-face {
  font-family: "HelveticaNeueLTW01-75Bold";
  src: url("https://db.onlinewebfonts.com/t/4a086cb2a88d233347fbf65f4a8b6ead.eot"); /* IE9*/
  src: url("https://db.onlinewebfonts.com/t/4a086cb2a88d233347fbf65f4a8b6ead.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("https://db.onlinewebfonts.com/t/4a086cb2a88d233347fbf65f4a8b6ead.woff2")
      format("woff2"),
    /* chrome firefox */
      url("https://db.onlinewebfonts.com/t/4a086cb2a88d233347fbf65f4a8b6ead.woff")
      format("woff"),
    /* chrome firefox */
      url("https://db.onlinewebfonts.com/t/4a086cb2a88d233347fbf65f4a8b6ead.ttf")
      format("truetype"),
    /* chrome firefox opera Safari, Android, iOS 4.2+*/
      url("https://db.onlinewebfonts.com/t/4a086cb2a88d233347fbf65f4a8b6ead.svg#HelveticaNeueLTW01-75Bold")
      format("svg"); /* iOS 4.1- */
}
@font-face {
  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
  src: local("Anton Regular"), local("Anton-Regular"),
    url(https://fonts.gstatic.com/s/anton/v11/1Ptgg87LROyAm3K8-C8QSw.woff2)
      format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

textarea {
  height: 100px !important;
}
/* latin-ext */
@font-face {
  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
  src: local("Anton Regular"), local("Anton-Regular"),
    url(https://fonts.gstatic.com/s/anton/v11/1Ptgg87LROyAm3K9-C8QSw.woff2)
      format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Anton";
  font-style: normal;
  font-weight: 400;
  src: local("Anton Regular"), local("Anton-Regular"),
    url(https://fonts.gstatic.com/s/anton/v11/1Ptgg87LROyAm3Kz-C8.woff2)
      format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* vietnamese */
.active_menu_commande {
  background: #e80eae !important;
}
.title_blues {
  font-size: 15px;
  text-align: justify;
  font-family: futura-lt-w01-book, sans-serif;
  color: #3453a2 !important;
}
.text-prom {
  color: #ffffff;
  font-family: futura-lt-w01-book, sans-serif;
  font-size: 17px;
}
.shadowed {
  box-shadow: 0px 22px 17px -20px rgba(0, 0, 0, 0.2);
}
.btn_after_input_blue {
  background: rgba(52, 83, 162, 1);
  color: #ffffff;
  text-align: center;
  border-radius: unset;
  width: 100%;
  font-size: 13px;
}
.title_prom {
  color: #ffffff;
  font-family: anton, sans-serif;
  font-size: 30px;
  margin-bottom: 30px;
}
.prom_row {
  background-color: #e80eae;
}
.input_prom {
  width: 100%;
  height: 34px;
  border: solid 2px rgba(145, 145, 145, 1);
  font: normal normal 700 18px/1.4em futura-lt-w01-book, sans-serif;
  text-align: center;
  background-color: white;
}
.prom_row {
  background-color: #e80eae;
}
.middle_title {
  font-family: futura-lt-w01-book, sans-serif;
  color: #000000;
  font-weight: bold;
  font-size: 18px;
}
.title_differe {
  font-family: futura-lt-w01-book, sans-serif;
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0em;
}
.menus_2 {
  width: 100% !important;
  border: solid rgba(50, 50, 50, 1) 2px !important;
  padding: 15px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  border-radius: 20px !important;
  color: black !important;
  text-transform: none !important;
  font-size: 16px !important;
  font-family: Futura-LT-Book, Sans-Serif !important;
}

.menus_2:hover {
  color: white !important;
  background-color: rgba(50, 50, 50, 1) !important;
}
.webmaster:hover {
  color: white !important;
  background-color: #ffffff !important;
}
.text_variante {
  color: #3453a2;
  font-size: 18px;
  font-family: HelveticaNeueLTW01-75Bold;
}
.titre_categorie {
  height: 50px;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
  color: #3453a2;
  font-family: Futura-LT-Book, Sans-serif !important;
  margin-bottom: 0px !important;
}
.description_categorie {
  font-size: 15px;
  text-align: justify !important;
  color: #000000;
  font-family: Futura-LT-Book, Sans-serif !important;
  height: 128px;
  overflow: hidden;
}
.input_glissiere {
  border: 3px solid #ffffff;
  background: #3453a2;
  width: 95% !important;
  height: 45px;
}
.marge_gli_2 {
  margin-top: 10px !important;
}
.btn_after_input {
  background: rgba(29, 181, 120, 1);
  color: #ffffff;
  text-align: center;
  border-radius: unset !important;
  width: 100%;
}
.btn_after_input_other {
  color: #ffffff;
  text-align: center;
  border-radius: unset !important;
  width: 100%;
}
.btn_after_input_other:hover {
  background: rgba(29, 181, 120, 1);
}
.head_commande {
  margin-bottom: 30px;
  box-shadow: 0px 22px 17px -20px rgba(0, 0, 0, 0.2);
}
.titre_header {
  font-family: Futura-Lt-Book, Sans-Serif !important;
  font-size: 35px;
  color: #3453a2;
}
.text_head {
  font-size: 15px;
  font-family: Futura-LT-Book, Sans-serif !important;
  margin-bottom: 0px !important;
  text-align: justify;
}
.text_bold {
  font-size: 15px;
  font-family: Futura-LT-Book, Sans-serif !important;
  margin-bottom: 0px !important;
  font-weight: bold;
}
.text_head_confirm {
  font-size: 16px;
  font-family: Futura-LT-Book, Sans-serif !important;
  text-align: justify;
}
.text_head1 {
  font-size: 15px;
  font-family: Futura-LT-Book, Sans-serif !important;
  margin-bottom: 0px !important;
  text-align: center;
}
.drop_up_down {
  height: 36px !important;
}
@media screen and (max-width: 767px) {
  .marge_gli_1 {
    margin-top: 10px !important;
  }
}
@media screen and (min-width: 768px) {
  .marge_gli_1 {
    margin-top: 60px !important;
  }
}
.cont_all {
  width: 1250px;
  /* margin-bottom: 100px; */
  /* margin-top: 100px; */
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
.text_input_montant {
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
}
.ombre_bloc {
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.back_blue {
  background: #3453a2;
}
.prix_u {
  border: unset !important;
  color: #3453a2;
  font-size: 24px;
  font-weight: bold;
}
.prix_tot {
  border: unset !important;
  color: #ffffff;
  font-size: 35px;
  font-weight: bold;
}
.chiffre_gli {
  font-size: 24px;
  background: #e80eae;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 25px;
  padding-top: 7px;
  padding-bottom: 7px;
}
.cont_all2 {
  width: 998px !important;
}
.text_small {
  color: #727272;
  opacity: 0.7;
  font-size: 12px;
  font-family: Futura-LT-Book;
  text-align: center;
}
.titre_gli_up {
  font-family: Futura-LT-Book !important;
  font-size: 30px !important;
  text-transform: uppercase;
  align-self: center;
}
.btn_download {
  background: rgba(232, 14, 174, 1);
  color: #ffffff;
  font-size: 15px;
  border-radius: unset !important;
  font-family: Futura-LT-Book;
}
.plus {
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
}
.btn_download:hover {
  background: rgba(125, 116, 242, 1);
}
.titre_gli_up2 {
  font-family: Futura-LT-Book;
  font-size: 25px !important;
  text-transform: uppercase;
  align-self: center;
  color: #000000 !important;
  font-weight: bold;
}
.titre_gli_up2_1 {
  font-family: Futura-LT-Book;
  font-size: 18px !important;
  text-transform: uppercase;
  align-self: center;
}
.titre_gli_up3 {
  font-family: Futura-LT-Book;
  font-size: 14px !important;
  align-self: center;
}
.titre_gli_up1 {
  font-family: Futura-LT-Book;
  font-size: 20px !important;
  text-transform: normal;
}
.text_label {
  font-family: Futura-LT-Book, Sans-Serif;
  font-size: 15px;
  color: #3453a2;
  align-self: center;
  text-align: center;
  letter-spacing: 0.05em;
}
.text_label_mont {
  font-family: Futura-LT-Book, Sans-Serif;
  font-size: 15px;
  color: #ffffff;
  align-self: center;
  text-align: center;
  letter-spacing: 0.05em;
}
.text_label2 {
  font-family: Futura-LT-Book, Sans-Serif;
  font-weight: bold;
  font-size: 15px;
  color: #000000;
  align-self: center;
  text-align: center;
  letter-spacing: 0.05em;
}
.textarea_style {
  border-radius: unset !important;
  border-width: 2px !important;
  border-color: rgba(145, 145, 145, 1) !important;
}
.textarea_style_input {
  border: solid;
  border-radius: unset !important;
  border-width: 2px !important;
  border-color: rgba(145, 145, 145, 1) !important;
  background: #ffffff !important;
}
.label_input {
  color: #61615f;
  font-family: Futura-LT-Book, Sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.textarea_style_cherche {
  border-radius: 0px !important;
  border-width: 2px !important;
  border-color: rgba(232, 14, 174, 1) !important;
}
.btn_cherche {
  background: rgba(232, 14, 174, 1) !important;
  border: solid 1px rgba(232, 14, 174, 1) !important;
  border-radius: 0px !important;
  font-family: "arial black", arial-w01-black, arial-w02-black,
    "arial-w10-black", Sans-serif !important;
  color: #ffffff !important;
  text-transform: uppercase !important;
  font-weight: bold !important;
  font-size: 15px !important;
}
.btn_carte {
  background: rgba(232, 14, 174, 1) !important;
  border: solid 1px rgba(232, 14, 174, 1) !important;
  border-radius: 0px !important;
  width: 100% !important;
  font-family: Futura-LT-Book, Sans-serif !important;
  color: #ffffff !important;
  font-size: 14px !important;
}
.btn_carte:hover {
  background: rgba(32, 206, 136, 1) !important;
  border: solid 1px rgba(32, 206, 136, 1) !important;
}
.up_1 {
  position: relative;
  left: 25px;
  top: 26px;
  width: 0px;
  height: 0px;
  color: black;
  border-style: inset;
  border-width: 0 20px 40px 20px;
  border-color: transparent transparent #ffffff transparent;
  float: left;
  transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}
.down_1 {
  position: relative;
  top: 30px;
  left: 25px;
  width: 0;
  height: 0;
  border-top: 40px solid #ffffff;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
}
.cercle {
  position: relative;
  top: -53px;
  left: 0px;
  margin: auto;
  width: 90px;
  height: 88px;
  /* overflow: hidden; */
  border-radius: 80px;
  background: #3453a2;
}
.glissiere_tab {
  background-color: #3453a2;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}
.egale {
  position: relative;
  top: 0px;
  left: 0px;
  margin: auto;
}
.plus_somme {
  position: relative;
}
.plus_somme::before {
  position: absolute;
  content: "\f067";
  font-family: FontAwesome !important;
  left: -12px;
  bottom: -3px;
  font-size: 30px;
  font-weight: bold;
}
.img-glisss {
  overflow: hidden;
  height: 215px;
}
.title_gli {
  color: white;
}
.heigth_tt {
  height: 40px;
}
.titre_volet {
  margin-bottom: 5px;
  font-size: 15px;
  font-family: Futura-LT-Book;
  margin-top: 15px;
  margin-left: -50px;
  margin-right: -55px;
}
@media screen and (max-width: 1024px) {
  .titre_volet {
    margin-left: -15px;
    margin-right: -78px;
  }
  .prix_u {
    font-size: 17px;
  }
  .text_label {
    padding-left: 0px !important;
  }
  .img-glisss {
    height: 165px;
  }
  .description_categorie {
    height: 130px;
  }
}

.col-lgg-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.switch {
  position: relative;
  display: inline-block;
  top: 15px;
  left: -55px;
  margin-bottom: 0px !important;
  height: 20px;
}
@media screen and (max-width: 767px) {
  .switch {
    width: 70px;
  }
}
@media screen and (min-width: 768px) {
  .switch {
    width: 100px;
  }
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media screen and (max-width: 767px) {
  .slider:before {
    position: absolute;
    content: "\f068";
    font-family: FontAwesome !important;
    font-size: 19px;
    color: #ffffff;
    font-weight: bold;
    height: 30px;
    width: 30px;
    left: -1px;
    bottom: -5px;
    border: 2px solid #ffffff;
    background-color: rgba(219, 20, 20, 1);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}
@media screen and (min-width: 768px) {
  .slider:before {
    position: absolute;
    content: "\f068";
    font-family: FontAwesome !important;
    font-size: 34px;
    color: #ffffff;
    font-weight: bold;
    height: 50px;
    width: 50px;
    left: -1px;
    bottom: -15px;
    border: 2px solid #ffffff;
    background-color: rgba(219, 20, 20, 1);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

input:checked + .slider {
  background-color: #ffffff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

@media screen and (max-width: 767px) {
  input:checked + .slider:before {
    background-color: #4bdb7b;
    content: "\f00c";
    font-family: FontAwesome !important;
    color: #ffffff;
    font-size: 19px;
    text-align: center;
    font-weight: bold;
    left: 15px;
    bottom: -6px;
    border: 2px solid rgba(56, 153, 236, 1);
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
}
@media screen and (min-width: 768px) {
  input:checked + .slider:before {
    background-color: #4bdb7b;
    content: "\f00c";
    font-family: FontAwesome !important;
    color: #ffffff;
    font-size: 34px;
    text-align: center;
    font-weight: bold;
    left: 25px;
    bottom: -15px;
    border: 2px solid rgba(56, 153, 236, 1);
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch_default {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 26px;
  float: right;
}

/* Hide default HTML checkbox */
.switch_default input {
  display: none;
}

/* The slider */
.slider_default {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  border: 2px solid #e80eae;
  border-radius: 2px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider_default:before {
  position: absolute;
  content: "\f068";
  font-family: FontAwesome !important;
  color: #ffffff;
  font-size: 19px;
  text-align: center;
  font-weight: bold;
  height: 24px;
  width: 30px;
  left: 0px;
  bottom: 0px;
  background-color: #e80eae;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input.default:checked + .slider_default {
  background-color: #444;
}
input.primary:checked + .slider_default {
  background-color: #2196f3;
}
input.success:checked + .slider_default {
  background-color: #ffffff;
}
input.info:checked + .slider_default {
  background-color: #3de0f5;
}
input.warning:checked + .slider_default {
  background-color: #ffc107;
}
input.danger:checked + .slider_default {
  background-color: #f44336;
}

input:focus + .slider_default {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider_default:before {
  background-color: #4bdb7b;
  content: "\f00c";
  font-family: FontAwesome !important;
  color: #ffffff;
  font-size: 19px;
  text-align: center;
  font-weight: bold;
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
input:checked + .slider_default {
  border: 2px solid #4bdb7b;
  border-radius: 2px;
}
.mobile_button {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 0px !important;
  padding-left: 0px !important;
}
@media only screen and (max-width: 700px) {
  .mobile_button {
    position: relative !important;
    width: 100% !important;
    min-height: 1px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
  .col-sms-12 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .plus_somme::before {
    display: none !important;
  }
  #plus_before::before {
    display: block !important;
    position: absolute;
    content: "\f067";
    font-family: FontAwesome !important;
    left: -12px;
    bottom: -3px;
    font-size: 30px;
    font-weight: bold;
  }
  #qr_content {
    margin-left: 0px !important;
    margin-top: 15px;
  }
  .cont_all2 {
    max-width: 335px !important;
  }
  .cont_all {
    width: 100% !important;
    margin-left: 0px !important;
    margin-bottom: 0px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .titre_volet {
    text-align: left;
    margin-left: 0;
    margin: auto;
    margin-top: 0px;
  }
  @media screen and (max-width: 767px) {
    .titre_volet {
      margin-bottom: 0px;
      padding-right: 0px;
    }
  }
  @media screen and (min-width: 768px) {
    .titre_volet {
      margin-bottom: 15px;
      padding-right: 72px;
    }
  }
  @media screen and (max-width: 767px) {
    .switch {
      left: -11px !important;
      top: 0px !important;
    }
  }
  @media screen and (min-width: 768px) {
    .switch {
      left: 15px !important;
      top: 10px !important;
    }
  }

  #textarea_sm {
    width: 100%;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-bottom: 20px;
  }
  #label_sm {
    text-align: left !important;
    padding-left: 0px !important;
  }
  .round_arrow_down {
    text-align: center !important;
  }
  .text_bas_sm {
    text-align: center !important;
    margin-top: 15px;
  }
  #textarea_sm_livr0 {
    padding-left: 15px !important;
  }
  #textarea_sm_livr1 {
    margin-bottom: 15px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  #textarea_sm_livr2 {
    margin-bottom: 15px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  #textarea_sm_livr3 {
    margin-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  #giltotalcontain {
    padding-right: 15px !important;
  }
  .heigth_tt.prix_tot .chiffre_gli {
    position: relative;
    left: 0px !important;
  }
  #montant_total {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  #row_sm {
    width: auto !important;
    margin-left: -15px !important;
    margin-right: -30px !important;
  }
  #content_btn_validate {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: -8px;
    margin-right: -20px;
  }
  #textarea_sm_livr6 {
    margin-top: 10px;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  #textarea_sm_livr7 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  #textarea_sm_livr8 {
    margin-top: 10px;
    padding-left: 15px !important;
    padding-right: 0px !important;
  }
  #heure_souhaite {
    margin-left: 15px;
  }
  .round_arrow {
    left: 90px;
  }
  .content_sm_text {
    margin-top: 45px;
  }
  #content_sm_remise {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  #col_sm {
    margin-left: 0px !important;
    padding: 0px !important;
  }
  #comment_comm {
    margin-left: 15px !important;
  }
}

@media screen and (max-width: 767px) {
  body div .modal-dialog,
  body div .modal-content,
  body div .modal-header,
  body div .modal-body {
    /*width: 97% !important;*/
  }
  .title_gli_sm_height {
    display: block !important;
    height: 100px;
    max-height: 100px !important;
  }
}

.modal-header {
  height: 60px !important;
  padding: 20px !important;
  cursor: pointer !important;
}

@media (min-width: 768px) and (max-width: 1024px) {
  div .titre_volet {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

/*Image Carte privilège*/
.carte-privilege img {
  display: block;
  margin: auto;
}
@media (min-width: 768px) and (max-width: 1024px) {
  div .titre_volet {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

/* @font-face {
  font-family: "futura";
  src: url("https://www.sortez.org/assets/fonts/FuturaLT.eot") format("eot"),
    url("https://www.sortez.org/assets/fonts/FuturaLT.woof") format("woff"),
    url("https://www.sortez.org/assets/fonts/FuturaLT.ttf") format("truetype"),
    url("https://www.sortez.org/assets/fonts/FuturaLT.svg") format("svg");
} */
/* @font-face {
  font-family: "futura";
  src: url("../../assets/fonts/FuturaLT.eot") format("eot"),
    url("../../assets/fonts/FuturaLT.woof") format("woff"),
    url("../../assets/fonts/FuturaLT.ttf") format("truetype"),
    url("../../assets/fonts/FuturaLT.svg") format("svg");
} */
