@media screen and (max-width: 991px) {

	.accueil_select_content_1 .title_2 {
		font-size: 20px;
	}
	.accueil_select_content_2 .title_1 {
		font-size: 20px;
	}


	.home_select_vsv {
		font-size: 18px;
		line-height: 24px;
	}
	.accueil_select_content_2 .title_2 {
		font-size: 22px;
		line-height: 35px;
	}
	.accueil_select_content_2 .footer .text_1 {
		font-size: 22px;
		line-height: 35px;
	}
	.accueil_select_content_2 .footer .text_2 {
		font-size: 18px;
	}
	.vs_main_menu .vs_ul_main_menu {
        height: auto;
    }
    .mm_1,.mm_2,.mm_3,.mm_4,.mm_5,.mm_6,.mm_7,.mm_8 {
        width:100% !important;
        font-size: 14px;
    }
    .mm_8 div {
        width:100% !important;
    }
    .mm_8 {
        padding-bottom: 70px;
    }

    .main_rubrique_menu, .main_rubrique_menu .row.h-100 {
        height: auto !important;
    }
	#navbarsMainMenuDefault ul li,
    #navbarsDepartMenuDefault ul li{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .vsv_accueil_rubrique_image {
        height: auto;
    }
    .vsv_accueil_rubrique_title {
        font-size: 16px;
        line-height: 20px;
    }
    .accueil_content_pub {
        display: none;
    }
	#frmRecherchePartenaire .main_rubrique_banner_title, 
	#frmRechercheBonplan .main_rubrique_banner_title,
	#frmRechercheAnnonce .main_rubrique_banner_title 
	{
		display: none !important;
	}
	#frmRecherchePartenaire .navbutton_category_list_filter,
	#frmRechercheBonplan .navbutton_category_list_filter,
	#frmRechercheAnnonce .navbutton_category_list_filter
	{
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
	.main_banner_container .vsv_main_ville_name_txt {
		background-size: 100% auto;
	}
    .title_rose_select {
        font-size:20px;
        line-height:24px;
    }
    .accueil_select_content_1,
    .accueil_select_content_2,
    .accueil_select_content_3
    {
        font-size:18px;
        line-height: 20px;
    }
    .accueil_select_content_1 a,.accueil_select_content_1 a:hover,.accueil_select_content_1 a:focus,.accueil_select_content_1 a:active,
    .accueil_select_content_2 a,.accueil_select_content_2 a:hover,.accueil_select_content_2 a:focus,.accueil_select_content_2 a:active,
    .accueil_select_content_3 a,.accueil_select_content_3 a:hover,.accueil_select_content_3 a:focus,.accueil_select_content_3 a:active
    {
        font-size:14px;
        line-height: 18px;
    }
    .vsv_accueil_btn,.vsv_accueil_btn:active, .vsv_accueil_btn:hover, .vsv_accueil_btn:focus{
        padding: 15px;
    }
    .main_rubrique_menu .row a.col {
        width: 100% !important;
        float: left !important;
        display: table;
        /*text-transform: uppercase;*/
        font-weight: bold;
    }.main_rubrique_menu .row a.col
     .main_nav_bar_rubrique_menu {
         display: table;
     }
	.main_banner_container .row .logo_ville {
        background-position-x: -100px !important;
        min-height: 225px;
    }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
    h1 {
        font-size: 28px !important;
    }
    h2 {
        font-size: 26px !important;
    }
    #span_leftcontener2013_form_bonplans .vsv_subcateg_filter,
    #span_leftcontener2013_form_annonces .vsv_subcateg_filter,
    #span_leftcontener2013_form_partenaires .vsv_subcateg_filter{
        width: 33.33333% !important;
        max-width: 33.33333% !important;
        flex: auto !important;
    }
    .accueil_select_content_1 .title_1 {
        font-size: 28px;
    }
}
@media screen and (min-width: 481px) and (max-width: 991px) {
	.main_banner_container .vsv_main_ville_name_txt {
		padding: 65px 25px 0 25px;
        font-size: 18px !important;
	}
}