.btn_block_categ_other{
    border: 2px solid #ffffff;
    background-color: #E80EAE;
    color: #ffffff;
    border-radius: unset;
    margin-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
}
.btn_block_categ_other:hover{
    border: 2px solid #1db578;
    background-color: #1db578;
    color: #ffffff;
}
.h1_titre_categ{
    font-family: Libre-Baskerville-Italic, Serif;
    font-size: 25px;
    color: #000000;
    text-align: center;
}
.back_none{
    padding-top: 50px;
    padding-bottom: 60px;
    background-color: unset!important;
}
.content_bien_autre{
    background-color: #edd23b;
}
.container_pack_inclus{
    max-width: 1300px;
}
.container_pack_bien{
    max-width: 925px;
}
.box_shadow_ville_select{
    box-shadow: 3px 3px 5px 2px #ccc;
    padding-bottom: 15px;
    margin-bottom: 25px;
}
.title_bloc_rub{
    font-family: Libre-Baskerville-Italic, Serif;
    font-size: 35px;
    text-align: center;
    margin-bottom: 40px;
}
.description_abonnement{
    padding-top: 5px;
    overflow: hidden;
    height: 95px;
    margin-bottom: 30px;
    font-size: 17px;
    font-family: Libre-Baskerville, Serif;
    text-align: center;
    line-height: 1.1em;
    color:#E60E88;
}
.prix_abonnement{
    font-size: 35px;
    line-height: 1rem;
    font-family: Libre-Baskerville-Italic, Serif;
    color:#E60E88;
    text-align: center;
}
.col-cards-sortez{
    /*max-width: 20%;
    flex: 0 0 20%;*/
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
}
@media (max-width: 600px){
    .col-cards-sortez{
        max-width: 100%!important;
        flex: 0 0 100%!important;
        -webkit-box-flex: 0!important;
        -webkit-flex: 0 0 100%!important;
        -ms-flex: 0 0 100%!important;
    }
}
.text_set_partnaire{
    font-size: 20px!important;
    padding-left: 40px!important;
    padding-right: 40px!important;
    border: 2px solid white!important;
}
.border_set{
    border-radius: 100px;
}
.offert_text{
    position: absolute;   
    left: 75px;
    background-color: #E60E88;
    border: 4px solid white;
    margin-top: 300px;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 100px;
    color: white;
    font-size: 38px;
    font-family: FANTASY;
    width: 190px;
    height: 190px;
    
}
.height_fixe{
    height: 502px;
    background: #ffffff;
    margin-top: 15px;
    
}
.content_image{
    height: 205px;
    position: relative;
}
.description_abonnement_new{
    padding-top: 30px;
    overflow: hidden;
    height: 85px;
    margin-bottom: 5px;
    font-size: 18px;
    font-family: Libre-Baskerville, Serif;
    text-align: center;
    line-height: 1.1em;
    color:#E60E88;
}
.sans_commission{
    padding-top: 30px;
    overflow: hidden;
    
    
    font-size: 17px;
    font-family: Libre-Baskerville, Serif;
    text-align: center;
    line-height: 1.1em;
    color:white
}
.prix_abonnement{
    font-size: 25px;
    font-style: italic;
    line-height: 1rem;
    font-family: Libre-Baskerville-Italic, Serif;
    color:#E60E88;
    text-align: center;
}
.valeur_prix{
    font-size: 20px;
    font-family: Libre-Baskerville-Italic, Serif;
    color:#E60E88;
    text-align: center;
}
.title_bloc_bloc_categ{
    padding-top: 25px;
    font-size: 17px;
    font-family: Futura-LT-Book, Sans-Serif;
    color: #ffffff;
    text-align: center;
}
.description_bloc_bloc_categ{
    font-size: 15px;
    font-family: Futura-LT-Book, Sans-Serif;
    color: #ffffff;
    text-align: center;
}
.text_description{
    font-size: 18px;
    font-family: Futura-LT-Book, Sans-Serif;
    color: #ffffff;
    text-align: center;
}
.title_select_ville{
    color:#E80EAE;
    font-size: 35px;
    font-style:italic;
    line-height:1em;
    text-align:center;
    font-family: Libre-Baskerville-Italic, Serif;
}
.title_select_ville_categ{
    color:#ffffff;
    font-size: 35px;
    font-style:italic;
    line-height:1.5em;
    text-align:center;
    font-family: Libre-Baskerville-Italic, Serif;
    padding-top: 20px;
    padding-bottom: 25px;
}
.title_select_ville_categ2{
    color:#ffffff;
    font-size: 20px;
    font-style:italic;
    line-height:1.5em;
    text-align:center;
    font-family: Libre-Baskerville-Italic, Serif;
    padding-top: 20px;
    padding-bottom: 25px;
}
.title_select_ville_categ3{
    color:#ffffff;
    font-size: 35px;
    font-style:italic;
    line-height:1.5em;
    text-align:center;
    font-family: Libre-Baskerville-Italic, Serif;
    padding-top: 20px;
    padding-bottom: 25px;
}
.info_text{
    font-size: 15px;
    font-family: Futura-LT-Book, Sans-Serif;
    text-align: center;
}
.list_text li{
    font-family: Futura-LT-Book, Sans-Serif;
    font-size: 17px;
    margin-bottom: 25px;
}
.content_block{
    background-color: #E80EAE;
    padding-bottom: 40px;
    padding-top: 15px;
}
.container_select_ville{
    width: 925px;
}
.back_categ{
    background-color: #E80EAE!important;
}
.back_offre{
    background-color: #3d9be9!important;
}
.content_white{
    height: auto;
    background-color: #ffffff;
    text-align: center;
}
.title_block_categ{
    font-size: 20px;
    height: 75px;
    padding-top: 10px;
    font-family: Libre-Baskerville-Italic, Serif;
}
.btn_block_categ{
    border: 1px solid #E80EAE;
    background-color: #E80EAE;
    color: #ffffff;
    border-radius: unset;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 40px;
    margin-bottom: 100px;
    font-size: 25px;
}
.btn_block_categ:hover{
    border: 1px solid #1db578;
    background-color: #1db578;
    color: #ffffff;
}
.box_shadow_ville_select{
    box-shadow: 3px 3px 5px 6px #ccc;
    padding-bottom: 15px;
}
.title_bloc_rubriques{
    color: #E80EAE;
    text-align: center;
    font-family: Libre-Baskerville-Italic, Serif;
    font-size: 20px;
    padding-top: 20px;
}
.text_blockrubriques{
    color:#2F2E2E;
    font-size: 13px;
    font-family: Futura-LT-Book, Sans-Serif;
    text-align: center;
    height: 55px;
    overflow: hidden;
}
.title_bloc_rub{
    font-family: Libre-Baskerville-Italic, Serif;
    font-size: 35px;
    text-align: center;
    margin-bottom: 40px;
}
.image_border_set{
    padding-left: 0px;
    border-radius: 100px;
}
.title_select_ville{
    color:#E80EAE;
    font-size: 35px;
    font-style:italic;
    line-height:1em;
    text-align:center;
    font-family: Libre-Baskerville-Italic, Serif;
}
.title_hours{
    color:#E80EAE;
    font-size: 35px;
    text-align:center;
    font-family: Libre-Baskerville, Serif;
}
.precision_hours{
    color:#E80EAE;
    font-size: 45px;
    text-align:center;
    font-family: Libre-Baskerville, Serif;
}
.fat_title{
    color:#E80EAE;
    font-size: 40px;
    font-style:italic;
    text-align:center;
    font-family: Libre-Baskerville-Italic, Serif;
}
.title_select_ville_categ{
    color:#ffffff;
    font-size: 35px;
    font-style:italic;
    line-height:1.5em;
    text-align:center;
    font-family: Libre-Baskerville-Italic, Serif;
    padding-top: 20px;
    padding-bottom: 25px;
}
.info_text{
    font-size: 15px;
    font-family: Futura-LT-Book, Sans-Serif;
    text-align: center;
}
.list_text li{
    font-family: Futura-LT-Book, Sans-Serif;
    font-size: 17px;
    margin-bottom: 25px;
}
.content_block{
    background-color: #E80EAE;
    padding-bottom: 40px;
    padding-top: 15px;
}
.container_select_ville{
    width: 925px;
}
.back_categ{
    background-color: #E80EAE!important;
}
.back_offre{
    background-color: #3d9be9!important;
}
.content_white{
    height: auto;
    background-color: #ffffff;
    text-align: center;
}
.title_block_categ{
    font-size: 20px;
    height: 75px;
    padding-top: 10px;
    font-family: Libre-Baskerville-Italic, Serif;
}
.btn_block_categ1{
    border: 1px solid #E80EAE;
    background-color: #E80EAE;
    color: #ffffff;
    border-radius: unset;
    margin-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
}
.btn_block_categ1:hover{
    border: 1px solid #1db578;
    background-color: #1db578;
    color: #ffffff;
}
.box_shadow_ville_select{
    box-shadow: 3px 3px 5px 6px #ccc;
    padding-bottom: 15px;
    height: 352px;
}
.title_bloc_rubriques{
    color: #E80EAE;
    text-align: center;
    font-family: Libre-Baskerville-Italic, Serif;
    font-size: 20px;
    padding-top: 20px;
}
.text_blockrubriques{
    color:#2F2E2E;
    font-size: 13px;
    font-family: Futura-LT-Book, Sans-Serif;
    text-align: center;
    height: 55px;
    overflow: hidden;
}
.title_bloc_rub{
    font-family: Libre-Baskerville-Italic, Serif;
    font-size: 35px;
    text-align: center;
    margin-bottom: 40px;
}
.content_blocker{
    background-color: #f9f9f9;
    height: 420px;
}
.descri_blocker{
    color: #000000;
    text-align: center;
    font-family: Futura-LT-Book, Sans-Serif;
    font-size: 15px;
}
.accueil_content_img_btn{
    background: none!important;
}
.h1_titre_categ{
    font-family: Libre-Baskerville-Italic, Serif;
    font-size: 25px;
    color: #000000;
    text-align: center;
}
.btn_block_categ_other{
    border: 2px solid #ffffff;
    background-color: #E80EAE;
    color: #ffffff;
    border-radius: unset;
    margin-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
}
.btn_block_categ_other:hover{
    border: 2px solid #1db578;
    background-color: #1db578;
    color: #ffffff;
}
.back_none{
    padding-top: 50px;
    padding-bottom: 60px;
    background-color: unset!important;
}
.content_bien_autre{
    background-color: #edd23b;
}
.container_pack_bien{
    max-width: 925px;
}
.btn_block_categ_other{
    border: 2px solid #ffffff;
    background-color: #E80EAE;
    color: #ffffff;
    border-radius: unset;
    margin-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
}
.btn_block_categ_other:hover{
    border: 2px solid #1db578;
    background-color: #1db578;
    color: #ffffff;
}
.fat_title{
    color:#E80EAE!important;
    font-size: 35px;
    font-style:italic;
    text-align:center;
    font-family: Libre-Baskerville-Italic, Serif!important;
}
.medium_title{
    color:#E80EAE!important;
    font-size: 30px;
    font-style:italic;
    text-align:center;
    font-family: Libre-Baskerville-Italic, Serif!important;
}
.image_border_set{
    padding-left: 0px;
    border-radius: 100px;
}
.descri_blocker{
    color: #000000;
    text-align: center;
    font-family: Futura-LT-Book, Sans-Serif;
    font-size: 15px;
}
.container_select_ville{
    width: 925px;
}
.accueil_content_top{
    max-width: 1300px;
}
.content_block1{
    box-shadow: 3px 3px 5px 2px #ccc;
}
.description_block1{
    padding-top: 15px;
    font-size: 18px;
    font-family: Libre-Baskerville-Italic, Serif;
    color: #E80EAE;
    text-align: center;
}
.list_text li{
    font-family: Futura-LT-Book, Sans-Serif;
    font-size: 17px;
    margin-bottom: 25px;
}
.container_select_ville{
    width: 925px;
}
.title_block1{
    color:#E80EAE;
    font-size: 35px;
    font-family: Libre-Baskerville-Italic, Serif;
    text-align: center;
}
.btn_block_categ_other{
    border: 2px solid #ffffff;
    background-color: #E80EAE;
    color: #ffffff;
    border-radius: unset;
    margin-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
}
.btn_block_categ_other:hover{
    border: 2px solid #1db578;
    background-color: #1db578;
    color: #ffffff;
}
.content_white_mobile{
    background-color: white;
}
@media only screen and (max-width: 600px) {
    .container_pack_bien{
        width: 100%;
        max-width: 100%;
    }
    .container_select_ville{
        width: 100%;
    }
    .height_fixe {
        height: auto;
    }
    .description_abonnement_new{
        height: auto;
        overflow: visible;
    }
    .content_image{
        height: auto;
    }
    .img_fluid{
        width: 100%;
        height: auto;
    }
    #videoDiv_home{
        height: 100%!important;
    }
    .videoClick{
        top: 20%!important;
        left: 104px!important;
    }
    .image_logo{
        width: 50%!important;
        margin-top: 0px!important;
    }
    header{
        min-height: 14rem!important;
    }
    .content_blocker{
        height: auto;
        padding-bottom: 10px;
    }
    .text_set_partnaire{
        padding-left: 20px!important;
        padding-right: 20px!important;
    }
    .sans_commission{
        line-height: normal;
    }
}