h1,h2,h3,h4,h5,h6,p {margin: 0px;padding: 0px;}
.cLinkHidden {position:absolute; visibility:hidden; left:0px; top:0px; width:0px; height:0px; overflow:hidden;}
.cPage {visibility:visible;overflow:hidden;position:absolute;z-index:1;left:0px;top:0px;}
.cLMImagePage {width:800px;height:4300px;border:0px;}
.cImg8 {visibility:visible;overflow:hidden;position:absolute;z-index:2;left:-192px;top:-281px;}
.cLMImageImg8 {width:800px;height:712px;border:0px;}
.cText32 {visibility:visible;overflow:hidden;position:absolute;z-index:3;left:35px;top:3381px;width:734px;height:105px;}
.cLMTxtText32 {visibility:inherit;overflow:hidden;padding:0 0 0 0px;position:relative;left:0px;top:0px;width:734px;height:105px;}
.cText34 {visibility:visible;overflow:hidden;position:absolute;z-index:4;left:242px;top:2657px;width:542px;height:105px;}
.cLMTxtText34 {visibility:inherit;overflow:hidden;padding:0 0 0 0px;position:relative;left:0px;top:0px;width:542px;height:105px;}
.cText19 {visibility:visible;overflow:hidden;position:absolute;z-index:5;left:20px;top:2231px;width:418px;height:45px;}
.cLMTxtText19 {visibility:inherit;overflow:hidden;padding:0 0 0 0px;position:relative;left:0px;top:0px;width:418px;height:45px;}
.cText9 {visibility:visible;overflow:hidden;position:absolute;z-index:6;left:231px;top:2419px;width:557px;height:105px;}
.cLMTxtText9 {visibility:inherit;overflow:hidden;padding:0 0 0 0px;position:relative;left:0px;top:0px;width:557px;height:105px;}
.cText18 {visibility:visible;overflow:hidden;position:absolute;z-index:7;left:245px;top:3597px;width:542px;height:229px;}
.cLMTxtText18 {visibility:inherit;overflow:hidden;padding:0 0 0 0px;position:relative;left:0px;top:0px;width:542px;height:229px;}
.cLine1 {visibility:visible;overflow:hidden;position:absolute;z-index:8;left:-27px;top:254px;}
.cLMImageLine1 {width:851px;height:21px;border:0px;}
.cImg2 {visibility:visible;overflow:hidden;position:absolute;z-index:9;left:547px;top:-2081px;}
.cLMImageImg2 {width:218px;height:173px;border:0px;}
.cImg4 {visibility:visible;overflow:hidden;position:absolute;z-index:10;left:-19px;top:275px;}
.cLMImageImg4 {width:821px;height:69px;border:0px;}
.cText1 {visibility:visible;overflow:hidden;position:absolute;z-index:11;left:28px;top:32px;width:508px;height:215px;}
.cLMTxtText1 {visibility:inherit;overflow:hidden;padding:0 0 0 0px;position:relative;left:0px;top:0px;width:508px;height:215px;}
.cText3 {visibility:visible;overflow:hidden;position:absolute;z-index:12;left:21px;top:292px;width:652px;height:45px;}
.cLMTxtText3 {visibility:inherit;overflow:hidden;padding:0 0 0 0px;position:relative;left:0px;top:0px;width:652px;height:45px;}
.cImg5 {visibility:visible;overflow:hidden;position:absolute;z-index:13;left:675px;top:265px;}
.cLMImageImg5 {width:92px;height:89px;border:0px;}
.cImg3 {visibility:visible;overflow:hidden;position:absolute;z-index:14;left:-25px;top:476px;}
.cLMImageImg3 {width:821px;height:69px;border:0px;}
.cText4 {visibility:visible;overflow:hidden;position:absolute;z-index:15;left:25px;top:492px;width:652px;height:45px;}
.cLMTxtText4 {visibility:inherit;overflow:hidden;padding:0 0 0 0px;position:relative;left:0px;top:0px;width:652px;height:45px;}
.cImg6 {visibility:visible;overflow:hidden;position:absolute;z-index:16;left:674px;top:465px;}
.cLMImageImg6 {width:92px;height:89px;border:0px;}
.cBut1 {visibility:visible;overflow:hidden;position:absolute;z-index:17;left:25px;top:685px;}
.cLMButtonBut1 {width:756px;height:53px;border:0px;}
.cBut2 {visibility:visible;overflow:hidden;position:absolute;z-index:18;left:26px;top:832px;}
.cLMButtonBut2 {width:752px;height:53px;border:0px;}
.cImg17 {visibility:visible;overflow:hidden;position:absolute;z-index:19;left:125px;top:1018px;}
.cLMImageImg17 {width:553px;height:44px;border:0px;}
.cText5 {visibility:visible;overflow:hidden;position:absolute;z-index:20;left:184px;top:1022px;width:423px;height:45px;}
.cLMTxtText5 {visibility:inherit;overflow:hidden;padding:0 0 0 0px;position:relative;left:0px;top:0px;width:423px;height:45px;}
.cImg7 {visibility:visible;overflow:hidden;position:absolute;z-index:21;left:-18px;top:1110px;}
.cLMImageImg7 {width:821px;height:69px;border:0px;}
.cText6 {visibility:visible;overflow:hidden;position:absolute;z-index:22;left:29px;top:1126px;width:652px;height:45px;}
.cLMTxtText6 {visibility:inherit;overflow:hidden;padding:0 0 0 0px;position:relative;left:0px;top:0px;width:652px;height:45px;}
.cImg9 {visibility:visible;overflow:hidden;position:absolute;z-index:23;left:673px;top:1099px;}
.cLMImageImg9 {width:92px;height:89px;border:0px;}
.cText8 {visibility:visible;overflow:hidden;position:absolute;z-index:24;left:35px;top:1206px;width:727px;height:109px;}
.cLMTxtText8 {visibility:inherit;overflow:hidden;padding:0 0 0 0px;position:relative;left:0px;top:0px;width:727px;height:109px;}
.cText11 {visibility:visible;overflow:hidden;position:absolute;z-index:25;left:33px;top:1414px;width:727px;height:278px;}
.cLMTxtText11 {visibility:inherit;overflow:hidden;padding:0 0 0 0px;position:relative;left:0px;top:0px;width:727px;height:278px;}
.cImg10 {visibility:visible;overflow:hidden;position:absolute;z-index:26;left:115px;top:1476px;}
.cLMImageImg10 {width:553px;height:44px;border:0px;}
.cText12 {visibility:visible;overflow:hidden;position:absolute;z-index:27;left:177px;top:1480px;width:423px;height:45px;}
.cLMTxtText12 {visibility:inherit;overflow:hidden;padding:0 0 0 0px;cursor:pointer; position:relative;left:0px;top:0px;width:423px;height:45px;}
.cText13 {visibility:visible;overflow:hidden;position:absolute;z-index:28;left:27px;top:363px;width:640px;height:100px;}
.cLMTxtText13 {visibility:inherit;overflow:hidden;padding:0 0 0 0px;position:relative;left:0px;top:0px;width:640px;height:100px;}
.cText15 {visibility:visible;overflow:hidden;position:absolute;z-index:29;left:28px;top:562px;width:748px;height:123px;}
.cLMTxtText15 {visibility:inherit;overflow:hidden;padding:0 0 0 0px;position:relative;left:0px;top:0px;width:748px;height:123px;}
.cText17 {visibility:visible;overflow:hidden;position:absolute;z-index:30;left:28px;top:753px;width:742px;height:73px;}
.cLMTxtText17 {visibility:inherit;overflow:hidden;padding:0 0 0 0px;position:relative;left:0px;top:0px;width:742px;height:73px;}
.cText16 {visibility:visible;overflow:hidden;position:absolute;z-index:31;left:26px;top:905px;width:745px;height:73px;}
.cLMTxtText16 {visibility:inherit;overflow:hidden;padding:0 0 0 0px;position:relative;left:0px;top:0px;width:745px;height:73px;}
.cBut3 {visibility:visible;overflow:hidden;position:absolute;z-index:32;left:28px;top:1331px;}
.cLMButtonBut3 {width:752px;height:53px;border:0px;}
.cText2 {visibility:visible;overflow:hidden;position:absolute;z-index:33;left:43px;top:1343px;width:640px;height:31px;}
.cLMTxtText2 {visibility:inherit;overflow:hidden;padding:0 0 0 0px;position:relative;left:0px;top:0px;width:640px;height:31px;}
.cImg1 {visibility:visible;overflow:hidden;position:absolute;z-index:34;left:491px;top:0px;}
.cLMImageImg1 {width:298px;height:246px;border:0px;}
.btnEnvoyer{
           background:url (../images/validation_cadeaux_files/bouton-23.jpg) no-repeat;
           background:url(../images/validation_cadeaux_files/bouton-23.jpg) no-repeat left top;
}
