
@media screen and (max-width: 480px) {
    h1 {
        font-size: 22px !important;
    }
    h2 {
        font-size: 18px !important;
    }
    .accueil_content_img_btn .content_img_btn_img_top {
        background-image: none !important;
    }
    #span_leftcontener2013_form_bonplans .vsv_subcateg_filter,
    #span_leftcontener2013_form_annonces .vsv_subcateg_filter,
    #span_leftcontener2013_form_partenaires .vsv_subcateg_filter {
        width: 100% !important;
        max-width: 100% !important;
        flex: auto !important;
    }
	.main_footer_link_content_main a img {
		width: 50px !important;
	}
	.main_footer_link_content_main {
		text-align: center !important;
	}
    .accueil_content_img_btn .content_img_btn_link_pright {
        font-size: 16px;
        padding-top: 30px;
    }
    .title_rose_select {
        font-size: 16px !important;
        line-height: 18px !important;
    }
    .title_categ_black {
        font-size: 14px !important;
    }


}
@media screen and (min-width: 321px) and (max-width: 480px) {
    .accueil_select_content_1 .select_list_ville_select {
        width: 300px;
    }

    .accueil_select_content_1 .title_1,
    .accueil_select_content_1 .title_2,
    .accueil_select_content_2 .title_1,
    .accueil_select_content_2 .text_1{
        font-size: 16px !important;
        line-height: 22px !important;
        padding: 10px 0 !important;
        margin-bottom: 0 !important;
    }
    .accueil_select_content_1 .title_3 {
        font-size: 16px !important;
        line-height: 22px !important;
        margin-bottom: 0 !important;
        padding-bottom: 15px !important;
    }
    .accueil_select_content_2 {
        font-size: 16px !important;
        line-height: 22px !important;
    }
    .home_select_vsv {
        font-size: 14px !important;
        line-height: 20px !important;
    }
    .accueil_select_content_2 .title_2 {
        font-size: 16px !important;
        line-height: 22px !important;
        padding: 15px !important;
    }
    .plus_infos_tab .img_content td {
        font-size: 16px !important;
        line-height: 22px !important;
    }
}
@media screen and (min-width: 421px) and (max-width: 480px) {
    .main_banner_container .vsv_main_ville_name_txt {
        padding: 90px 25px 0 25px !important;
    }
}
@media screen and (min-width: 401px) and (max-width: 420px) {
    .main_banner_container .vsv_main_ville_name_txt {
        padding: 80px 25px 0 25px !important;
    }
}
@media screen and (min-width: 331px) and (max-width: 400px) {
    .main_banner_container .vsv_main_ville_name_txt {
        padding: 70px 25px 0 25px !important;
    }
}
@media screen and (min-width: 321px) and (max-width: 330px) {
    .main_banner_container .vsv_main_ville_name_txt {
        padding: 60px 25px 0 25px !important;
    }
}
@media screen and (min-width: 321px) and (max-width: 375px) {
    .main_banner_container .vsv_main_ville_name_txt {
        min-height: 125px !important;
    }
}
@media screen and (min-width: 376px) and (max-width: 480px) {
    .main_banner_container .vsv_main_ville_name_txt {
        min-height: 135px !important;
    }
}