@CHARSET "ISO-8859-1";
#frmtampon #description{
	width: 100%;
}

.no-radius{
	border-radius: 0 !important;
}
.accordeon a.pure-button.pure-button-primary {
   /* padding: 2%;*/
     border: 2px solid;
    font-size: 14px;
    padding: 3% 2%;
    width: 96%;
    border-radius: 5px;
    
}

#formCreationConsommateur .clear_input{
	top: 6px !important;
}

.forms .success{
	color: #7ADB3E;
}
.forms .error{
	color: #C60872;
}
#frmcapital textarea{
	width: 100%;
	
}

.mail-carte{
	font-size: 13px;
    font-weight: bold;
}

.ui-datepicker-title input, .ui-datepicker-title label, .ui-datepicker-title button,.ui-datepicker-title select, .ui-datepicker-title select option, .ui-datepicker-title select optgroup {
	padding: 0;
	}
	
.select-presonalized{
	padding: 3px !important;
}	
.select2-results__option{
	color: #000 !important}
}
.select2-selection__clear {
    color: #000 !important;
}


#iCheck-error {
    float: left;
    margin-left: 100%;
    margin-top: 220%;
    width: 400px;
}
#comp-l0efzeh8 {
    margin: 9px 0px 10px 0!important;
}
