nav.navbar_main_sortez ul {
    margin-right: 0 !important;
    width: 100%;
    height: 40px;
    padding: 7px 0;
}
nav.navbar_main_rubrique ul {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
}
nav.navbar_main_rubrique ul li {
    text-align: center;
}
nav.navbar_main_sortez {
    background-color: rgba(0,0,0,0.7) !important;
}
nav.navbar_main_sortez a {
    color: #ffffff;
}
nav.navbar_main_sortez ul li {
    width: 20%;
    border-right: dotted;
    border-color: #ffffff;
    border-width: 2px !important;
    font-size: 12px;
    line-height: 12px;
}
@media screen and (min-width: 992px) {
    .mon_compte_dotted_none_desktop {
        border-right: none !important;
    }
}
.slider_t_container .slider_circle_10 .next_button {
    margin-left: -55px !important;
}
.slider_t_container .slider_circle_10 .prev_button {
    margin-left: 0 !important;
}
@media screen and (max-width: 991px) {
    nav.navbar_main_sortez ul li, nav.navbar_main_rubrique ul li {
        width: 100%;
        height: 40px;
    }
    nav.navbar_main_sortez ul{
        height: auto;
        padding: 10px 0 0 0;
    }
    nav.navbar_main_sortez ul li {
        border: none;
    }
    .navbar_main_sortez .goog-te-menu-value span {
        font-size: 12px !important;
    }
    #main_banner_image_platinium_container {
        background-size: 100% auto !important;
    }
    body {
        background-size: auto auto !important;
    }

}
nav.navbar_main_sortez ul li a,
nav.navbar_main_sortez ul li a:hover,
.navbar-light .navbar-nav .nav-link,
nav.navbar_main_rubrique ul li a,
nav.navbar_main_rubrique ul li a:hover
{
    text-transform: uppercase;
}
nav.navbar_main_sortez ul li a,
nav.navbar_main_sortez ul li a:hover,
.navbar-light .navbar-nav .nav-link
{
    text-transform: uppercase;
    color: #ffffff !important;
}
nav.navbar_main_sortez ul li:last-child {
    border: none;
}
.navbar_main_sortez .skiptranslate.goog-te-gadget {
    margin-top: 7px;
}
.navbar_main_sortez .goog-te-menu-value span {
    font-size: 12px !important;
}
.navbar_main_sortez .navbar-toggler-icon,
.navbar_main_rubrique .navbar-toggler-icon
{
    background-image: url(https://21thirteen.com/wp-content/uploads/2016/03/hamburger-menu.jpg) !important;
}
.navbar_main_sortez .navbar-brand,
.navbar_main_rubrique .navbar-brand
{
    margin-right: -3.5rem !important;
}
.slider_t_container {
    overflow: hidden;
}
.navbar_main_rubrique .navbar-brand {
    margin-left: auto;
    margin-right: auto !important;
}
.slider_t_container .slider_t_contets {
    background-color: transparent;
    margin-top:-150px;
    margin-bottom:50px;
}
.slider_t_container .slider_t_contets_annonce {
    background-color: transparent;
    margin-top:-150px;
    margin-bottom:200px;
}

#frmRecherchePartenaire #inputStringHidden,
#frmRecherchePartenaire #inputStringQuandHidden {
    padding-left: 15px;
}