@charset "UTF-8";
[type="radio"],[type="checkbox"] {font-family: "Open Sans", "Segoe WP", "Segoe UI", Helvetica, Arial, sans-serif;
}

/* Base for label styling */
[type="radio"]:not(:checked),
[type="radio"]:checked {
    position: absolute;
    left: -9999px;
}
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
    position: relative;
    padding-left: 25px !important;
    cursor: pointer;
}

/* checkbox aspect */
[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
    content: '';
    position: absolute;
    left:0; top: 2px;
    width: 19px;
    height: 19px;
    border: 1px solid #aaa;
    background: #000000;
    border-radius: 50%;
    line-height: 100%;
    box-shadow: inset 0 0 0 1px rgba(246, 246, 246, 0.87)
}
/* checked mark aspect */
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
    content: '•';
    position: absolute;
    top: 8px;
    left: 4px;
    font-size: 35px;
    color: #2892dc;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
    width: 19px;
    height: 19px;
    box-shadow: inset 0 0 0 1px rgba(246, 246, 246, 0.87);
    background: #f8f8f8;
    border-radius: 50%;
    line-height: 10px;

}
/* checked mark aspect changes */
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
/* disabled checkbox */
[type="radio"]:disabled:not(:checked) + label:before,
[type="radio"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}
[type="radio"]:disabled:checked + label:after {
    color: #999;
}
[type="radio"]:disabled + label {
    color: #aaa;
}
/* accessibility */
[type="radio"]:checked:focus + label:before,
[type="radio"]:not(:checked):focus + label:before {
    border: 1px dotted blue;
}




/*CHACKBOX*/

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 25px !important;
    cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: "";
position: absolute;
left: 0px;
top: 2px;
width: 19px;
height: 19px;
border: 1px solid #AAA;
background: none repeat scroll 0% 0% #000;
border-radius: 50%;
line-height: 100%;
box-shadow: 0px 0px 0px 1px rgba(246, 246, 246, 0.87) inset;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    /*content: '?';*/
    content: "•";
position: absolute;
top: 2px;
left: 0;
font-size: 51px;
color: #2892DC;
transition: all 0.2s ease 0s;
width: 19px;
height: 19px;
box-shadow: 0px 0px 0px 1px rgba(246, 246, 246, 0.87) inset;
background: none repeat scroll 0% 0% #F8F8F8;
border-radius: 50%;
line-height: 20px;
border: 1px solid #AAA;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
    color: #999;
}
[type="checkbox"]:disabled + label {
    color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
    border: 1px dotted blue;
}
