html, body {
    padding: 0;
    margin: 0;
    font-family: arial, helvetica, sans-serif;
    font-weight: 400;
    height: 100%;
    width: 100%;
}

body {
    background: #ffffff;
}

img {
    border: none;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: arial, helvetica, sans-serif;
}

h1 {
    color: #b30b00 !important;
    font-size: 26px;
    margin: 10px 0;
    padding: 5px 0;
    font-weight: 700;
    font-family: arial, helvetica, sans-serif;
}

h1 a {
    color: #b30b00 !important;
    text-decoration: none;
}

h2 {
    color: #0b51a6 !important;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    padding: 10px 0 0;
}

h3 {
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: #cc1991;
    font-weight: 400;
}

h3 a {
    color: #cc1991;
    text-decoration: none;
}

h4 {
    font-size: 14px;
    color: #000000;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

h4 a {
    font-size: 14px;
    color: #cc1991;
    font-weight: 700;
    text-decoration: none;
}

h5 {
}

h5 a {
}

h6 {
}

h6 a {
}

form {
    margin: 0;
    padding: 0;
}

input, label, button, select, select option, select optgroup {
}

div, td, th, p, span {
    font-family: arial, helvetica, sans-serif;
    /*color: #ffffff;*/
    font-size: 12px;
}
.contenerall div,.contenerall td,.contenerall th,.contenerall p,.contenerall span{
	color: #000 !important;
}
.content-index {
    padding: 40px 0 !important;
}

input[type="button"], input[type="submit"], input[type="reset"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.clr {
    clear: both;
}

.flt-l {
    float: left;
}

.flt-r {
    float: right;
}

.align-center {
    text-align: center !important;
}

.align-left {
    text-align: left !important;
}

.align-right {
    text-align: right !important;
}

.align-ajust {
    text-align: justify !important;
}

.f-size12 {
    font-size: 12px;
}

.f-size14 {
    font-size: 14px;
}

.f-size16 {
    font-size: 16px;
}

.f-size18 {
    font-size: 18px;
}

.f-size20 {
    font-size: 20px;
}

.pad-5 {
    padding: 5px !important;
}

.pad-30 {
    padding: 30px !important;
}

.pad-tb-5 {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.pad-tp-5 {
    padding-top: 5px !important;
}
.pad-tp-15 {
    padding-top: 15px !important;
}
.pad-tp-20 {
    padding-top: 20px !important;
}

.pad-tp-30 {
    padding-top: 30px !important;
}
.pad-tp-25 {
    padding-top: 25px !important;
}
.pad-tp-100 {
    padding-top: 100px !important;
}
.pad-lr-5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.pad-10 {
    padding: 10px !important;
}

.pad-tb-10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.pad-lr-10 {
    padding-right: 10px !important;
    padding-left: 10px !important;
}

.pad-lr-60 {
    padding-right: 60px !important;
    padding-left: 60px !important;
}
.pad-15 {
    padding: 15px !important;
}

.pad-tb-15 {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.pad-lr-15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.pad-20 {
    padding: 20px !important;
}

.pad-tb-20 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.pad-lr-20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.pad-25 {
    padding: 25px !important;
}

.pad-tb-25 {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
}

.pad-lr-25 {
    padding-left: 25px !important;
    padding-right: 25px !important;
}
.mrg-5{
	margin: 5px 0;
}
a.clear_input {
    z-index: 9;
    display: block !important;
    color: #FFF;
    background: #CCC;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    font-size: 15px;
    border-radius: 50%;
    right: 7px !important;
    top: 10px !important;
}

a.clear_input:hover {
    background: #424242;
}

.upper {
    text-transform: uppercase;
}

.v-middle {
    vertical-align: middle;
}

.wrapper {
  /*  width: calc(100% - 40px) !important;*/
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.head {
    /*background: #000;*/
    padding: 5px 20px;
}

.page-black {
    /*background: url(../img/bg.png) center 125% no-repeat #000;*/
    background-color: #FFFFFF;
    background-size: 100%;
   min-height: 60%;
    padding-bottom: 25%;
}

.wrapper.padded.middle {
    background: #000 none repeat scroll 0 0;
  /*  height: calc(90% - 100px);*/
}

/*iPad (hors Retina) 	1024 x 768*/
/*iPad Retina 	2048 x 1536*/
/*iPad Mini 	1024 x 768*/
/*iPhone 5 	1136 x 640*/
/*iPhone 5S 	1136 x 640*/
/*iPhone 4 	640 x 960*/
/*iPhone 4S 	640 x 960*/
/*iPhone 3gs 	320 x 480*/
/*iPod Touch 	320 x 480*/
@media screen and (min-width: 1200px) and (orientation: landscape) {
    .page-black {
        /*background: url(../img/bg.png) center -10% no-repeat #000 !important;*/
        /*background-size: 100% !important;*/
        background-color: #FFFFFF;

    }
}

@media screen and (min-width: 960px) and (max-width: 1200px) and (orientation: landscape) {
    .page-black {
       /* background: url(../img/bg.png) center -5% no-repeat #000 !important;
        background-size: 100% !important;*/
        background-color: #FFFFFF;
    }
}

@media screen and (min-width: 768px) and (max-width: 960px) and (orientation: landscape) {
    .page-black {
        /*background: url(../img/bg.png) center -40% no-repeat #000 !important;*/
        background-color: #FFFFFF;
    }
}

@media screen and (min-width: 640px) and (max-width: 768px) and (orientation: landscape) {
    .page-black {
        /*background: url(../img/bg.png) center -25% no-repeat #000 !important;*/
        background-color: #FFFFFF;
    }
}

@media screen and (min-width: 580px) and (max-width: 640px) and (orientation: landscape) {
    .page-black {
        /*background: url(../img/bg.png) center -55% no-repeat #000 !important;*/
        background-color: #FFFFFF;
    }
}

@media screen and (min-width: 480px) and (max-width: 580px) and (orientation: landscape) {
    .page-black {
        /*background: url(../img/bg.png) center -35% no-repeat #000 !important;*/
        background-color: #FFFFFF;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {
    .page-black {
        /*background: url(../img/bg.png) center 110% no-repeat #000 !important;*/
        background-color: #FFFFFF;
    }
}

@media screen and (max-width: 320px) and (orientation: landscape) {
    .page-black {
        /*background: url(../img/bg.png) center 110% no-repeat #000 !important;*/
        background-color: #FFFFFF;
    }
}

.page-white {
    background: #ffffff;
  /*  min-height: 100%;*/
    max-width: 640px;
    margin: 0 auto;
}

.padded {
    /*padding-bottom: 95px !important;*/
}

.wrap {
    margin: 0 auto;
    padding: 0;
    position: relative;
    max-width: 480px;
}

img {
    display: block;
}

.logo {
    text-align: left;
    color: #cc1991;
    font-size: 14px;
}

.logo a {
/*    display: block;
    padding: 0 3%;
    margin: 10px;*/
    text-align: center;
}

.logo img {
    max-width: 100%;
    margin: 0 auto;
}

.titre {
    text-align: center;
    font-size: 20px!important;
   /* font-weight: 400;*/
    padding: 25px 0;
     font-weight: bold;
    letter-spacing: 0;
    text-align: center!important;
    /*background: #000;*/
}

.forms label {
    color: #000000;
    padding: 5px 0 0 !important;
    margin: 0;
}

.forms input[type=submit],
.forms input[type=button],
.forms button,
.links a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    color: #ffffff;
    border-radius: 5px;
}

.links2 a {
    display: block;
    padding: 15px;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

.fonctionnement {
    background: #ffffff;
    margin: 0 -20px;
    position: relative;
    min-height: 450px;
}

#fonctionement-tabs {
    border: none !important;
    height: 100% !important;
}

.fonctionnement .ui-tabs .ui-tabs-panel, .ui-tabs .ui-tabs-panel {
    min-height: 420px;
}

.fonctionnement .ui-tabs .ui-tabs-panel div, .fonctionnement .ui-tabs .ui-tabs-panel div *,
.fonctionnement .ui-tabs .ui-tabs-panel p {
    color: #000000;
}

.fonctionnement .ui-tabs .ui-tabs-panel div img, .ui-tabs .ui-tabs-panel div img {
    margin: 0 auto;
}

#forms-tabs {
    background: none !important;
    border: none !important;
    padding-bottom: 0;
    position: relative;
}

#forms-tabs .ui-tabs .ui-tabs-panel, .ui-tabs .ui-tabs-panel {
    padding: 0 !important;
}

.btnul {
    background: #cc1991;
    border: 1px solid #cc1991;
    border-radius: 5px;
    padding: 0 !important;
    overflow: hidden;
    margin: -20% 10% !important;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
}

.btnul2 {
    background: transparent !important;
    border: none !important;
    padding: 0 !important;
    overflow: hidden;
    margin: 0 5% !important;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 90%;
}

.btnul:before, .btnul:after,
.btnul2:before, .btnul2:after {
    display: none !important;
}

.btnul li,
.btnul2 li {
    padding: 5px 0 !important;
    margin: 0 !important;
    border: 0 !important;
    border-radius: 0 !important;
    background: #ffffff ! important;
}

.btnul2 li {
    box-shadow: 0 0 0 1px #000000 inset !important
}

.btnul li:first-child,
.btnul2 li:first-child {
    border-bottom-left-radius: 5px !important;
    border-top-left-radius: 5px !important;
}

.btnul li:last-child,
.btnul2 li:last-child {
    border-bottom-right-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

.btnul li, .btnul li a {
    background: #ffffff ! important;
    color: #cc1991 !important;
}

.btnul2 li, .btnul2 li a {
    background: transparent ! important;
    color: #000000 !important;
}

.btnul li a,
.btnul2 li a {
    background: none !important;
}

.btnul li.ui-tabs-active.ui-state-active,
.btnul li.ui-tabs-active.ui-state-active a {
    background: #cc1991 !important;
    color: #ffffff !important;
}

.btnul2 li.ui-tabs-active.ui-state-active,
.btnul2 li.ui-tabs-active.ui-state-active a {
    background: #000000 !important;
    color: #ffffff !important;
}

.btn-onglet {
    display: block !important;
    border-radius: 5px !important;
    padding: 5px !important;
    margin: 0 !important;
    float: none !important;
    font-size: 13px;
}

.content-image {
    text-align: center;
   /* padding: 35px 0;*/
}

.content-image img {
    margin: 0 auto;
    max-width: 200px;
}

.cart-phys {
    padding: 0;
    text-align: center
}

.cart-phys img {
    margin: 0 auto;
}

.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}

.carte {
    width: 120px;
    padding: 8px;
    color: #000000;
    font-size: 28px;
    background: #ffffff;
    margin: 0 auto;
    border: 3px solid #cc1991;
}
.carte p {
    margin: 4px 4px -7px;
}

.carte img {
    width: 100%;
}

.carte * {
    color: #000000;
    font-size: 11px
}

/*.text {
    font-size: 13px;
    line-height: 18px;
    padding: 10px;
}*/
.text {
/* background: #1c1b17 none repeat scroll 0 0;*/
    font-size: 13px;
    line-height: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 16px;
}
.text img {
    margin: 10px auto;
}

.forms label.error {
    color: #D54F4F;
    font-size: 11px;
    font-style: italic;
}

div.error, div.error p {
    color: #D54F4F;
    font-size: 14px;
}

.filtre {
    padding: 10px;
}

.filtre input[type=search] {
    background: #ffffff;
    color: #000000;
    border-radius: 5px;
    padding: 5px 0;
    border: none;
    width: 100%;
    height: 20px
}

.filtre input[type=submit] {
    color: #ffffff;
    background: #000000;
    border: 1px solid #ffffff;
    padding: 5px 0;
    display: block;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}
.consommation {
    background: #ffffff;
    color: #000000;
   /* padding: 0 20px 10px;
    margin: 0 -10px;*/
}

.consommation {
    background: #ffffff;
    color: #000000;
   /* padding: 0 20px 15px;
    margin: 0 -40px;*/
}

.product.first .details {
    margin: -10px -20px 0;
}

.product {
    padding: 10px 0;
}

.product,.product .txt-product {
    border-bottom: 1px solid #000000;
    color: #000000 !important;
    font-size: 14px;
    margin-bottom: 5px;
    position: relative;
    text-align: left;
}

.product.product-row{
	padding: 5px;
	font-size: 13px;
}

.product .pure-g div.txt-product {
    color: #000000 !important;
    padding: 10px !important;
}

.product .txt-product {
    border-bottom: none !important;
}

.product span,
.product span .txt-product span {
    display: block;
    color: #000000;
    font-size: 12px;
    position: relative;
    padding: 10px 0;
    text-align: left;
}

.product span {
    display: block;
    color: #000000;
    font-size: 12px;
    position: relative;
    padding: 10px 0;
    text-align: left;
}

.product .btn {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}

.product .pure-g {
    border-radius: 5px;
    overflow: hidden;
}

.product .pure-g > div:first-child {
}

.product .pure-g div {
    font-size: 14px;
    color: #ffffff !important;
   /* padding-top: 5px;
    padding-bottom: 5px;*/
    border-radius: 5px;
}

.product .pure-g > div.price div {
    font-size: 15px;
    color: #ffffff !important;
}

.product .bg-blue {
    background: #0653a3;
}

.product .bg-red {
    background: #ff1800;
}

.bg-blue {
    background: #0653a3 !important;
}

.bg-red {
    background: #ff1800 !important;
}

.bg-pink {
    background: #cf1590 !important;
}

.bg-black-round {
    background: #000000;
    padding: 5px 3px 5px 7px;
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    margin: 10px;
}

.bg-black-round .fa {
    font-size: 18px;
    color: #ffffff;
}

.consommation-filtre {
    margin: 0 -20px;
    padding: 0;
    height: 100%;
    min-height: 400px;
    background: #ffffff;
    background: -moz-linear-gradient(left, #b3b3b3 0%, #b3b3b3 20%, #ffffff 20%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #b3b3b3), color-stop(25%, #b3b3b3), color-stop(20%, #ffffff), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(left, #b3b3b3 0%, #b3b3b3 20%, #ffffff 20%, #ffffff 100%);
    background: -o-linear-gradient(left, #b3b3b3 0%, #b3b3b3 20%, #ffffff 20%, #ffffff 100%);
    background: -ms-linear-gradient(left, #b3b3b3 0%, #b3b3b3 20%, #ffffff 20%, #ffffff 100%);
    background: linear-gradient(to right, #b3b3b3 0%, #b3b3b3 20%, #ffffff 20%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3b3b3', endColorstr='#ffffff', GradientType=1);
}

.consommation-filtre .list table {
    width: 100%;
}

.consommation-filtre .list table th,
.consommation-filtre .list table td {
    vertical-align: middle;
    font-size: 16px;
}

.consommation-filtre .list table img {
    width: 40px !important;
    margin: 0 auto;
}

.consommation-filtre .list table a {
    text-decoration: none;
}

.consommation-filtre .list table tr {
    border: 1px solid
}

.consommation-filtre .bordered {
    padding-bottom: 1px;
    border-bottom: 2px solid #000000;
    height : 75px;
}

.consommation-filtre * {
    color: #000000;
    font-size: 14px;
}

.btn-menu a {
    display: block;
    border: 1px solid #ffffff;
    padding: 5px;
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    margin: 10px 5px;
}

.name-compte {
    color: #000000;
    font-size: 16px;
    text-align: center;
    padding: 60px 0;
}

.menu .pure-g {
    margin: 0 auto;
    max-width: 400px;
}

.accueil-promo {
    background: #000000;
    max-width: inherit !important;
    margin: 0 auto !important;
}

@media screen and (max-width: 480px) {
    .accueil-promo {
        margin: 0 !important;
        max-width: inherit !important;
    }
}

.accueil-promo .list {
    display: block;
   /* border-top: 1px solid #cc1893;*/
    border-bottom: 2px solid #cc1893;
   /* margin: 0 -20px;*/
    background: #000000;
    box-sizing: border-box;
}

.accueil-promo .list:first-child {
    background: #000;
}

.accueil-promo .list img {
    display: block;
    width: 80%;
    max-width: 480px;
    margin: 0 auto;
}

.accueil-promo .list:first-child img {
    margin-top: -15px;
     width: 60%;
}
.accueil-promo .list a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
    max-width: 480px;
    margin: 0 auto;
}

.accueil-promo .list a span.fa {
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    margin: 0 10px;
}

.accueil-promo .list table {
    width: 100% !important;
    margin: 0 auto;
}

.input {
}

.input input[type=text] {
    margin: 5px 0 !important;
    padding: 10px 0 !important;
    text-indent: 10px;
}

#ui-datepicker-div {
    width: 86%;
    z-index: 10 !important
}

.localisation [type="radio"]:not(:checked), .localisation [type="radio"]:checked {
    position: unset;
}

.bordbot {
    margin: 0 -20px;
   /* border-bottom: 2px solid #000000;*/
}

.searchform {
}

.search-input {
    margin: 10px 0;
    border-radius: 5px;
    border-radius: 3px;
    width: calc(100% - 6px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.82);
    padding: 3px;
}

.search-input input {
    margin: 0;
    border: none;
    height: 30px;
    font-size: 14px;
    width: calc(100% - 35px);
}

.bonplan-text {
    color: #000000;
    font-size: 12px;
    padding-bottom: 30px;
}

.bonplan-text strong {
    display: block;
    text-align: left;
}

.bplan {
    position: relative;
}

.bplan a.btn-link,.fidelisation a.btn-link{
    display: block;
    position: absolute;
    right: 5%;
    bottom: 40%;
    background: #FFF;
}

.bplan a.btn-link .fa{
	color: #CF1590;
	}
.fidelisation a.btn-link .fa{
	color: #0653a3;
	}	
.bplan-offer {
    background: #0653a3;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA2NTNhMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzA2NTNhMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2NmMTU5MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZjE1OTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, #0653a3 0%, #0653a3 50%, #cf1590 50%, #cf1590 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #0653a3), color-stop(50%, #0653a3), color-stop(50%, #cf1590), color-stop(100%, #cf1590));
    background: -webkit-linear-gradient(left, #0653a3 0%, #0653a3 50%, #cf1590 50%, #cf1590 100%);
    background: -o-linear-gradient(left, #0653a3 0%, #0653a3 50%, #cf1590 50%, #cf1590 100%);
    background: -ms-linear-gradient(left, #0653a3 0%, #0653a3 50%, #cf1590 50%, #cf1590 100%);
    background: linear-gradient(to right, #0653a3 0%, #0653a3 50%, #cf1590 50%, #cf1590 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0653a3', endColorstr='#cf1590', GradientType=1);
    height: 95px;
}

a.btn-link,
.search-input button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #000000;
    border: none;
    text-align: center;
}

.btn-link span,
.search-input button span {
    color: #ffffff;
    text-align: center;
    font-size: 18px;
}

.btn-link span {
    /*margin: 7px 10px*/
     font-size: 12px;
    margin: 4px 7px;
}

.paragraphe {
    color: #000000 !important;
    font-size: 14px;
    line-height: 25px;
}
.radiockeck {background: #ffffff; border-radius: 3px;height: 32px;
    margin: 3px 5px;
    padding: 4px 20px!important;
    box-sizing: border-box;}
    /*
@charset "UTF-8";
[type="radio"], [type="checkbox"] {
    font-family: "Open Sans", "Segoe WP", "Segoe UI", Helvetica, Arial, sans-serif;
}

[type="radio"]:not(:checked),
[type="radio"]:checked {
    position: absolute;
   /* left: -9999px;
}

[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
    position: relative;
    padding-left: 25px !important;
    cursor: pointer;
}

[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 19px;
    height: 19px;
    border: 1px solid #aaa;
    background: #000000;
    border-radius: 50%;
    line-height: 100%;
    box-shadow: inset 0 0 0 1px rgba(246, 246, 246, 0.87)
}

[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
    content: '•';
    position: absolute;
    top: 8px;
    left: 4px;
    font-size: 35px;
    color: #2892dc;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    transition: all .2s;
    width: 19px;
    height: 19px;
    box-shadow: inset 0 0 0 1px rgba(246, 246, 246, 0.87);
    background: #f8f8f8;
    border-radius: 50%;
    line-height: 10px;
}

[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

[type="radio"]:disabled:not(:checked) + label:before,
[type="radio"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}

[type="radio"]:disabled:checked + label:after {
    color: #999;
}

[type="radio"]:disabled + label {
    color: #aaa;
}

[type="radio"]:checked:focus + label:before,
[type="radio"]:not(:checked):focus + label:before {
    border: 1px dotted blue;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 25px !important;
    cursor: pointer;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 2px;
    width: 19px;
    height: 19px;
    border: 1px solid #AAA;
    background: none repeat scroll 0% 0% #000;
    border-radius: 50%;
    line-height: 100%;
    box-shadow: 0px 0px 0px 1px rgba(246, 246, 246, 0.87) inset;
}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: "•";
    position: absolute;
    top: 2px;
    left: 0;
    font-size: 51px;
    color: #2892DC;
    transition: all 0.2s ease 0s;
    width: 19px;
    height: 19px;
    box-shadow: 0px 0px 0px 1px rgba(246, 246, 246, 0.87) inset;
    background: none repeat scroll 0% 0% #F8F8F8;
    border-radius: 50%;
    line-height: 20px;
    border: 1px solid #AAA;
}

[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

[type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}

[type="checkbox"]:disabled:checked + label:after {
    color: #999;
}

[type="checkbox"]:disabled + label {
    color: #aaa;
}

[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
    border: 1px dotted blue;
}*/
.btnsave{
	margin-top: 0 !important
	}
.pure-button.pure-button-primary{
	border: 1px solid #FFF !important;
}
.menu div{
	text-align: center;
}
.menu .pure-u-1-6 {
    font-size: 9px;
    font-weight: bold;
    text-align: center;
}
.menu  .pad-lr-5.pad-tb-10 {
    height: 43px;
}
.fonctionnement p{
	color: #000;
}
.fonctionnement img{
	margin:auto;
}
.menu {
    background:#000;
     padding: 2%;
     /*bottom: 0;
  	 position: absolute;*/
}
.menu img{
	width: 80%;
}
.contener_standard .menu{
	 padding-bottom: 5%;
}
.mrg5{
	margin: 5px;
}
.search-input2 select{
	height: 30px;
	width: 100%;
	margin: 1%;
}
.list_bonplan .menu {
    height: 13% !important;
}
.list_bonplan .head{
	padding: 0 20px !important;
	background: #000 !important;	
}
.txt_bonplan b{
    font-size: 23px;
    font-weight: 700;
    line-height: 16px;
}

.txt_bonplan span{
 font-size: 20px;
    line-height: 1;
     opacity: 0.7;
}

.txt_fidelite b{
	font-size: 23px;
    line-height: 25px;
	}
	.txt_fidelite span{
	font-size: 18px;
	font-family:helvetica;
	 line-height: 1;
	 opacity: 0.7;
	}
	
.localisation, .localisation div,.localisation td,.localisation th,.localisation p,.localisation span{
	color: #000;
	}
	
	
.inscription .pure-input-1.clearable {
    padding: 8px !important;
}	
.desc-100{
	width: 57%;
}
.bordbot hr{
	 border: 1px solid #000;
}
.capitalisation.accordeon-child {
    text-align: center;
}
#remember{
	left: 0;
}
.txt-product table {
    margin-top: 20px;
}
#formMobileAuth label{
	text-align: center;
}