@import url("jquery.clearable.css");

html, body {  padding: 0;
    margin: 0;
    font-family: arial, helvetica, sans-serif;
    font-weight: 400;
    height: 100%;
    width: 100%;

}

body {
    background: url(../img/bg.jpg) center bottom fixed no-repeat #000000;

    background-size:100% ;
    height: 100%;
}
img {border: none; max-width: 100%; height: auto;}

h1,
h2,
h3,
h4,
h5,
h6 {font-family: arial, helvetica, sans-serif;}

h1 { color: #000000;  font-size: 26px; margin: 5px 0; padding: 5px 0; font-weight: 400; font-family: arial, helvetica, sans-serif; }
h1 a { color: #000000; text-decoration: none;}
h2 {color: #fcaf17; font-size: 20px; text-transform: uppercase; font-weight: 700; margin: 0; padding: 10px 0;}
h3 { font-size: 20px; margin: 0; padding: 5px 0; color: #0076dc; font-weight: 400;}
h3 a { color: #0076dc; text-decoration: none;}
h4 { font-size: 14px; color: #30bae9; font-weight: 700; margin: 0; padding: 5px 0;}
h4 a { font-size: 14px; color: #30bae9; font-weight: 700; text-decoration: none;}
h5 {}
h5 a {}
h6 {}
h6 a {}

form { margin: 0; padding:0 ;}
 input, label, button, select, select option, select optgroup { font-family: arial, helvetica, sans-serif; color: #414141; font-size: 14px; }
div, td ,th , p, span { font-family: arial, helvetica, sans-serif; color: #ffffff; font-size: 12px; }

.content-index {  padding: 40px 0 !important;}
input[type="button"], input[type="submit"], input[type="reset"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

a.clear_input {
    z-index: 9;
    display: block !important;
    color: #FFF;
    background: #CCC;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    border-radius: 50%;
}
a.clear_input:hover {
    background: #424242;
}

.clr {clear: both;}
.flt-l {float: left;}
.flt-r {float: right;}
.align-center { text-align: center !important;}
.align-left { text-align: left !important;}
.align-right { text-align: right !important;}
.align-ajust { text-align: justify !important;}


/*set padding 10px*/
.pad-5 { padding: 5px !important; }
.pad-tb-5 { padding: 5px  0!important; }
.pad-lr-5 { padding: 0 5px!important; }

/*set padding 10px*/
.pad-10 { padding: 10px !important; }
.pad-tb-10 { padding: 10px  0!important; }
.pad-lr-10 { padding: 0 10px!important; }
/*set padding 15px*/
.pad-15 { padding: 15px !important; }
.pad-tb-15 { padding: 15px  0!important; }
.pad-lr-15 { padding: 0 15px !important; }


.upper { text-transform: uppercase;}


.v-middle { vertical-align: middle;}

.wrapper { width: calc(100% - 20px) !important; margin: 0; padding: 10px; position: relative;  }
.wrap {  max-width: 640px; margin: 0 auto; padding: 0; position: relative;}


img { display: block;}
.logo { text-align: left;color: #2892dc; font-size: 14px;}
.logo a { display: block; padding: 0 3%; margin: 10px; text-align: center;}
.logo img {  max-width: 100%; margin: 0 auto;}
.logo .txt {color: #2892dc; text-transform: uppercase; font-size: 16px; padding-top: 8%;}
.logo .slog { margin-bottom: -10px;color: #2892dc;}

.titre { text-align: center; font-size: 14px;}
.forms label { color: #ffffff;}

input:invalid + input[type="reset"]{
    display: none;
}

input[type="reset"]
{
    background-position: center center;
    background-repeat: no-repeat;
    height: 38px;
    width: 38px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    top: -9px;
    left: -44px;
}

.forms input[type=submit],
.forms input[type=button] ,
.links a { display: block; padding-top: 15px; padding-bottom: 15px; font-size: 16px;}



.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}

@media screen and (max-width:640px) {

}

.forms label.error { color: #D54F4F; font-size: 11px; font-style:  italic; }
div.error, div.error p { color: #D54F4F; font-size: 14px;}
#ui-datepicker-div {
z-index: 10 !important;
width : 90%;
}