@import url('radio-ckeckbox.css');

html, body {
    padding: 0;
    margin: 0;
    font-family: arial, helvetica, sans-serif;
    font-weight: 400;
    height: 100%;
    width: 100%;
}

body {
    background: #ffffff;
    background-size: 100%;
    height: 100%;
}

img {
    border: none;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: arial, helvetica, sans-serif;
}

h1 {
    color: #b30b00 !important;
    font-size: 26px;
    margin: 10px 0;
    padding: 5px 0;
    font-weight: 700;
    font-family: arial, helvetica, sans-serif;
}

h1 a {
    color: #b30b00 !important;
    text-decoration: none;
}

h2 {
    color: #0b51a6 !important;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    padding:10px 0  0;
}

h3 {
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: #cc1991;
    font-weight: 400;
}

h3 a {
    color: #cc1991;
    text-decoration: none;
}

h4 {
    font-size: 14px;
    color: #000000;
    font-weight: 700;
    margin: 0;
    padding:0;
}

h4 a {
    font-size: 14px;
    color: #cc1991;
    font-weight: 700;
    text-decoration: none;
}

h5 {
}

h5 a {
}

h6 {
}

h6 a {
}

form {
    margin: 0;
    padding: 0;
}

input, label, button, select, select option, select optgroup {
    font-family: arial, helvetica, sans-serif;
    color: #414141;
    font-size: 14px;
    /* padding: 10px 0;*/
}
div, td, th, p, span {
    font-family: arial, helvetica, sans-serif;
    /*color: #ffffff;*/
    font-size: 12px;
}

.content-index {
    padding: 40px 0 !important;
}

input[type="button"], input[type="submit"], input[type="reset"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.clr {
    clear: both;
}

.flt-l {
    float: left;
}

.flt-r {
    float: right;
}

.align-center {
    text-align: center !important;
}

.align-left {
    text-align: left !important;
}

.align-right {
    text-align: right !important;
}

.align-ajust {
    text-align: justify !important;
}

.f-size10 {
    font-size: 10px;
}
.f-size11 {
    font-size: 11px;
}
.f-size12 {
    font-size: 12px;
}

.f-size14 {
    font-size: 14px;
}

.f-size16 {
    font-size: 16px;
}

.f-size18 {
    font-size: 18px;
}

.f-size20 {
    font-size: 20px;
}

/*set padding 10px*/
.pad-5 {
    padding: 5px !important;
}

.pad-tb-5 {
    padding: 5px 0 !important;
}

.pad-lr-5 {
    padding: 0 5px !important;
}

/*set padding 10px*/
.pad-10 {
    padding: 10px !important;
}

.pad-tb-10 {
    padding: 10px 0 !important;
}

.pad-lr-10 {
    padding: 0 10px !important;
}

/*set padding 15px*/
.pad-15 {
    padding: 15px !important;
}

.pad-tb-15 {
    padding: 15px 0 !important;
}

.pad-lr-15 {
    padding: 0 15px !important;
}


/*set padding 20px*/
.pad-20 {
    padding: 20px !important;
}

.pad-tb-20 {
    padding: 20px 0 !important;
}
.pad-tpp-25
{
    padding-top: 25% !important;
}
.pad-lr-20 {
    padding: 0 20px !important;
}

.radius-5 { border-radius: 5px;}
.color-white { color: #FFFFFF !important}

.marg-5 { margin: 5px;}
.marg-bt-5 { margin-top: 5px !important; margin-bottom: 5px !important;}
.marg-bt-10 { margin-top: 10px !important; margin-bottom: 10px !important;}
.marg-bt-15 { margin-top: 15px!important; margin-bottom: 15px !important;}
.marg-tp-10 { margin-top: 10px !important;}
.marg-tp-20 { margin-top: 20px !important;}
a.clear_input {
    z-index: 9;
    display: block !important;
    color: #FFF;
    background: #CCC;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    font-size: 15px;
    border-radius: 50%;
    right: 7px !important;
    top: 30% !important;

}

a.clear_input:hover {
    background: #424242;
}

.upper {
    text-transform: uppercase;
}

.v-middle {
    vertical-align: middle;
}

.wrapper {
    width: calc(100% - 40px) !important;
    margin: -5px 0;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}
.head { /*background: #010F1A;*/ padding: 10px 20px;}
.page-black {
    /*background: url(../img/bg.png) center 125% no-repeat #010F1A;*/
    /*background-size: 100%;*/
   /* min-height: 35%;*/
 /*  min-height: 65%;
    padding-bottom: 25%;*/
        /*min-height: 74vh;*/
    background-color: #ffffff!important;
}

/*iPad (hors Retina) 	1024 x 768*/
/*iPad Retina 	2048 x 1536*/
/*iPad Mini 	1024 x 768*/
/*iPhone 5 	1136 x 640*/
/*iPhone 5S 	1136 x 640*/
/*iPhone 4 	640 x 960*/
/*iPhone 4S 	640 x 960*/
/*iPhone 3gs 	320 x 480*/
/*iPod Touch 	320 x 480*/
@media screen and (min-width: 1200px) and (orientation: landscape) {
    .page-black {
        /*background: url(../img/bg.png) center -10% no-repeat #010F1A !important;
        background-size: 100% !important;*/
        background-color: #ffffff!important;
    }
}

@media screen and (min-width: 960px) and (max-width: 1200px) and (orientation: landscape) {
    .page-black {
        /*background: url(../img/bg.png) center -5% no-repeat #010F1A !important;
        background-size: 100% !important;*/
        background-color: #ffffff!important;
    }
}

@media screen and (min-width: 768px) and (max-width: 960px) and (orientation: landscape) {
    .page-black {
       /* background: url(../img/bg.png) center -40% no-repeat #010F1A !important;*/
       background-color: #ffffff!important;
    }
}

@media screen and (min-width: 640px) and (max-width: 768px) and (orientation: landscape) {
    .page-black {
       /* background: url(../img/bg.png) center -25% no-repeat #010F1A !important;*/
       background-color: #ffffff!important;
    }
}

@media screen and (min-width: 580px) and (max-width: 640px) and (orientation: landscape) {
    .page-black {
        /*background: url(../img/bg.png) center -55% no-repeat #010F1A !important;*/
        background-color: #ffffff!important;
    }
}

@media screen and (min-width: 480px) and (max-width: 580px) and (orientation: landscape) {
    .page-black {
       /* background: url(../img/bg.png) center -35% no-repeat #010F1A !important;*/
       background-color: #ffffff!important;
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {
    .page-black {
        /*background: url(../img/bg.png) center 110% no-repeat #010F1A !important;*/
        background-color: #ffffff!important;
    }
}

@media screen and (max-width: 320px) and (orientation: landscape) {
    .page-black {
       /* background: url(../img/bg.png) center 110% no-repeat #010F1A !important;*/
       background-color: #ffffff!important;
    }
}
.page-white { background: #ffffff;
    /*min-height: 80%;*/
    max-width: 640px;
    margin: 0 auto;}

.page-white-grey {
    min-height: 80%;
    margin: 0 -20px;
    padding: 0 ;
    height: 100%;
    min-height: 400px;

    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(left,  #b3b3b3 0%, #b3b3b3 25%, #ffffff 25%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#b3b3b3), color-stop(25%,#b3b3b3), color-stop(25%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #b3b3b3 0%,#b3b3b3 25%,#ffffff 25%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #b3b3b3 0%,#b3b3b3 25%,#ffffff 24%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #b3b3b3 0%,#b3b3b3 25%,#ffffff 25%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to right,  #b3b3b3 0%,#b3b3b3 25%,#ffffff 25%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3b3b3', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.page-white span ,
.page-white strong,
.page-white div,
.page-white p {
    color: #000000;
}

/*.padded{ padding-bottom: 135px !important;}*/

.wrap {
    /*max-width: 640px;*/
    margin: 0 auto;
/*    padding: 10px 0;*/
    position: relative;
    max-width: 580px;
}

img {
    display: block;
}

.logo {
    text-align: left;
    color: #cc1991;
    font-size: 14px;
}

.logo a {
    display: block;
    padding: 0 3%;
    margin: 10px;
    text-align: center;
}

.logo img {
    max-width: 100%;
    margin: 0 auto;
}

.titre {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 0 !important;
}

.forms label {
    color: #ffffff;
    padding:5px 0 0 !important;
    margin: 0;
}



a.link-rose {
    background: #cc1991 url("../img/ico_msg.png") no-repeat scroll 6px center / 15% auto;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #ffffff;
    display: block;
    font-size: 13px;
    margin: 8px 1px;
    padding: 3% 78px;
    text-align: center;
    text-decoration: none;
}

.links a, .accordeon button {
    display: block;
    padding-top: 13px;
    padding-bottom: 12px;
    font-size: 16px;
    color: #ffffff;
    border-radius: 5px;
  
}
 .accordeon button {
  width: 100%;
 }
.links2 a {
    display: block;
    padding: 15px;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

.fonctionnement {
    background: #ffffff;
    margin: 0 -20px;
    position: relative;
    min-height: 450px;
}
#fonctionement-tabs { border: none !important; height: 100% !important;}
.fonctionnement .ui-tabs .ui-tabs-panel, .ui-tabs .ui-tabs-panel {  min-height: 285px;}
.fonctionnement .ui-tabs .ui-tabs-panel div, .fonctionnement .ui-tabs .ui-tabs-panel div *,
.fonctionnement .ui-tabs .ui-tabs-panel p {
    color: #000000;
}

.fonctionnement .ui-tabs .ui-tabs-panel div img, .ui-tabs .ui-tabs-panel div img {
    margin: 0 auto;
}

#forms-tabs {
    background: none !important;
    border: none !important;
    padding-bottom: 0;
    position: relative;
}

#forms-tabs .ui-tabs .ui-tabs-panel, .ui-tabs .ui-tabs-panel {
    padding: 0 !important;
}

.btnul {
    background: #cc1991;
    border: 1px solid #cc1991;
    border-radius: 5px;
    padding: 0 !important;
    overflow: hidden;
    margin: -25% 10% !important;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
}

.btnul2 {
    background: transparent !important;
    border: none !important;
    padding: 0 !important;
    overflow: hidden;
    margin: 0 5% !important;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 90%;
}

.btnul:before, .btnul:after,
.btnul2:before, .btnul2:after {
    display: none !important;
}

.btnul li,
.btnul2 li {
    padding: 5px 0 !important;
    margin: 0 !important;
    border: 0 !important;
    border-radius: 0 !important;
    background: #ffffff ! important;
}

.btnul2 li {
    box-shadow: 0 0 0 1px #000000 inset !important
}

.btnul li:first-child,
.btnul2 li:first-child {
    border-bottom-left-radius: 5px !important;
    border-top-left-radius: 5px !important;
}

.btnul li:last-child,
.btnul2 li:last-child {
    border-bottom-right-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

.btnul li, .btnul li a {
    background:#ffffff ! important;
    color: #cc1991 !important;
}

.btnul2 li, .btnul2 li a {
    background: transparent ! important;
    color: #000000 !important;
}

.btnul li a,
.btnul2 li a {
    background: none !important;
}

.btnul li.ui-tabs-active.ui-state-active,
.btnul li.ui-tabs-active.ui-state-active a {
    background: #cc1991 !important;
    color: #ffffff !important;
}

.btnul2 li.ui-tabs-active.ui-state-active,
.btnul2 li.ui-tabs-active.ui-state-active a {
    background: #000000 !important;
    color: #ffffff !important;
}

.btn-onglet {
    display: block !important;
    border-radius: 5px !important;
    padding: 5px !important;
    margin: 0 !important;
    float: none !important;
    font-size: 13px;
}

.content-image {
    text-align: center;
    padding: 35px 0;
}

.content-image img {
    margin: 0 auto;
    max-width: 200px;
}

.cart-phys {
    padding: 0;
    text-align: center
}

.cart-phys img {
    margin: 0 auto;
}

.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}


.carte {
    width: 180px;
    padding: 20px 20px 0;
    color: #000000;
    font-size: 28px;
    background: #ffffff;
    margin: 0 auto;
    border: 5px solid #cc1991;
}
.carte img {
    width:100%;
}
.carte * {
    color: #000000;
    font-size: 20px
}

.text {
    font-size: 16px;
    line-height: 18px;
    padding: 10px;
}
.text img {
    margin: 10px auto;
}

.text-box {
    background: #ffffff;
    border-radius: 5px;
    color: #000000;
    font-size: 14px;
    padding: 20px;
    text-align: center;
}
.text-box-fixed {
    background: #ffffff;
    border-radius:0;
    color: #000000;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    margin: -5px 0;
}
.text-box p ,
.text-box span ,
.text-box div ,
.text-box td ,
.text-box strong,
.text-box-fixed p ,
.text-box-fixed span ,
.text-box-fixed div ,
.text-box-fixed td ,
.text-box-fixed strong {
    color: #000000;
}
.text-box div.bg-blue ,
.text-box div.bg-red ,
.text-box-fixed div.bg-red ,
.text-box-fixed div.bg-blue
.text-box div.bg-blue div,
.text-box div.bg-red div,
.text-box-fixed div.bg-red div,
.text-box-fixed div.bg-blue div{
    color: #ffffff !important;
     overflow: hidden;
}

.text-box .price ,
.text-box-fixed .price,
.text-box .price div,
.text-box-fixed .price div {
    color: #ffffff !important;
    font-size: 18px;
}

.response {
    color: #ffffff;
}
.solde {
    border-radius: 5px;
    color: #ffffff !important;
    font-size: 30px;
    font-weight: 700;
}
.solde2 {
    border-radius: 5px;
    color: #ffffff !important;
    font-size: 30px;
    font-weight: 700;
}
.unit { font-size: 20px;
    font-weight: 700;
}
.forms label.error {
    color: #D54F4F;
    font-size: 11px;
    font-style: italic;
}

div.error, div.error p {
    color: #D54F4F;
    font-size: 14px;
}

.filtre {
    padding: 10px;
}

.filtre input[type=search] {
    background: #ffffff;
    color: #000000;
    border-radius: 5px;
    padding: 5px 0;
    border: none;
    width: 100%;
    height: 20px
}

.filtre input[type=submit] {
    color: #ffffff;
    background: #000000;
    border: 1px solid #ffffff;
    padding: 5px 0;
    display: block;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}



.consommation {
    background: #ffffff;
    color: #000000;
    padding: 0 0 15px;
    margin: 0 -20px;
}

.consommation form{
    padding:0 20px;
}

.product-row { padding: 0 20px;}
.product.first .details { margin:-15px -10px 0 ;}
.product { padding: 10px;}
.product,
.product .txt-product {
    color: #000000 !important;
    font-size: 16px;
    position: relative;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #000000;
    margin-bottom: 5px;
}
/*.product.first { margin: 0 -20px 0; padding: 0 !important;}
.product.first .pure-g div:first-child  { padding: 0 !important;}
.product.first { margin: -10px -20px 0; padding: 0 !important;}
.product.first .pure-g div:first-child  { padding: 0 !important;}*/

.product .pure-g div.txt-product {
    color: #000000 !important;
    padding: 10px !important;
}

.product .txt-product {
    border-bottom: none !important;
}

.product span,
.product span .txt-product span {
    display: block;
    color: #000000;
    font-size: 12px;
    position: relative;
    padding: 10px 0;
    text-align: left;
}

.product span {
    display: block;
    color: #000000;
    font-size: 12px;
    position: relative;
    padding: 10px 0;
    text-align: left;
}

.product .btn {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}

.product .pure-g {
    border-radius: 5px;
    overflow: hidden;
}

.product .pure-g > div:first-child {
}

.product .pure-g div {
    font-size: 14px;
    color: #ffffff !important;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.product .pure-g > div.price div {
    font-size: 20px;
    color: #ffffff !important;
}

.bg-blue,
.product .bg-blue {
    background: #0653a3 !important;
}

.bg-red,
.product .bg-red {

    background: #ff1800 !important;
}

.bg-black-round { background: #000000; padding: 5px 3px 5px 7px; border-radius: 50%; display: inline-block; width: 20px; height: 20px; line-height: 24px; text-align: center; text-decoration: none; color: #ffffff; margin: 10px;}
.bg-black-round .fa { font-size: 18px; color: #ffffff;}

.bg-grey-round { background: #2f3640; padding:  3px; border-radius: 50%; display: inline-block; width: 20px; height: 20px; line-height: 24px; text-align: center; text-decoration: none; color: #ffffff; margin:5px 10px;}
.bg-grey-round.decale {
    padding:  0px 0px 5px 5px !important;
}
.bg-grey-round .fa { font-size: 16px; color: #ffffff;}
.consommation-filtre {
    margin: 0 -20px;
    padding: 0 ;
   /* height: 100%; 
    min-height: 475px;*/
    height: 75vh;

    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(left,  #b3b3b3 0%, #b3b3b3 23%, #ffffff 23%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#b3b3b3), color-stop(25%,#b3b3b3), color-stop(23%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #b3b3b3 0%,#b3b3b3 23%,#ffffff 23%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #b3b3b3 0%,#b3b3b3 23%,#ffffff 23%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #b3b3b3 0%,#b3b3b3 23%,#ffffff 23%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to right,  #b3b3b3 0%,#b3b3b3 23%,#ffffff 23%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3b3b3', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.consommation-filtre .list table,
.consommation-filtre .list2 table { width: 100%;}
.consommation-filtre .list table th,
.consommation-filtre .list table td,
.consommation-filtre .list2 table th,
.consommation-filtre .list2 table td {  font-size: 16px;}
.consommation-filtre .list table img,
.consommation-filtre .list2 table img { width:40px !important; margin: 0 auto;}
.consommation-filtre .list table a,
.consommation-filtre .list2 table a { text-decoration: none;}
.consommation-filtre .list table tr{border:1px solid #000000}
.consommation-filtre .bordered {
    padding-bottom: 1px; border-bottom: 2px solid #000000;
}
.consommation-filtre * {
    color: #000000;
    font-size: 15px;
}

.btn-menu a {display: block; border: 1px solid #ffffff; padding: 5px 0; color: #ffffff; font-size: 14px; text-decoration: none; text-align: center; border-radius: 5px;
    margin: 0 1px 10px 1px;}
.btn-menu-2 a {display: block; border: 1px solid #ffffff; padding: 5px 0; color: #ffffff; font-size: 14px; text-decoration: none; text-align: center; border-radius: 5px;
    margin: 0 0 ;}

.name-compte {
    color: #000000;
    font-size: 16px;
    text-align: center;
    padding: 60px 0;
}
.menu .pure-g {  margin: 0 auto; max-width: 400px;}

.accueil-promo{background:#000000; padding-bottom: 140px;  max-width: inherit !important; margin: 0 auto !important;}
@media screen and (max-width: 480px) {
    .accueil-promo{ margin:0 -20px !important; max-width: inherit !important; }
}
.accueil-promo .list {
    display: block;
    border-bottom: 5px solid #cc1893;
    background: #000000;
    margin: 0 -20px;
}
.accueil-promo .list:first-child {
    border-top: 5px solid #cc1893;
    background: #ffffff;
}
.accueil-promo .list img {
    display: block;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
}
.accueil-promo .list a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    max-width: 480px;
    margin: 0 auto;
}
.accueil-promo .list a span.fa {
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    margin: 0 10px;
}
.accueil-promo .list table {
    width: 400px !important;
    margin: 0 auto;
}
.input   input[type=text] {
    margin: 9px 0 !important;
    padding: 5px 0 !important;
    text-indent: 10px;
}


.input textarea { width: 100%; color: #000000;}
.input {margin-bottom: 10px;}
.inputdate-form { background: #ffffff;          padding: 0;
    margin: 5px 0;
    border-radius: 3px;
    overflow: hidden}
.inputdate-form:after {
    clear: both;
    content:'';
    display: block;
    width: 100%;
}
.size12 { font-size: 12px;}
.size16 { font-size: 16px;}
.size18 { font-size: 18px;}
.size20 { font-size: 20px;}
.inputdate-form label { width: 30%; float: left; color: #000000; text-indent: 10px;}
.inputdate-form input[type=text],
.inputdate-form input[type=date]{ width: 70%; float: left; text-align: right;
    box-shadow: none;
    border:none;
    padding: 0 !important;
    color: #000000;
   /* background:#F2F1F0;*/
    text-indent: 10px;
    direction: rtl;
}
#ui-datepicker-div {width:91%;z-index : 10 !important}




/**PLACEHOLDER CSS**/
::-webkit-input-placeholder { /* WebKit browsers */
    color: #000000 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #000000 !important;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #000000 !important;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #000000 !important;
}

/**PLACEHOLDER CSS**/
.color-white::-webkit-input-placeholder { /* WebKit browsers */
    color: #ffffff !important;
}
.color-white:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ffffff !important;
    opacity:  1;
}
.color-white::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ffffff !important;
    opacity:  1;
}
.color-white:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #ffffff !important;
}

.no-border { border: none !important;}
.no-padd { padding: 0 !important;}
.input input[type=text].no-padd { padding: 0 !important;}
.input input[type=text].pad-tb-5 { padding:5px 0 !important;}
.no-marg { margin: 0 !important;}


.loadblock { padding: 80px 20px; border: 3px solid  #cc1893; max-width: 140px;
    margin: 0 auto;
}
.loading {width: 100%; height: 5px; background: #81d267;}

.titre.red { color: #ff1800; font-weight: 700; font-size: 16px;}
.radius-all-0 { border-radius: 0 !important; }
.radius-blbr-0 { border-bottom-left-radius: 0 !important; border-bottom-right-radius: 0 !important;}
.radius-tltr-0 { border-top-left-radius: 0 !important; border-top-right-radius: 0 !important;}
.radius-bltl-0 { border-bottom-left-radius: 0 !important; border-top-left-radius: 0 !important;}
.radius-brtr-0 { border-bottom-right-radius: 0 !important; border-top-right-radius: 0 !important;}

.search { position: relative;}
.search input[type=url],
.search input[type=date],
.search input[type=search],
.search input[type=email],
.search input[type=text] {
    border-radius:5px;
    border: none;
    padding:6px 0  !important;
    margin: 10px 0 !important;
    background:url("../img/fd-form.png") center center no-repeat #ffffff ;
}
.search button[type=submit],
.search button[type=reset],
.search button[type=button],
.search input[type=submit],
.search input[type=reset],
.search input[type=button] {
    z-index: 9;
    display: block !important;
    color: #FFF;
    background: #696969;
    width: 20px;
    height: 20px;
    padding: 0 !important;
    margin: 0;
    text-align: center;
    line-height: 18px;
    font-size: 15px;
    border-radius: 50%;
    right: 2px !important;
    top: 15px !important;
    position: absolute;
    border: none;

}
.input-blue { border: 2px solid #0653A3 !important; display: block;
    padding: 5px 0  !important;}
.radiockeck {background: #ffffff; border-radius: 3px;height: 32px;
    margin: 3px 5px;
    padding: 4px 20px!important;
    box-sizing: border-box;}
 .menu_pro {
    background:#000;
    /*height: 20%;*/
}
.menu_pro img{
	width:75%;
}
.inputdate-form .checkbox {
    color: red;
    left: 93%;
}
.inputdate-form label.module{
	width: 100%;
}
.success{
	color:green;
}
#printMessageBox{
	width: 50% !important;
	  left: 20% !important;
    margin: auto !important;
     font-size: 12px !important;
}