body{
   
}
.container{
    max-width: 1250px !important;
}
.title{
	left: 20px;
	text-align: center;
    line-height: 21.3px;
    font-family: "Futura Md", sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    background-color: transparent;
    font-variant: normal;
    font-size: 20.0px;
    vertical-align: 0;
}
.nav0{

}
.nav0 li a{
    color: #fff;
    text-align: center;
}
#nav1{
    font-size: 12px;
}
.nav1{
    border-right: dotted;
    height: 30px;
}
.nav1 a{font-size: 12px;}
.menu2{
    background-color: #212529;
    border-bottom: 10px solid #DC188E;
}

.navigation{

    height: 40px;
    color: #ffffff;
    font-family: "Futura Hv",sans-serif;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    /*left: 8px;*/
    
}
.navigation:hover{
    color: #000;
}

.contenu{
    text-align: center;
}
.retour{
    background-color: #DC188E;
    width: 335px;
    height: 47px;
    color: #fff;
    border-radius: 0;
    margin-top: 40px;
    margin-bottom: 40px;  
}
.t-c{
    line-height: 53.00px;
    font-family: "Futura Hv", sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #da1181;
    background-color: transparent;
    text-decoration: none;
    font-variant: normal;
    font-size: 40.0px;
    vertical-align: 0;
}
.p-corps{
    margin-bottom: 0.0px;
    line-height: 37.3px;
    font-family: "Futura Hv", sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    background-color: transparent;
    font-variant: normal;
    font-size: 32.0px;
    vertical-align: 0;
}
.image-pub{
    padding-bottom: 40px;
}
.txt1{
    text-align: center;
    margin-bottom: 6.7px;
    line-height: 25.3px;
    font-family: "Futura Md", sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    background-color: transparent;
    font-variant: normal;
    font-size: 21.0px;
    vertical-align: 0;
}
.savoir{
    width: 296px;
    height: 90px;
    background-color: #008AB5;
    color: #fff;
    font-size: 23px;
    font-style: italic;
    border-radius: 12px;
    box-shadow: ;
    margin-bottom: 50px;
    margin-top: 40px;
}
.t-d{
    
    line-height: 50.00px;
    font-family: "Futura Hv", sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #fff;
    background-color: transparent;
    text-decoration: none;
    font-variant: normal;
    font-size: 30.0px;
    vertical-align: 0;
}
.td{
    font-size: 24px;
}
.video{
    margin-top: 50px;
    margin:auto;
    width: 800px;
    height: 450px;
    background-color: grey;
    margin-bottom: 50px;
}
.vivre-sa-ville{

}
h4{
    color:  #fff;
    font-size: 15.7px;
}
.pied-page{
    color: #fff;
}
.navpied ul li a{
    color: #fff;
}
#pied{
    border-bottom: 
}
/*@media(min-width: 768px) and (max-width: 1200px)*/
@media(max-width: 1200px)
{
    .navbar1{
        flex-flow: row wrap !important;
    }

}
@media(max-width: 768px){
    .navbar2 ul li .nav1{
        border:none;
    }
    .t-c{
    line-height: 40.00px;
    font-family: "Futura Hv", sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #da1181;
    background-color: transparent;
    text-decoration: none;
    font-variant: normal;
    font-size: 20.0px;
    vertical-align: 0;
    }
    .p-corps,.txt1{
    margin-bottom: 0.0px;
    line-height: 24.3px;
    font-family: "Futura Hv", sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    background-color: transparent;
    font-variant: normal;
    font-size: 15.0px;
    vertical-align: 0;
    }
    .txt1{
    text-align: center !important;
    margin-bottom: 6.7px !important;
    font-family: "Futura Md", sans-serif !important;
    }
    .copyright{
        font-size: 10px;

    }
    .retour{
        width: 200px;
    }
    #doc,#mag,#annuaire{
        padding-left: 30px;
    }

    .savoir{
        width: 200px;
        ehight: 70px;
    }

}

@media(min-width: 768px) and (max-width: 992px){
    #comptePro{
        padding-left: 30px;
    }


}