body { font-family: Geneva, Arial, Helvetica, sans-serif; background: #FFFFFF; }
#left h2 {
	margin: 0 0 5px 0;
	padding: 0;
	color: #0099FF;
	clear: both;
	font-size: 11px;
}

#left p {
	margin: 0;
	padding: 0;
	font: 11px Geneva, Arial, Helvetica, sans-serif;
	color: #333333;
}
.shadetabs{
padding: 3px 0;
margin-left: 0;
margin-top: 15px 0;
margin-bottom: 0;
font-size: 11px;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}
.shadetabs li{
display: inline;
margin: 0;
}
.shadetabs li a{
text-decoration: none;
position: relative;
z-index: 1;
padding: 3px 7px;
margin-right: 3px;
border: 1px solid #CCCCCC;
color: #999999;
background: white url(shade.gif) top left repeat-x;
}
.shadetabs li a:visited{
color: #2d2b2b;
}
.shadetabs li a:hover{
text-decoration: underline;
color: #2d2b2b;
}
.shadetabs li a.selected{ /*selected main tab style */
position: relative;
top: 1px;
color: #333333
}
.shadetabs li a.selected{ border-bottom-color: white; }
.shadetabs li a.selected:hover{ text-decoration: none; }
.tabcontent{
display:none;
font-size: 11px;
margin: 10px;
}
@media print {
.tabcontent {
display:block !important;
}
}
.submit-button {
	font-size: 11px;
	padding: 2px 4px;
	margin: 0;
	border: 1px solid #666666;
	background: #FFFFFF;
}
.form {
	font-size: 11px;
	margin: 0;
	padding: 3px;
	border: 1px solid #666666;
	background: #FFFFFF;
}