@font-face {
	font-family: 'Futura-LT-Book';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/futura-lt-cufonfonts-webfont/FuturaLT-Book.woff') format('woff'),
	url("fonts/futura-lt-cufonfonts-webfont/FuturaLT-Book.woff") format("woff");
}
@font-face {
	font-family: "Libre-Baskerville";
	src: url("fonts/baskerville/LibreBaskerville-Italic.otf") format("truetype"),
	url("fonts/baskerville/LibreBaskerville-Italic.otf") format("truetype");
}
@font-face {
	font-family: "helvetica-light";
	src: url("fonts/helvetica/helvetica-neue-etext-w01-light.ttf") format("ttf"),
	url("fonts/helvetica/helvetica-neue-etext-w01-light.ttf") format("ttf");
}
@font-face {
	font-family: "helvetica-bold";
	src: url("fonts/Sans/Sans.ttf") format("ttf"),
	url("fonts/Sans/Sans.ttf") format("ttf");
}
/*@font-face {*/
/*font-family: "FuturaLT-book";*/
/*src: url("fonts/FuturaLT-Book.ttf") format("ttf"),*/
/*url("fonts/FuturaLT-Book.ttf") format("ttf");*/
/*}*/
@font-face {
	font-family:"Libre-Baskerville-Italic";
	src:url("fonts/libre_baskerville_italic/LibreBaskerville-Italic.eot?") format("eot"),
	url("fonts/libre_baskerville_italic/LibreBaskerville-Italic.woff") format("woff"),
	url("fonts/libre_baskerville_italic/LibreBaskerville-Italic.ttf") format("truetype"),
	url("fonts/libre_baskerville_italic/LibreBaskerville-Italic.svg#LibreBaskerville-Italic") format("svg");
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family: "LibreBaskervilleGlobal-Italic";
	src: url("/assets/fonts/libre-baskerville/LibreBaskerville-Italic.otf") format("otf");
}
@font-face {
	font-family: "LibreBaskervilleGlobal-Bold";
	src: url("/assets/fonts/libre-baskerville/LibreBaskerville-Bold.otf") format("otf");
}
@font-face {
	font-family: "LibreBaskervilleGlobal-Regular";
	src: url("/assets/fonts/libre-baskerville/LibreBaskerville-Regular.otf") format("otf");
}

.vsv_color,
a.vsv_color
{
	background-color: #DA1893;
	color: #FFFFFF;
}
.grey_bg_color {
	background-color: #E5E5E5;
}
.vsv_title_bar {
	height: 40px;
	line-height: 40px;
	text-transform: uppercase;
	font-size: 14px;
	margin: 15px 0;
}
.admin_main_menu_left {
	/*background-color: #000000;*/
}
body {
	background-color: #DCDCDC;
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}
body {
}
.main_admin_container {
	background-color: #ffffff;
}
.admin_main_banner {
	background-color:#000000; display:table; width:100%;
}
#vsv_form_submit_error {
	color: red;
	text-align: center;
}
.btn {
	cursor: pointer !important;
}
