
@media screen and (max-width: 1199px) {
	.container.main_rubrique_menu .row.text-center.h-100 .col {
		font-size: 12px;
	}
	.vs_main_menu .vs_ul_main_menu {
		font-size: 11px;
	}
	.accueil_content_img_btn .content_img_btn_img_top .content_img_btn_img_pright {
		padding-left: 0;
	}

	#navbarsRubriquesDefault ul.navbar li.nav-item:first-child {
		border-top: 1px solid aliceblue !important;
	}
    .container.main_rubrique_menu {
        height: auto;
    }
    .sub_filter_tab_content {
        width: 100% !important;
    }
	#google_translate_element_2 .skiptranslate.goog-te-gadget .goog-te-gadget-simple .goog-te-menu-value {
		margin: 0 !important;
	}
	#google_translate_element, #google_translate_element_2, .goog-te-gadget-simple {
		width: 100%;
		background: transparent;
	}
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
	#navbarsMainMenuDefault ul li {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
    .accueil_select_content_1 .title_1 {
        font-size: 30px;
    }
	.main_banner_container .vsv_main_ville_name_txt {
		padding: 105px 25px 0 25px;
		font-size: 20px !important;
	}
	.container {
		width: 100% !important;
		max-width: 100% !important;
	}
}

