
@media screen and (max-width: 320px) {
    .main_banner_container .vsv_main_ville_name_txt {
        min-height: 120px !important;
    }
    .accueil_select_content_1 .title_1,
    .accueil_select_content_1 .title_2,
    .accueil_select_content_2 .title_1,
    .accueil_select_content_2 .text_1{
        font-size: 14px !important;
        line-height: 20px !important;
        padding: 10px 0 !important;
        margin-bottom: 0 !important;
    }
    .accueil_select_content_1 .title_3 {
        font-size: 14px !important;
        line-height: 20px !important;
        margin-bottom: 0 !important;
        padding-bottom: 15px !important;
    }
    .accueil_select_content_2 {
        font-size: 14px !important;
        line-height: 20px !important;
    }
    .home_select_vsv {
        font-size: 12px !important;
        line-height: 18px !important;
    }
    .accueil_select_content_2 .title_2 {
        font-size: 14px !important;
        line-height: 20px !important;
        padding: 15px !important;
    }
    .plus_infos_tab .img_content td {
        font-size: 14px !important;
        line-height: 20px !important;
    }
    .main_banner_container .vsv_main_ville_name_txt {
        padding: 60px 25px 0 25px !important;
        margin-top: 30px;
    }
    .accueil_select_content_1 .select_list_ville_select {
        width: 250px;
    }
    #vsv_img_main_logo  {
        max-width: 150px !important;
    }

}
