
@media screen and (min-width: 1200px) {
    .main_banner_container #vsv_img_main_logo {
        padding: 15px;
    }
    #div_subcateg_annuaire_contents .subcateb_filter_banner input {
        margin-right: 5px !important;
    }
}
