body {
    background-image: url("../image/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

@media (min-width: 1249px) {
    .container {
        width: 1250px !important;
    }
}


.header_top {
    color: white;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 13px;
}

.menu {
    border-right: dotted;
    border-width: 3px;
}

.logo {
    margin-top: 40px;
}

.search {
    margin-top: 20px;
}

.subtitle {
    font-family: "Futura Hv", sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #ffffff;
    background-color: transparent;
    font-variant: normal;
    font-size: 32px;
    vertical-align: 0;
}

.index1 {
    z-index: 2;
    padding-top: 25px;
}

@media screen and (min-width: 1001px) {
    .upper {
        padding-top: 50px;
        margin-left: 150px;
    }
}

@media screen and (max-width: 1000px) {
    .upper {
        padding-top: 50px;
        text-align: center;
    }
}

@media screen and (max-width: 800px) {
    .upper {
        padding-top: 50px;
    }
}

.upper {
    padding-top: 50px;
    text-align: center;
}

.desc1 {
    line-height: 50px;
    font-family: "Futura Hv", sans-serif;
    font-style: normal;
    font-weight: bold;
    color: black;
    background-color: transparent;
    text-decoration: none;
    font-variant: normal;
    font-size: 29px;
    vertical-align: 0;
}

.nomargin {
    margin: 0;
    margin-top: 50px;
}

.desc_long {
    margin-left: 25px;
    margin-bottom: 13.3px;
    line-height: 29.3px;
    font-family: "Futura Md", sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    background-color: transparent;
    font-variant: normal;
    font-size: 21.0px;
    vertical-align: 0;
}
.no{
    margin: 0!important;
}

.button_desc {
    margin-top: 25px;
}

.paragraph {
    line-height: 38px;
    font-family: "Futura Hv", sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
    font-variant: normal;
    font-size: 29px;
    vertical-align: 0;
}

.title_categ {
    margin-bottom: 15px;
}

.paragraph2 {
    line-height: 38px;
    font-family: "Futura Hv", sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #DC188E;
    background-color: transparent;
    text-decoration: none;
    font-variant: normal;
    font-size: 29px;
    vertical-align: 0;
    margin-bottom: 50px;
    margin-top: 100px;
}

.desc_court {
    line-height: 26.7px;
    font-family: "Futura Md", sans-serif;
    font-style: normal;
    font-weight: normal;
    color: black;
    background-color: transparent;
    font-variant: normal;
    font-size: 20.0px;
    vertical-align: 0;
}
.img_col{
    padding-top: 100px;
}

.signup {
    background-image: url("../image/bg_signup.png");
    height: 300px;
    background-size: 100%, 300px;
    background-repeat: no-repeat;
}

.align_v {
    padding-top: 75px;
}

.m_info {
    margin-top: 60px;
    margin-bottom: 50px;
}
.part{
    padding-top: 50px;
    line-height: 28.00px;
    font-family: "Futura Md", sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
    text-decoration: none;
    font-variant: normal;
    font-size: 21.3px;
    vertical-align: 0;
    background-color:#DC188E ;
    padding-bottom: 15px;

}
.inf{
    background-color:#DC188E ;
}
.infoss{
    padding-top: 40px;
}
.ref {
    padding-top: 15px;
    background-color:#DC188E ;
}

.ref_title {
    margin-top: 10px;
}

.more {
    margin-top: 15px;
}

.midle_grat {
    text-align: center;
    margin-bottom: 2.7px;
    line-height: 42.7px;
    font-family: "Futura Hv", sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #ffffff;
    background-color: transparent;
    font-variant: normal;
    font-size: 31px;
    vertical-align: 0;
}

.padded {
    margin-top: 100px;
}

.marged {

}

.pay {
    margin-top: 80px;
}

.imgs {
    width: 75%;
}

.small {
    height: 244px;
}

.pay_desc {
    margin-bottom: 4.0px;
    line-height: 24.0px;
    font-family: "Futura Md", sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
    background-color: transparent;
    font-variant: normal;
    font-size: 20.0px;
    vertical-align: 0;
}

.sub_pay {
    margin-left: 20px;
    color: black;
}

.footer {
    background-color: #DC1A95;
    height: 120px;
}

.icons {
    padding-top: 50px;
}

.share {
    color: white;
    font-size: 19px;
}

.footer_bottom {
    background-color: black;
    height: 80px;
    color: white;
}

.copyrignt {
    font-size: 15px;
}

.footer_content {
    padding-top: 20px;
    margin-left: 25px;
}

.date {
    font-size: 20px;
}

.reserved {
    font-size: 16px;
}

.body1 {
    width: 100%;
}

.before_footer {
padding-top: 100px;

}
.before_footer_l {
    padding-top: 100px;
    padding-bottom: 80px;

}
.pr_part{
    padding-top: 90px;
    padding-bottom: 20px;
    line-height: 41.40px;
    font-family: "Futura Bk", sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #e60e88;
    background-color: transparent;
    text-decoration: none;
    font-variant: normal;
    font-size: 34.7px;
    vertical-align: 0;
}
.link_header{
    color: white;
    font-family: Arial,sans-serif;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    line-height: 16px;
    font-size: 13px;
    display: block;
    cursor: pointer;
}
.link_header:hover{
    color: white;
    text-decoration: none;
}
.link_header:visited{
    color: white;
    text-decoration: none;
}
#container_all{
    background-color: white;
}
.pub{

    font-weight: bold;
    padding-top: 50px;
    line-height: 38.00px;
    font-family: "Futura Hv", sans-serif;
    font-style: normal;
    color: #d2006f;
    background-color: transparent;
    text-decoration: none;
    font-variant: normal;
    font-size: 29.3px;
    vertical-align: 0;
}
.slogan{

    text-align: center;
    line-height: 35px;
    font-family: "Futura Hv", sans-serif;
    font-weight: bold;
    color: #000000!important;
    background-color: transparent;
    font-variant: normal;
    font-size: 28px;
    vertical-align: 0;
}

.pink{
    color: #E334A7;
}
.var{
    text-align: center;
    line-height: 30.7px;
    font-family: "Futura Md", sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    background-color: transparent;
    font-variant: normal;
    font-size: 24.0px;
    vertical-align: 0;
}
.presse{
    padding-top: 40px;
    line-height: 38.00px;
    font-family: "Futura Hv", sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #d2006f;
    background-color: transparent;
    text-decoration: none;
    font-variant: normal;
    font-size: 29.3px;
    vertical-align: 0;
}
.col-lg-24 {
    position: relative!important;
    min-height: 1px!important;
    padding-right: 10px!important;
    padding-left: 10px!important;
}

@media (min-width: 1200px) {
    .col-lg-24 {
        width: 20%!important;
        float: left!important;
    }
}

.other{
    padding-top: 100px;
    padding-bottom: 100px;
    line-height: 46.00px;
    font-family: "Futura Bk", sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #e60e88;
    background-color: transparent;
    text-decoration: none;
    font-variant: normal;
    font-size: 34.7px;
    vertical-align: 0;
}